{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/addemployee">Entry User Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{url}erp/listemployee">List User Login</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          User
        </h3>
        <div class="container-inner pb-4">
          <div class="group-sm pb-1">
            <div class="inline-group">
              <input id="employeeName" class="form-control form-sm" placeholder="Employee Name" data-key="RealName"> 
            </div>
          </div>
          
            <input type="hidden" id="empId" class="form-sm"  data-key="EmpId"> 
         
          <div class="group-sm pb-1">
            <input type="text" id="empHP" class="form-control form-sm" placeholder="Phone Number" data-key="Phone">
          </div>
          <div class="group-sm pb-1">
            <input type="email" id="empMail" class="form-control form-sm" placeholder="Email"  data-key="Email">
          </div>
          <div class="group-sm pb-1">
            <input type="text" id="empWP" class="form-control form-sm" placeholder="Unit Kerja"  data-key="Workplace">
          </div>
          <div class="group-sm pb-1">
            <select  class="form-control form-sm" id="MobileLogin" data-key="UserType">
              <option value="">--jenis user login app mobile--</option>
              <option value="2">Internal Divisi</option>
              <option value="1">Non Fundraising</option>
              <option value="3">Freelance</option>
              </select>
          </div>
          <div class="group-sm pb-1">
            <input type="password" class="form-control pwds" placeholder="Password">
          </div>
          <div class="group-sm pb-1">
            <input type="password" class="form-control form-sm pwds" placeholder="Confirm Password" data-key="Password">
          </div>
        </div>
      </div>

      <div class="mt-5 container-inner">
        <button type="button" onclick="save_me()" class="btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Modal Sukses -->
<div class="modal fade" id="modal_sukses" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close ml-auto">
        <i class="ico ico-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="images/icons/icon-user-check.svg" class="img-fluid" alt="">
        <div class="h4 text-primary mt-4">Add User Completed</div>
      </div>
    </div>
  </div>
</div>
</div>

<script>

function chkpwd()
{
  let returns = true
  let pwd = document.querySelectorAll('.pwds')
  if(pwd[1].value === ''){
    returns = false
  } else if(pwd[0].value !== pwd[1].value){
    returns = false
  }    
  return returns
}


async function save_me()
    {
        const fd = new FormData
        const forms = document.querySelectorAll('.form-sm')
        forms.forEach((e)=>{
            fd.append(e.dataset.key,e.value) 
        })  
        const check = chkpwd()
        if(check){
          const req = await fetch('{url}dtapi/addmember',{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            alert('data berhasil disimpan')
            location.href = '{url}erp/listemployee'
        }
        } else {
          alert('whoops! password tidak cocok atau belum dikonfirmasi')
        }
        
    }


    $('#employeeName').autocomplete({
      matchContains:false,   
      autoFill:false, 
      mustMatch:true, 
      source: async (req,res)=>{
        let hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        let q = await fetch('{url}dtapi/getallemployee?q=' + req.term,{
            method: 'GET',
            headers: hdr
            })
        let r = await q.json()
        if(q.ok){
            let data = []
            r.data.forEach((e)=>{
            let obj = {
                label: e.Name,
                value: e.Name,
                Id: e.Id,
                Email: e.Email,
                Phone: e.Phone,
                Workplace: e.Workplace,
                Division: e.Division
                }
                data.push(obj)
          })
          res(data)
          } else {
            $('#employeeName').autocomplete('close')
          } 
        },
        minLength: 1
    }).on( "autocompleteselect", function( event, ui ) {
    document.querySelector('#empId').value = ui.item.Id
    document.querySelector('#empHP').value = ui.item.Phone
    document.querySelector('#empMail').value = ui.item.Email
    document.querySelector('#empWP').value = ui.item.Workplace
    const div = ui.item.Division === 'Fundraising' ? 2 : 1
    document.querySelector('#MobileLogin').value = div
  } )
</script>

{footer}