{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Transfer History</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#" class="btn btn-primary btn-icon" data-toggle="modal">
          SELECT DATE
        </a>
        <a href="#import" class="ml-2" data-toggle="modal">
          <i class="ico ico-file-ex middle"></i>
        </a>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Date</td>
            <td scope="col" class="text-center">Source of Fund</td>
            <td scope="col" class="text-center">Transfer Type</td>
            <td scope="col" class="text-center">Recipient Account</td>
            <td scope="col" class="text-center">Amount</td>
            <td scope="col" class="text-center">Message</td>
            <td scope="col" class="text-center">Beneficiary Email</td>
          </tr>
        </thead>
        <tbody>
         <!--<tr>
            <td class="text-center" style="width: 10px;">1</td>
            <td class="text-center">12/01/2022</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Transfer Other Bank</td>
            <td class="text-center"><a href="#recipeintDetail" data-toggle="modal">Detail</a> </td>
            <td class="text-center"><a href="#message" data-toggle="modal">Detail</a> </td>
            <td class="text-center">Lorem ipsum</td>
          </tr>-->
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
    let dt = ''
    async function load_data()
    {
        dt = $('.table-main').DataTable({
              "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
              "language": {
                  "emptyTable": "Data kosong",
                  "zeroRecords": "Data tidak ditemukan",
                  "paginate": {
                      "previous": "<span class='icon-fi-sr-caret-left'></span>",
                      "next": "<span class='icon-fi-sr-caret-right'></span>",
               }
              },
              "info": false,
              "ordering": false,
              "ajax": {
                        "url": "{url}dtapi/dtbifasthist",
                        "type": "POST"
                      }, 
              "processing": true,
              "serverSide": true,
              "columns": [
                  {"data":"No"},
                  {"data": (row)=>{
                    const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                      return `${(new Date(row.TrfDate)).toLocaleDateString('id-Id',opt)}`}
                  },
                  {"data":"SourceFund"},
                  {"data":"TrfType"},
                  {"data":"RecipientAccount"},
                  {"data": (row)=>{
                      return `Rp ${new Intl.NumberFormat('id-ID').format(row.Amount)}`}
                  },
                  {"data":"Message"},
                  {"data":"BeneficiaryEmail"}
              ]
                  })
    }
    load_data()
</script>

{footer}