{header}

<style>
  .zero {
    width: 0%
  }
  .half {
    width: 50%
  }
  .full {
    width: 100%
  }
</style>

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Entry BI Fast Transfer</a>
      </li>

    </ul>

    <div class="container-inner pt-5">
      <div class="custom-control custom-radio custom-control-inline mr-5">
        <input type="radio" id="multi" name="customRadioInline" class="custom-control-input">
        <label class="custom-control-label h5 text-primary" for="multi">Multi Transfer</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="single" name="customRadioInline" class="custom-control-input" checked>
        <label class="custom-control-label h5 text-primary" for="single">Single Transfer</label>
      </div>

      <div class="mt-5">
        <div class="tab-content" id="tabTable">
          <div class="tab-pane fade" id="singleTab" role="tabpanel">
            <form action="#">
              <div class="mb-4">
                <p>Transfer</p>
                <small class="form-text text-muted">Please fill in the required information to make a
                  transfer</small>
              </div>

              <div class="list-tr mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2">
                    <p class="mb-0">Select source of fund</p>
                    <small class="form-text text-muted">Select your source of fund this transaction</small>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <select class="custom-select form-sm bifast" data-key="source_fund" id="fund">
                     
                    </select>
                  </div>
                </div>
              </div>
              <div class="list-tr mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2">
                    <p class="mb-0">Transfer Type</p>
                    <small class="form-text text-muted">Select transfer type</small>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <div class="mb-1">
                      <select class="custom-select form-sm">
                        <option selected>Transfer Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="mb-1">
                      <input type="text" class="form-control form-sm bifast" data-key="trf_name" placeholder="Recipient Name" id="account">
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-tr mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2">
                    <p class="mb-0">Recipient account</p>
                    <small class="form-text text-muted">Type recipient account</small>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <div class="mb-1">
                      <select class="custom-select form-sm bifast" id="bic" data-key="bic">
                       
                      </select>
                    </div>
                    <div class="mb-1">
                      <input type="text" class="form-control form-sm bifast" id="account-number" data-key="trf_account" placeholder="Type account number">
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-tr mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2">
                    <p class="mb-0">Amount</p>
                    <small class="form-text text-muted">Input transfer amount</small>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <div class="input-group">
                      <div class="input-group-prepend ">
                        <div class="input-group-text rounded-0">IDR</div>
                      </div>
                      <input type="text" class="form-control form-sm bifast" placeholder="Type Amount" data-key="trf_amount">
                    </div>

                  </div>
                </div>
              </div>
              <div class="list-tr mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2">
                    <p class="mb-0">Message</p>
                    <small class="form-text text-muted">Optional</small>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <input type="text" class="form-control form-sm" placeholder="Type your message here">
                  </div>
                </div>
              </div>
              <div class="list-tr mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2">
                    <p class="mb-0">Beneficiary Email</p>
                    <small class="form-text text-muted">Optional</small>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <input type="text" class="form-control form-sm" placeholder="Type beneficiary email">
                  </div>
                </div>
              </div>
              <div class="list-tr-btn mb-4">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-2"></div>
                  <div class="col-lg-4 col-md-6 mb-2">
                    <button type="button" class="btn btn-success" onclick="startTransfer()">
                      <i class="ico ico-save mr-2"></i> TRANSFER
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>  
          <div class="tab-pane fade show active" id="multiTab" role="tabpanel">
            <form action="#">
              <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="multitransfer">
                    <label class="custom-file-label" for="multitransfer">Browse File to Upload</label>
                  </div>
                  
                  <div class="mt-2 hidden uploader">
                    <div class="progress">
                      <div class="progress-bar zero" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p id="status-upload">uploading file... please wait</p>
                    <div class="upload-success hidden">
                      File uploaded successfully
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="mt-4">
                <button type="button" class="btn-upload btn btn-success" onclick="uploader()">
                  <i class="ico ico-save mr-2"></i> UPLOAD
                </button>
                <a href="{url}views/erp/format-html/format-multi-transfer.xls" class="btn btn-success btn-icon" style="height: 40px;"  target="_BLANK">
                  <i class="ico ico-filter sub"></i> DOWNLOAD XLS SAMPLE
                </a>
              </div>
            </form>
          </div>  
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<script>

$('#account').autocomplete({
      matchContains:false,   
      autoFill:false, 
      mustMatch:true, 
      source: async (req,res)=>{
        let hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        let q = await fetch('{url}dtapi/getallemployee?q=' + req.term,{
            method: 'GET',
            headers: hdr
            })
        let r = await q.json()
        if(q.ok){
            let data = []
            r.data.forEach((e)=>{
            let obj = {
                label: e.Name,
                value: e.Name,
                BankName: e.BankName,
                BankAccount: e.BankAccount 
                }
                data.push(obj)
          })
          res(data)
          } else {
            $('#employeeName').autocomplete('close')
          } 
        },
        minLength: 1
    }).on( "autocompleteselect", function( event, ui ) { 
    const detail = (ui.item.BankName) == null ? [''] : (ui.item.BankName).split('-')
    document.querySelector('#bic').value = detail[0]
    document.querySelector('#account-number').value = ui.item.BankAccount  
  } )

</script>

<script>

  async function loadFund()
  {
     const fund = document.querySelector('#fund')
     fund.innerHTML = ` <option selected>Select source of fund</option>
                      <option value="BDINIDJA-000001446749">Bank Sandbox</option> `
    const req = await fetch('https://intranet.dtpeduli.org/website/dtapifund/loadfund')
    const res = await req.json()
    if(req.ok){
      for(let e of res.data){
        fund.innerHTML += `<option value="${e.BIC}-${e.BankAccount}">${e.BankName}</option>`
      }
      
    }
  }

  loadFund()


  async function loadBic()
  {
    const bic = document.querySelector('#bic')
    bic.innerHTML = ` <option selected>Type or select bank destination</option>`
    const req = await fetch('https://intranet.dtpeduli.org/website/dtapifund/loadbic')
    const res = await req.json()
    if(req.ok){
      for(let e of res.data){
        bic.innerHTML += `<option value="${e.BIC}">${e.BankName} (${e.BranchName})</option>`
      }
      
    }
  }

  loadBic()


  function checkBankAccount(source,target)
  {
     if(source == target){
       return true
     } else {
       return false
     }
  }


  async function startTransfer()
  {
     // bank lain
     let url = 'https://dev-intranet.dtpeduli.org/website/bifast/singletransfer' 
     const fd = new FormData
     const bifast = document.querySelectorAll('.bifast')
     for(let item of bifast){
      if(item.dataset.key == 'trf_name'){
        fd.append(item.dataset.key,((item.value).replace(/\s/g,'')).toUpperCase())
      } else {
        fd.append(item.dataset.key,item.value)
      }
     }

     const source = (document.querySelector('#fund').value).split('-')
     const target = document.querySelector('#bic').value

     const check = checkBankAccount(source[0],target)
     if(check){
       url = 'https://dev-intranet.dtpeduli.org/website/casa/singletransfersesama'
     }


     const req = await fetch(url,{
      method: 'POST',
      body: fd
     })
     const res = await req.json()
  }
</script>

<script> 
  async function uploader ()
  {
     const label = document.querySelector('.uploader')
     label.classList.remove('hidden') 
     const btn_upload = document.querySelector('.btn-upload')
     btn_upload.setAttribute('disabled','true')
     const file = document.querySelector('#multitransfer').files[0]
     const fd = new FormData
     fd.append('xls',file)
     const req = await fetch('{url}dtapi/uploadbifast',{
      method: 'POST',
      body: fd
     })
     const res = await req.json() 
     if(req.ok){
        const status = await multiTransfer(res.data)
        const progress = document.querySelector('.progress-bar')
        progress.classList.remove('zero')
        progress.classList.add('half')
        const st_upload = document.querySelector('#status-upload')
        st_upload.innerHTML = '50% upload... please wait'
        if(status.status !== undefined){
          progress.classList.remove('half')
          progress.classList.add('full')
          st_upload.innerHTML = '100% upload complete'
          location.reload()
        }
     }
  }
  async function multiTransfer (data) 
  {
    
    const hdr = new Headers
    hdr.append('Content-Type','application/json') 
     
    const req = await fetch('{url}dtapifund/multitrf',{
      method: 'POST',
      headers: hdr,
      body: JSON.stringify(data)
    })

    const res = await req.json()

    console.log(data)

    // return res
  }
</script>

 <script>
    if ($('#multi').is(':checked')) {
      $('#tabTable .tab-pane').removeClass('show active');
      $('#multiTab').tab('show')

    } else if ($('#single').is(':checked')) {
      $('#tabTable .tab-pane').removeClass('show active');
      $('#singleTab').tab('show')
    }

    $('#multi').change(function () {
      $('#tabTable .tab-pane').removeClass('show active');
      $('#multiTab').tab('show');
    });
    $('#single').change(function () {
      $('#tabTable .tab-pane').removeClass('show active');
      $('#singleTab').tab('show');
    });
  </script>

{footer}