{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/corp-master">List Corporate Master Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{url}erp/entry-corp-master">Entry Corporate Master Data</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="{url}erp/entry-corp-master" class="btn btn-success">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table  class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Corporate Name</td>
            <td scope="col" class="text-center">Corporate Type</td>
            <td scope="col" class="text-center">Branch</td>
            <td scope="col" class="text-center">PIC Corporate</td>
            <td scope="col" class="text-center">PIC Corporate Number</td>
            <td scope="col" class="text-center">PIC Internal</td>
            <td scope="col" class="text-center">PIC Internal Number</td>
            <td scope="col" class="text-center">Corporate Logo</td>
            <!--<td scope="col" class="text-center">PDF Proposal</td>
            <td scope="col" class="text-center">PDF Additional Document</td>
            <td scope="col" class="text-center">Meeting Result</td>-->
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">089787182737</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">089787182737</td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
            <td class="text-center">
              <a href="#" class="mx-2">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">089787182737</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">089787182737</td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">
              -
            </td>
            <td class="text-center">
             -
            </td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
            <td class="text-center">
              <a href="#" class="mx-2">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Tunjangan -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Meeting Result Detail</h5>

      </div>
      <div class="modal-body detail-note">
       
      </div>
    </div>
  </div>
</div>

<script>
 // const urls = ('{url}').replace('/website','')
 const urls = '{url}'
  let dt = ''
  let url = "{url}dtapinew/corpmasterdt"
  function showNote(cls)
  {
     const note = document.querySelector('.' + cls).innerHTML
     document.querySelector('.detail-note').innerHTML = note
  }
  
  function load_data()
  {
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
      dt.destroy()
      url = "{url}dtapinew/corpmasterdt?term=" + fnd
    } else { 
      dt.destroy()
      url = "{url}dtapinew/corpmasterdt"
    }
    load_data2()
  }
  async function load_data2() {
    
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": "CorpName" },
          { "data": "CorpType" },
          { "data": (row)=>{
             if(row.CorpBranch == null || row.CorpBranch == ''){
               return ``
             } else {
               return row.CorpBranch
             }
          }  },
          { "data": "CorpPic" },
          { "data": "CorpPicNo" },
          { "data": "InternPic" },
          { "data": "InternPicNo" },
          { "data": (row)=>{
            if(row.MeetDoc != null){
              return ` <a href="${urls}uploads/${row.MeetDoc}">
                <i class="ico ico-download"></i>
              </a>`
            } else {
              return ``
            }
          }  } /*,
          { "data": (row)=>{
            if(row.PropDoc != null){
              return ` <a href="${urls}uploads/${row.PropDoc}">
                <i class="ico ico-download"></i>
              </a>`
            } else {
              return ``
            }
          }  },
          { "data": (row)=>{
            if(row.AddDoc != null){
              return ` <a href="${urls}uploads/${row.AddDoc}">
                <i class="ico ico-download"></i>
              </a>`
            } else {
              return ``
            }
          }  },
          { "data": (row)=>{
            return ` 
            <span class="hidden note-${row.Id}">${row.MeetNote}</span>
            <a href="#detail" data-toggle="modal" onclick="showNote('note-${row.Id}')">Detail</a>`
          } }*/,
          { "data": (row)=>{
              return `<a href="#" class="mx-2" onclick="destroy(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>`
          } }
           
        ]
      });


    }
  

  load_data2()

  async function destroy(id)
  {
    const ask = confirm('apakah yakin menghapus?')
    if(ask){
      const req = await fetch('{url}dtapinew/corpmasterdel?id=' + id)
      if(req.ok){
        location.reload()
      }
    }
    
  }
</script>

{footer}