{header}
<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/custdata?token={token}">Entry Customer Master Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/custdatalist?token={token}">List Customer Master Data</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Customer Master Data
        </h3>
        <div class="container-inner">
          <div class="row">
            <div class="col-md-6">
              <div class="group-sm">
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Donator Name
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="Don..." data-key="DonatorName">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Nick Name
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="Nick Name" data-key="NickName">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Gender
                    </div>
                    <div class="col-md-8">
                      <select class="gender w-100 form-sm" data-key="Gender">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Place of Birth
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="Place of Birth" data-key="BirthPlace">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Date of Birth
                    </div>
                    <div class="col-md-8">
                      <div class="inline-group">
                        <input type="date" class="form-control form-sm" placeholder="Date of Birth" data-key="BirthDate">
                       <!-- <i class="ico ico-calendar"></i> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Address
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="Your Address" data-key="Address">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Phone Number
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="085.." data-key="Phone">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Email
                    </div>
                    <div class="col-md-8">
                      <input type="email" class="form-control form-sm" placeholder="Email" data-key="Email">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      KTP ID
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="Number KTP ID" data-key="KTP">
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Office Registration
                    </div>
                    <div class="col-md-8">
                      <select class="office-register w-100 form-sm" data-key="OfficeReg">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Material Group
                    </div>
                    <div class="col-md-8">
                      <select class="material-group w-100 form-sm" data-key="MaterialGroup">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="group-sm">
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      PIC
                    </div>
                    <div class="col-md-8">
                      <select class="pic w-100 form-sm" data-key="PIC">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Religion
                    </div>
                    <div class="col-md-8">
                      <select class="religion w-100 form-sm" data-key="Religion">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Marriage Status
                    </div>
                    <div class="col-md-8">
                      <select class="merriage w-100 form-sm" data-key="Marital">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Income
                    </div>
                    <div class="col-md-8">
                      <div class="d-flex">
                        <div class="currency-cn2">
                          Rp
                        </div>
                        <div class="w-100">
                          <select class="ammount w-100 form-sm" data-key="Income">
                            <option></option>
                            <option value="Lorem">Lorem</option>
                            <option value="Ipsum">Ipsum</option>
                            <option value="Dolor">Dolor</option>
                            <option value="sit amet">sit amet</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Degree
                    </div>
                    <div class="col-md-8">
                      <select class="degree w-100 form-sm" data-key="Degree">
                        <option></option>
                        <option value="Lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolor">Dolor</option>
                        <option value="sit amet">sit amet</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Tagging
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control form-sm" placeholder="Tagging" data-key="Tag">
                    </div>
                  </div>

                </div>
                <div class="row align-items-center">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <div class="mt-4">
                      <button type="button" class="btn btn-warning btn-sm">Add Tagging</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="mt-5 container-inner">
        <button type="button" onclick="save()" class="btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Modal Detail Tagging -->
<div class="modal fade" id="tagging" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Detail Tagging</h5>

    </div>
    <div class="modal-body">
      <div class="label-tag">
        #customerbaik
      </div>
      <div class="label-tag">
        #customersholeh
      </div>
    </div>
  </div>
</div>
</div>

<script>

$('.gender').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Gender",
      minimumResultsForSearch: -1
    });
    $('.office-register').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Office Registration",
      minimumResultsForSearch: -1
    });
    $('.material-group').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Material Group",
      minimumResultsForSearch: -1
    });
    $('.pic').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select PIC",
      minimumResultsForSearch: -1
    });
    $('.religion').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Religion",
      minimumResultsForSearch: -1
    });
    $('.merriage').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Marriage Status",
      minimumResultsForSearch: -1
    });
    $('.degree').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Degree",
      minimumResultsForSearch: -1
    });
    $('.ammount').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "1.000.000 - 5.000.000",
      minimumResultsForSearch: -1
    });
    $('.date').datepicker()


    async function save()
    {
        let fd = new FormData
        let form = document.querySelectorAll('.form-sm')
        form.forEach((e)=>{
            fd.append(e.dataset.key,e.value)
        })
        let hdr = new Headers
        hdr.append('Authorization','{token}')
        let q = await fetch('{url}dtapi/adddonator',{
            method: 'POST',
            body: fd,
            headers: hdr
        })
        if(q.ok){
            alert('data successfully sent')
        }
    }
</script>

{footer}