{header}
<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{url}erp/custdata">Entry Customer Master Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/custdatalist">List Customer Master Data</a>
    </li>
  </ul>
  <form action="#">
    <div class="card-over mb-4">
      <h3 class="title-box">
        Customer Master Data
      </h3>
      <div class="container-inner">
        <div class="row">
          <div class="col-md-6">
            <div class="group-sm">
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Donator Name
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="Don..." data-key="DonatorName">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Old Donator ID
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" data-key="FormerId" placeholder="Old Donator ID">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Nick Name
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="Nick Name" data-key="NickName">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Gender
                  </div>
                  <div class="col-md-8">
                    <select class="gender w-100 form-sm" data-key="Gender">
                      <option></option>
                      <option value="Laki-laki">Laki-Laki</option>
                      <option value="Perempuan">Perempuan</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Place of Birth
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="Place of Birth" data-key="BirthPlace">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Date of Birth
                  </div>
                  <div class="col-md-8">
                    <div class="inline-group">
                      <input type="text" class="form-control form-sm date" placeholder="Date of Birth"
                        data-key="BirthDate">
                      <i class="ico ico-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Province
                  </div>
                  <div class="col-md-8">
                    <input type="hidden" name="" id="prov-id" data-key="Province" class="form-sm">
                    <select style="width: 100%" class="province"></select>

                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Regency
                  </div>
                  <div class="col-md-8">
                    <input type="hidden" name="" id="reg-id" data-key="Regency" class="form-sm">
                    <select style="width: 100%" class="regency"></select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    District
                  </div>
                  <div class="col-md-8">
                    <input type="hidden" name="" id="dist-id" data-key="District" class="form-sm">
                    <select style="width: 100%" class="district"></select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Village
                  </div>
                  <div class="col-md-8">
                    <input type="hidden" name="" id="vill-id" data-key="Village" class="form-sm">
                    <select style="width: 100%" class="village"></select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Address
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="Your Address" data-key="Address">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Phone Number
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="085.." data-key="Phone">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Email
                  </div>
                  <div class="col-md-8">
                    <input type="email" class="form-control form-sm" placeholder="Email" data-key="Email">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    KTP ID
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="Number KTP ID" data-key="KTP">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Office Registration
                  </div>
                  <div class="col-md-8">
                    <select class="office-register w-100 form-sm" data-key="OfficeReg">
                      <option></option>
                      <option value="Lorem">Lorem</option>
                      <option value="Ipsum">Ipsum</option>
                      <option value="Dolor">Dolor</option>
                      <option value="sit amet">sit amet</option>
                    </select>
                  </div>
                </div>
              </div>

              <!--<div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Material Group
                  </div>
                  <div class="col-md-8">
                    <select class="material-group w-100 form-sm" data-key="MaterialGroup">
                      <option></option>
                      <option value="Lorem">Lorem</option>
                      <option value="Ipsum">Ipsum</option>
                      <option value="Dolor">Dolor</option>
                      <option value="sit amet">sit amet</option>
                    </select>
                  </div>
                </div>
              </div>-->
              <div class="bank-list">
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Bank Name
                    </div>
                    <div class="col-md-8 d-flex">
                      <input type="text" class="form-control form-sm bank-name" placeholder="Bank Name">
                      <button type="button" class="btn btn-primary rounded-0" onclick="addBank()">Add</button>
                    </div>
                  </div>
                </div>
                <div class="input-list">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Account Number
                    </div>
                    <div class="col-md-8 d-flex">
                      <input type="text" class="form-control form-sm bank-account" placeholder="Account Number">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="group-sm">
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Type Pekerjaan
                  </div>
                  <div class="col-md-8">
                    <select class="type_pekerjaan w-100 form-sm" data-key="Occupation">
                      <option></option>
                      <option value="Wiraswastawan">Wiraswastawan</option>
                      <option value="Swasta">Swasta</option>
                      <option value="PNS">PNS</option>
                      <option value="PNS">PNS</option>
                      <option value="BUMN">BUMN</option>
                      <option value="Pelajar">Pelajar</option>
                      <option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    PIC
                  </div>
                  <div class="col-md-8">
                    <!--<select class="pic w-100 form-sm" data-key="PIC">
                      <option></option>
                      <option value="Lorem">Lorem</option>
                      <option value="Ipsum">Ipsum</option>
                      <option value="Dolor">Dolor</option>
                      <option value="sit amet">sit amet</option>
                    </select>-->
                    <input type="hidden" name="" id="pic-val" class="form-sm" data-key="PIC">
                    <input type="text" style="border-radius: 0; height: 40px" class="pic w-100 form-control"
                      placeholder="type to search...">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Religion
                  </div>
                  <div class="col-md-8">
                    <select class="religion w-100 form-sm" data-key="Religion">
                      <option></option>
                      <option value="Islam">Islam</option>
                      <option value="Kristen">Kristen</option>
                      <option value="Katolik">Katolik</option>
                      <option value="Budha">Budha</option>
                      <option value="Hindu">Hindu</option>
                      <option value="Konghuchu">Konghuchu</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Marriage Status
                  </div>
                  <div class="col-md-8">
                    <select class="merriage w-100 form-sm" data-key="Marital">
                      <option></option>
                      <option value="Menikah">Menikah</option>
                      <option value="Belum Menikah">Belum Menikah</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Income
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex">
                      <div class="currency-cn2">
                        Rp
                      </div>
                      <div class="w-100">
                        <select class="ammount w-100 form-sm" data-key="Income">
                          <option></option>
                          <option value="Lorem">Lorem</option>
                          <option value="Ipsum">Ipsum</option>
                          <option value="Dolor">Dolor</option>
                          <option value="sit amet">sit amet</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Degree
                  </div>
                  <div class="col-md-8">
                    <select class="degree w-100 form-sm" data-key="Degree">
                      <option></option>
                      <option value="Lorem">Lorem</option>
                      <option value="Ipsum">Ipsum</option>
                      <option value="Dolor">Dolor</option>
                      <option value="sit amet">sit amet</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Tagging
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control form-sm" placeholder="Tagging" data-key="Tag">
                  </div>
                </div>

              </div>
              <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <div class="mt-4">
                    <button type="button" class="btn btn-warning btn-sm">Add Tagging</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mt-5 container-inner">
      <button type="button" onclick="save()" class="btn btn-success px-5">
        <i class="ico ico-save mr-2"></i> SUBMIT
      </button>
    </div>
  </form>
</div>
</div>
</div>

<!-- Modal Detail Tagging -->
<div class="modal fade" id="tagging" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Detail Tagging</h5>

      </div>
      <div class="modal-body">
        <div class="label-tag">
          #customerbaik
        </div>
        <div class="label-tag">
          #customersholeh
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  let propinsi = 0
  let kabupaten = 0
  let kecamatan = 0

  $('.regency').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Regency"
  })
  $('.district').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select District"
  })
  $('.village').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Village"
  })

  function wakeRegency() {
    $('.regency').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Regency",
      ajax: {
        url: `{url}dtapiconn/geoloc?target=kabupaten&id=${propinsi}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
    });
    $('.regency').on('select2:select', (e) => {
      kabupaten = e.params.data.id
      wakeDistrict()
      document.querySelector('#reg-id').value = e.params.data.text
    })
  }

  function wakeDistrict() {
    $('.district').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select District",
      ajax: {
        url: `{url}dtapiconn/geoloc?target=kecamatan&id=${kabupaten}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
    });
    $('.district').on('select2:select', (e) => {
      kecamatan = e.params.data.id
      wakeVillage()
      document.querySelector('#dist-id').value = e.params.data.text
    })

  }

  function wakeVillage() {
    $('.village').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Select Village",
      ajax: {
        url: `{url}dtapiconn/geoloc?target=kelurahan&id=${kecamatan}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
    });
    $('.village').on('select2:select', (e) => {
      document.querySelector('#vill-id').value = e.params.data.text
    })
  }


  $('.province').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Province",
    ajax: {
      url: `{url}dtapiconn/geoloc?target=propinsi`,
      dataType: 'json',
      processResults: function (data, params) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used 

        return {
          results: data.results
        }
      }
    }
  });
  $('.province').on('select2:select', (e) => {
    propinsi = e.params.data.id
    wakeRegency()
    document.querySelector('#prov-id').value = e.params.data.text
  })


</script>

<script>
  function addBank() {
    const elBank = `
      <div class="input-list">
        <div class="row align-items-center">
          <div class="col-md-4">
            Bank Name
          </div>
          <div class="col-md-8 d-flex">
            <input type="text" class="form-control form-sm bank-name" placeholder="Bank Name">
          </div>
        </div>
      </div>
      <div class="input-list">
        <div class="row align-items-center">
          <div class="col-md-4">
            Account Number
          </div>
          <div class="col-md-8 d-flex">
            <input type="text" class="form-control form-sm bank-account" placeholder="Account Number">
          </div>
        </div>
      </div>
    `
    const bankList = $('.bank-list');
    bankList.append(elBank)
  }

  let banks = []

  function serialBank() {
    const bank_name = document.querySelectorAll('.bank-name')
    const bank_account = document.querySelectorAll('.bank-account')
    let k = 0
    for (const item of bank_name) {
      banks.push({
        bank_name: item.value,
        bank_account: bank_account[k].value
      })
      k++
    }
    console.log(banks)
  }
</script>

<script>
  async function defaultPic() {
    const hdr = new Headers
    const token = await read_token()
    hdr.append('authorization', token)
    const req = await fetch('{url}dtapi/getprofile', {
      headers: hdr
    })
    const res = await req.json()
    if (req.ok) {
      document.querySelector('#pic-val').value = res.data[0].Id
      document.querySelector('.pic').value = res.data[0].RealName
    }
  }
  defaultPic()
</script>

<script>

  $('.pic').autocomplete({
    source: async (req, res) => {
      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getallusers?q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.Id + ' (' + e.RealName + ')',
            value: e.RealName,
            PicId: e.Id
          }
          data.push(obj)
        })
        res(data)
      }
    },
    minLength: 1
  }).on("autocompleteselect", function (event, ui) {
    document.querySelector('#pic-val').value = ui.item.PicId
  })


  $('.gender').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Gender",
    minimumResultsForSearch: -1
  });
  $('.office-register').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Office Registration",
    minimumResultsForSearch: -1
  });
  $('.type_pekerjaan').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Type Pekerjaan",
    minimumResultsForSearch: -1
  });
  $('.material-group').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Material Group",
    minimumResultsForSearch: -1
  });
  /* $('.pic').select2({
     theme: 'bootstrap4 select-sm',
     placeholder: "Select PIC",
     minimumResultsForSearch: -1
   }); */
  $('.religion').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Religion",
    minimumResultsForSearch: -1
  });
  $('.merriage').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Marriage Status",
    minimumResultsForSearch: -1
  });
  $('.degree').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "Select Degree",
    minimumResultsForSearch: -1
  });
  $('.ammount').select2({
    theme: 'bootstrap4 select-sm',
    placeholder: "1.000.000 - 5.000.000",
    minimumResultsForSearch: -1
  });
  $('.date').datepicker({
    format: 'yyyy-mm-dd'
  })


  async function save() {
    let fd = new FormData
    let form = document.querySelectorAll('.form-sm')
    let stop = 0
    form.forEach((e) => {
      if (e.classList.contains('bank-account') || e.classList.contains('bank-name')) {
        if (e.value == '') {
          stop++
        }
      } else {
        if (e.value == '') {
          stop++
        }
        fd.append(e.dataset.key, e.value)
      }
    })

    serialBank()
    fd.append('BankAccount', JSON.stringify(banks))

    let hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization', token)

    if (stop == 0) {
      let q = await fetch('{url}dtapi/adddonator', {
        method: 'POST',
        body: fd,
        headers: hdr
      })
      if (q.ok) {
        alert('data successfully sent')
      }
    } else {
      alert('whoops! data kosong')
    }

  }
</script>

{footer}