{header}
<div class="main-content-inner">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/custdata">Entry Customer Master Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/custdatalist">List Customer Master Data</a>
      </li>
    
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
          <i class="ico ico-filter sub"></i> FILTER
        </a>
        <a href="#" class="ml-2">
          <i class="ico ico-file-ex middle"></i>
        </a>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Donator ID</td>
            <td scope="col" class="text-center">Donator Name</td>
            <td scope="col" class="text-center">Nick Name</td>
            <td scope="col" class="text-center">Gender</td>
            <td scope="col" class="text-center">Place of Birth</td>
            <td scope="col" class="text-center">Date of Birth</td>
            <td scope="col" class="text-center">Province</td>
            <td scope="col" class="text-center">Regency</td>
            <td scope="col" class="text-center">District</td>
            <td scope="col" class="text-center">Village</td>
            <td scope="col" class="text-center">Address</td>
            <td scope="col" class="text-center">City</td>
            <td scope="col" class="text-center">Phone Number</td>
            <td scope="col" class="text-center">Email</td>
            <td scope="col" class="text-center">KTP ID</td>
            <td scope="col" class="text-center">Office Registration</td>
            <td scope="col" class="text-center">Type Pekerjaan</td>
            <td scope="col" class="text-center">PIC</td>
            <td scope="col" class="text-center">Religion</td>
            <td scope="col" class="text-center">Marriage Status</td>
            <td scope="col" class="text-center">Income</td>
            <td scope="col" class="text-center">Degree</td>
            <td scope="col" class="text-center">Tagging</td>
            <td scope="col" class="text-center">Transaction History</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Detail Tagging -->
<div class="modal fade" id="tagging" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Detail Tagging</h5>

    </div>
    <div class="modal-body" id="detail-tag">
      
      
    </div>
  </div>
</div>
</div>

<script>

let dt = ''
let tags = ''

     async function load_data(){

      const fnd = document.querySelector('.finder').value
    let url = "{url}dtapinew/loadcustdt"
    if (tags != '') {
      $('#tagging').modal('hide')
      dt.destroy()
       url = "{url}dtapinew/loadcustdt?term=" + tags + "&tag=1"
       tags = ''
    } else if (fnd != '' && dt != '') {
       dt.destroy()
       url = "{url}dtapinew/loadcustdt?term=" + fnd
    } else if (fnd == '' && dt != '') {
      dt.destroy()
      url = "{url}dtapinew/loadcustdt"
    }
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
        { "data": "No" },
          { "data": "DonatorId" },
          { "data": "DonatorName" },
          { "data": "NickName" }, 
          { "data": "Gender" }, 
          { "data": "BirthPlace" }, 
          { "data": "BirthDate" },  
          { "data": "Province" },  
          { "data": "Regency" },  
          { "data": "District" },  
          { "data": "Village" },   
          { "data": "Address" },
          { "data": (row)=>{
            return ''
          } }, 
          { "data": "Phone" }, 
          { "data": "Email" }, 
          { "data": "KTP" }, 
          { "data": "OfficeReg" },
          { "data": "Occupation" }, 
          { "data": "PIC" }, 
          { "data": "Religion" },
          { "data": "Marital" },  
          { "data": "Income" }, 
          { "data": "Degree" }, 
          { "data": (row)=>{
            return `<a href="#tagging" data-toggle="modal" data-tagging="${row.Tag}" onclick="openTag(this)">Detail</a>`
          } }, 
          { "data": (row)=>{
            return `<a href="#" onclick="openTransHist(${row.Id})">Detail</a>`
          } }, 
          { "data": (row)=>{
              return `<a href="#" class="mx-2"><i class="ico ico-pencil ico-warning"></i></a><a href="#" class="mx-2" onclick="del(${row.Id})"><i class="ico ico-trash"></i></a>`
          } }
           
        ]
      });

  
}

load_data()

function openTag(tag)
{
   const tags = tag.dataset.tagging.split(',')
   document.querySelector('#detail-tag').innerHTML = ''
   if(tags.length > 0){
    for(item of tags){
      document.querySelector('#detail-tag').innerHTML += `<div class="label-tag" onclick="set_tag('${item}');load_data()" style="cursor: pointer">
        #${item}
      </div>`
    }
   }
  
}

function set_tag(tagg)
{
   tags = tagg
}


function openTransHist(id)
{
  localStorage.removeItem('cust_trans_hist')
   localStorage.setItem('cust_trans_hist',id)
   location.href = '{url}erp/trans-hist'
}

async function del(id)
{
  const ask = confirm('apakah yakin akan menghapus?')
  if(ask){
    const req = await fetch('{url}dtapinew/custdatadel?id=' + id)
    if(req.ok){
      location.reload()
    }
  }
}
</script>

{footer}