{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/dcommit">Entry Donation Commitment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/dcommit-list">List Donation Commitment</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
          <i class="ico ico-filter sub"></i> FILTER
        </a>

        <a href="{url}views/erp/format-html/format-import-dcommit.xls" class="btn btn-primary btn-icon"  target="_BLANK">
          <i class="ico ico-filter sub"></i> DOWNLOAD XLS SAMPLE
        </a>
         
         <input type="file" name="" id="xls" accept=".xls" style="display: none" onchange="uploadMe()">
        <label for="xls" class="btn btn-primary btn-icon" style="margin: 0">
          IMPORT EXCEL
        </label>  
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-left">No</td>
            <td scope="col" class="text-left">Date</td>
            <td scope="col" class="text-left">Donator ID</td>
            <td scope="col" class="text-left">Donator Name</td>
            <td scope="col" class="text-left">Phone Number</td>
            <td scope="col" class="text-left">Pilar</td>
            <td scope="col" class="text-left">Program Utama</td>
            <td scope="col" class="text-left">Program Turunan</td>
            <td scope="col" class="text-left">Payment</td>
            <td scope="col" class="text-left">Jenis Simpanan</td>
            <td scope="col" class="text-left">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">Monday, 23 Mar 2022</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
            <td class="text-center">
              <a href="#updatePayment" data-toggle="modal" class="btn btn-danger btn-sm">
                UPDATE PAYMENT
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>


<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date dates" placeholder="Start Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date dates" placeholder="End Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <button type="button" data-dismiss="modal" class="btn btn-danger mx-2">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success mx-2" onclick="load_data()">
            <i class="ico ico-filter"></i> APPLY FILTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Modal Update Payment -->
<div class="modal fade" id="updatePayment" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" onclick="unload()">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Update Payment</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="dcommit-id">
        <input type="hidden" id="detail-id">
        <div class="form-group">
          <label>Payment Date</label>
          <div class="inline-group">
            <input id="detail-date" type="text" class="form-control date dcommit-detail" data-key="PaymentDate" >
            <i class="ico ico-calendar"></i>
          </div>
        </div>
        <!--<div class="form-group">
          <label>Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Rp.</span>
            </div>
            <input type="number" id="detail-amount" class="form-control dcommit-detail" placeholder="123" data-key="Amount">
          </div>
        </div>-->
        <div class="form-group">
          <label>Upload File</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input dcommit-detail" id="uploadFile" data-key="BuktiFile">
            <label class="custom-file-label" for="uploadFile">Upload File</label>
          </div>
        </div>
        <div class="form-group">
          <label>Cicilan</label>
          <select id="detail-cicilan" class="cicilan w-100 dcommit-detail form-control" data-key="Cicilan">
            
           
          </select>
        </div>
        <div class="form-group">
          <label>Status</label>
          <select class="status w-100 form-control dcommit-detail" data-key="Status"> 
            <option value="Unpaid">Belum Lunas</option>
            <option value="Paid">Lunas</option>
          </select>
        </div>
        <div class="mt-5 text-center">
          <button type="button" onclick="unload()" class="btn btn-danger mx-2" data-dismiss="modal">
            <i class="ico ico-cancel mr-1"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success mx-2" onclick="payMe()">
            <i class="ico ico-save mr-1"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Detail Payment</h5>

    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table table-detail">
          <thead>
            <tr>
              <td scope="col" class="text-left">No</td>
              <td scope="col" class="text-left">Date</td>
              <td scope="col" class="text-left">Ammount</td>
              <td scope="col" class="text-left">Status</td>
              <td scope="col" class="text-left">Payment Date</td>
              <td scope="col" class="text-left">File</td>
            </tr>
          </thead>
          <tbody class="data-detail">
            <!--<tr>
              <td class="text-center">1</td>
              <td class="text-center">Monday, 23 Mar 2022</td>
              <td class="text-center">lorem Ipsum</td>
              <td class="text-center">
                <a href="#">Paid</a>
              </td>
              <td class="text-center">Monday, 23 Mar 2022</td>
              <td class="text-center">
                <a href="#">
                  <i class="ico ico-download"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td class="text-center">Monday, 23 Mar 2022</td>
              <td class="text-center">lorem Ipsum</td>
              <td class="text-center">
                <a href="#">Unpaid</a>
              </td>
              <td class="text-center"></td>
              <td class="text-center">

              </td>
            </tr>
            <tr>
              <td class="text-center">3</td>
              <td class="text-center">Monday, 23 Mar 2022</td>
              <td class="text-center">lorem Ipsum</td>
              <td class="text-center">
                <a href="#">Waiting</a>
              </td>
              <td class="text-center">Monday, 23 Mar 2022</td>
              <td class="text-center">
                <a href="#">
                  <i class="ico ico-download"></i>
                </a>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    let dt = ''
    async function load_data() {

    const fnd = document.querySelector('.finder').value
    let url = "{url}dtapinew/dcommitdt"

    const dtx = document.querySelectorAll('.dates')

    if (fnd != '') {
       dt.destroy()
       url = "{url}dtapinew/dcommitdt?term=" + fnd
    } else if(dtx[0].value != '' && dtx[1].value != '') {
        dt.destroy()
       url = "{url}dtapinew/dcommitdt?s_date=" + dtx[0].value + "&e_date=" + dtx[1].value
    } else {}
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-left", }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return ((new Date(row.PaymentStart)).toLocaleDateString('id-ID',opt))
          }},
          { "data": "DonatorId" },
          { "data": "DonatorName" },
          { "data": "DonatorPhone" }, 
          { "data": "Pilar" },
          { "data": "ProgramUtama" }, 
          { "data": "ProgramTurunan" }, 
          { "data": (row)=>{
              return ` <a href="#detail" data-toggle="modal" onclick="showDetail(${row.Id})">Detail</a>`
          } },
          { "data": "Simpanan" }, 
          { "data": (row)=>{
              return `<a href="#" onclick="addPayment(${row.Id})" class="btn btn-danger btn-sm" id="e-${row.Id}">
                UPDATE PAYMENT
              </a>`
          } }
           
        ]
      });

  /*   */
  
}

load_data()

async function showDetail(id)
{
    $('.table-detail').DataTable().destroy()
    const req = await fetch('{url}dtapinew/dcommitcicil?id=' + id)
    const res = await req.json()
    if(req.ok){
        const detail = document.querySelector('.data-detail')
        let no = 1
       // const urls = ('{url}').replace('/website','')
        const urls = '{url}'
        const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
        detail.innerHTML = ''             
        for(const item of res.data){
            const pay = item.PaymentDate == null ? '-' : ((new Date(item.PaymentDate)).toLocaleDateString('id-ID',opt))
            const print = item.BuktiFile == null ? '-' : `<a href="${urls}uploads/${item.BuktiFile}" target="_BLANK"><i class="ico ico-download"></i>
                </a>`
            detail.innerHTML += `
            <tr>
                <td>${no}</td>
                <td>${((new Date(item.Created)).toLocaleDateString('id-ID',opt))}</td>
                <td>Rp ${item.Amount}</td>
                <td>${item.Status}</td>
                <td>${pay}</td>
                <td>${print}</td> 
            </tr>
            `
            no++
        }
       $('.table-detail').DataTable()
    }
}

async function addPayment(id)
{
    const awt = document.querySelector('#e-' + id)
    awt.innerHTML = 'loading...'
    awt.setAttribute('disabled',true)
    const req = await fetch('{url}dtapinew/dcommitcicilcheck?id=' + id)
    const res = await req.json()
    if(req.ok){
      document.querySelector('#dcommit-id').value = id
      document.querySelector('#detail-id').value = res.data[0].Id
      let cicilan_opt = ''
      for(let i = 0; i < res.data[0].CicilNumber; i++){
         const k = i + 1
         cicilan_opt += `<option value='${k}'>ke-${k}</option>`
      }
      document.querySelector('#detail-cicilan').innerHTML = cicilan_opt
      document.querySelector('#detail-cicilan').value = res.data[0].Cicilan
      // document.querySelector('#detail-amount').value = res.data[0].Amount
      document.querySelector('#detail-date').value = res.data[0].DueDate
      $('.date').datepicker({
        format: 'yyyy-mm-dd'
      })
      $('#updatePayment').modal('show')
    } else {
      awt.innerHTML = 'UPDATE PAYMENT'
      awt.removeAttribute('disabled')
      alert('tidak ada cicilan')
    }
   
}

function unload()
{
  const id = document.querySelector('#dcommit-id').value
  const awt = document.querySelector('#e-' + id)
    awt.innerHTML = 'UPDATE PAYMENT'
    awt.removeAttribute('disabled')
}

async function payMe()
{
    const fd = new FormData
    const data = document.querySelectorAll('.dcommit-detail')
    const id = document.querySelector('#detail-id').value
    let stop = 0
    for(const item of data){
        if(item.dataset.key == 'BuktiFile'){
          if(item.files.length == 0){
            stop++
          }
            fd.append(item.dataset.key,item.files[0])
        } else {
          if(item.value == ''){
            stop++
          }
            fd.append(item.dataset.key,item.value)
        }
    }
    if(stop == 0){
      const req = await fetch('{url}dtapinew/dcommitcicilupdate?id=' + id,{
        method: "POST",
        body: fd
    })
    const res = await req.json()
    if(req.ok){
        location.reload()
    }
    } else {
      alert('whoops! file atau tanggal tidak boleh kosong')
    }
    
}

async function uploadMe()
{
  const fd = new FormData
  const file = document.querySelector('#xls').files[0]
  fd.append("xls_upload",file)
  const req = await fetch('{url}dtapinew/importdcommit',{
    method: 'POST',
    body: fd
  })
  const res = await req.json() 
  if(req.ok){
     alert('berhasil import data')
     location.reload()
  } else {
     alert('whoops! ' + res.message)
     location.reload()
  } 
}
</script>

{footer}