{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/dcommit">Entry Donation Commitment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/dcommit-list">List Donation Commitment</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Donator Data
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Mobile Phone Number
                </div>
                <div class="col-md-8">
                  <input type="hidden" id="donator-id" class="form-sm" data-key="DonatorId">
                  <div class="inline-group">
                    <input id="mobileNumber" data-key="DonatorPhone" class="form-control form-sm" placeholder="type to search..." type="text">
                    <i class="select-arrow"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Donator Name
                </div>
                <div class="col-md-8">
                  <div class="inline-group">
                    <input id="donaturName" class="form-control form-sm" placeholder="Donator Name" data-key="DonatorName" disabled>
                    <i class="select-arrow"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-over mb-4">
        <h3 class="title-box">
          Program Data
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Sumber Dana
                </div>
                <div class="col-md-8">
                  <select class="form-control dana select form-sm" data-key="FundSource">
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Pilar
                </div>
                <div class="col-md-8">
                  <select class="pilar w-100 form-control form-sm" data-key="Pilar">
                     
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Utama
                </div>
                <div class="col-md-8">
                  <select class="utama program w-100 form-control form-sm" data-key="ProgramUtama">
                   
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Turunan
                </div>
                <div class="col-md-8">
                  <select class="turunan subprogram w-100 form-control form-sm" data-key="ProgramTurunan">
                     
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Detail Program
                </div>
                <div class="col-md-8">
                  <input type="hidden" class="form-sm" id="material" data-key="MaterialNumber">
                  <select class="detail form-control form-sm select detailProgram" data-key="DetailProgram" >
                    
                  </select>
                </div>
              </div>
            </div>
            <div id="detailProgramNotes"></div>
          </div>
        </div>
      </div>
      <div class="card-over mb-4">
        <h3 class="title-box">
          Payment Plan
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Start of Payment Plant
                </div>
                <div class="col-md-8">
                  <div class="inline-group">
                    <input type="text" class="form-control form-sm date" data-key="PaymentStart" placeholder="Select Date">
                    <i class="ico ico-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Next Date of Payment
                </div>
                <div class="col-md-8">
                  <div class="inline-group">
                    <input type="text" class="form-control form-sm date" data-key="NextDate" placeholder="Select Date">
                    <i class="ico ico-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Cicilan
                </div>
                <div class="col-md-8">
                  <select class="cicilan form-control form-sm w-100" data-key="Cicilan">
                    <option></option>
                    <option value="1">1 Bulan</option>
                    <option value="2">2 Bulan</option>
                    <option value="3">3 Bulan</option>
                    <option value="4">4 Bulan</option>
                    <option value="5">5 Bulan</option>
                    <option value="6">6 Bulan</option>
                    <option value="7">7 Bulan</option>
                    <option value="8">8 Bulan</option>
                    <option value="9">9 Bulan</option>
                    <option value="10">10 Bulan</option>
                    <option value="11">11 Bulan</option>
                    <option value="12">12 Bulan</option>
                    <option value="13">13 Bulan</option>
                    <option value="14">14 Bulan</option>
                    <option value="15">15 Bulan</option>
                    <option value="16">16 Bulan</option>
                    <option value="17">17 Bulan</option>
                    <option value="18">18 Bulan</option>
                    <option value="19">19 Bulan</option>
                    <option value="20">20 Bulan</option>
                    <option value="21">21 Bulan</option>
                    <option value="22">22 Bulan</option>
                    <option value="23">23 Bulan</option>
                    <option value="24">24 Bulan</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Amount
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm" placeholder="Amount" data-key="Amount">
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Payment Method
                </div>
                <div class="col-md-8">
                  <select class="form-control  form-sm   w-100" onchange="paymentMethodChange(this.value)" data-key="PaymentMethod">
                    <option></option>
                    <option value="mqp">MQ Pay</option>
                    <option value="va">Virtual Account</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list" id="paymentMethodField">
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Jenis Simpanan
                </div>
                <div class="col-md-8"> 
                  <select class="form-control form-sm" placeholder="Jenis simpanan" data-key="Simpanan">
                    <option value="">silakan pilih</option>
                    <option value="Tabungan">Tabungan</option>
                    <option value="Komitmen">Komitmen</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" onclick="saveMe()" class="btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>


<script>
  
  let dana = 0
  let pilar = 0
  let utama = 0
  let turunan = 0
  let detailcode = 0
  
  $('.select').select2({
    theme: 'bootstrap4 select-sm'
  })
  
  $('.dana').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select dana",
    ajax: {
          url: `{url}dtapinew/getdana`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        dana = e.params.data.id
      });
  
  
  $('.pilar').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select pilar",
    ajax: {
          url: `{url}dtapinew/getpilar`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        pilar = e.params.data.id
        wakeUtama()
        
      });
  
  function wakeUtama()
  {
      $('.utama').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select utama",
    ajax: {
          url: `{url}dtapinew/getutama?id=${pilar}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        utama = e.params.data.id
        wakeTurunan()
        
      });
  }    
  
  function wakeTurunan()
  {
      $('.turunan').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select turunan",
    ajax: {
          url: `{url}dtapinew/getturunan?id=${utama}&id2=${pilar}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
       turunan = e.params.data.id 
       detailcode = dana + pilar + utama + turunan 
       wakeDetail()
      }); 
  } 
  
  function wakeDetail()
  {
    $('.detail').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select detail",
    ajax: {
          url: `{url}dtapinew/getnewprogram?id=${detailcode}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
       const detail = (e.params.data.id).split('-')
       document.querySelector('#material').value = detail[0]
      }); 
  }
  </script>
  

<script>
  function paymentMethodChange(id) {
    console.log(id)
    const paymentMethodField = $('#paymentMethodField')
    if (id == 'mqp') {
      input = `
        <div class="row align-items-center">
          <div class="col-md-4">
            Phone Number
          </div>
          <div class="col-md-8">
            <input type="number" class="form-control form-sm" data-key="MQP" placeholder="Phone Number">
          </div>
        </div>
      `
      paymentMethodField.html(input)
    } else if (id == 'va') {
      input = `
      
        <div class="row align-items-center">
          <div class="col-md-4">
            Bank Option
          </div>
          <div class="col-md-8">
            <select class="form-control form-sm w-100" data-key="VA">
              <option></option>
              <option value="cimbs">CIMBS</option>
              <option value="bds">BDS</option>
            </select>
          </div>
        </div>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            Virtual Account Number
          </div>
          <div class="col-md-8">
            <input type="number" class="form-control form-sm" data-key="VANumber" placeholder="Phone Number">
          </div>
        </div>
      `
      paymentMethodField.html(input)
    } 
  }
  
  function detailProgramChange(id) {
    const detailProgramNotesField = $('#detailProgramNotes')
    if (id == 'dan lain lain') {
      const input = `
        <div class="input-list">
          <div class="row align-items-center">
            <div class="col-md-4">
              Notes
            </div>
            <div class="col-md-8">
              <div class="inline-group">
                <input type="text" class="form-control form-sm" data-key="ProgramNote" placeholder="Notes">
              </div>
            </div>
          </div>
        </div>`
      detailProgramNotesField.html(input)
    } else {
      detailProgramNotesField.html("")
    }
  }
</script>

<script>
    $('#mobileNumber').autocomplete({ source: async (req,res)=>{
 
 let hdr = new Headers
 const token = await read_token()
 hdr.append('Authorization',token)
 let q = await fetch('{url}dtapi/getdonatorbyphone?term=' + req.term,{
   method: 'GET',
   headers: hdr
 })
 let r = await q.json()
 if(q.ok){
    let data = []
    r.data.forEach((e)=>{
      let obj = {
        label: e.Phone + ' (' + e.DonatorName + ')',
        value: e.Phone,
        DonatorName: e.DonatorName,
        DonatorId: e.Id
      }
      data.push(obj)
    })
    res(data)
 } 


}}).on( "autocompleteselect", function( event, ui ) {
    document.querySelector('#donaturName').value = ui.item.DonatorName 
    document.querySelector('#donator-id').value = ui.item.DonatorId
  } )

  async function saveMe()
  {
    const fd = new FormData
    const data = document.querySelectorAll('.form-sm')
    for(const item of data){
       fd.append(item.dataset.key,item.value)
    }
    const req = await fetch('{url}dtapinew/dcommitadd',{
      method: "POST",
      body: fd
    })
    const res = await req.json()
    if(req.ok){
      location.href = '{url}erp/dcommit-list'
    }
  }

  $('.date').datepicker({
    format: 'yyyy-mm-dd'
  })

  </script>


  <!-- Modal Filter -->
  <div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="close">
            <i class="ico ico-back"></i>
          </button>
          <h5 class="modal-title text-primary pl-2">Filter</h5>

        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <label>Date</label>
              <div class="d-flex align-items-center">
                <div class="w-100">
                  <div class="inline-group">
                    <input type="text" class="form-control date" placeholder="Start Date">
                    <i class="ico ico-calendar"></i>
                  </div>
                </div>
                <div class="ww-01"></div>
                <div class="w-100">
                  <div class="inline-group">
                    <input type="text" class="form-control date" placeholder="End Date">
                    <i class="ico ico-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5 text-center">
              <button class="btn btn-danger mx-2">
                <i class="ico ico-cancel"></i> CANCEL
              </button>
              <button class="btn btn-success mx-2">
                <i class="ico ico-filter"></i> APPLY FILTER
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{footer}