{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/emp-target">List Employee Target</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/emp-target-hist">History Employee Target</a>
      </li>
    </ul>
    <div class="container-inner pt-4">
      <!-- <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div> -->
      <span class="await">loading...</span>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Employee Target</td>
            <td scope="col" class="text-center">Target</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#edit" data-toggle="modal" class="btn btn-primary">Update Target</a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

 <!-- Modal Add Tunjangan -->
 <div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Update Target</h5>

      </div>
      <div class="modal-body">
        <form action="#">
          <input type="hidden" id="edit-id">
          <div class="form-group">
            <label>Target</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
              </div>
              <input type="text" class="form-control emptarget" data-key="EmpTarget">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
              <i class="ico ico-cancel"></i> CANCEL
            </button>
            <button type="button" onclick="saveMe()" class="btn btn-success px-4 mx-2" data-toggle="modal">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let dt = ''

  async function checkData()
  {
     const awt = document.querySelector('.await')
     const req = await fetch('{url}dtapinew/emptargetchk')
     const res = await req.json()
     if(req.ok){
      await load_data() 
      awt.innerHTML = `
      <strong><p style='color: red'>Month: ${res.data[0]} <br/> Year: ${res.data[1]}
        </p></strong>
      `

     }
  }

  checkData()

  async function load_data()
  { 
     let url = '{url}dtapinew/emptargetdt'

     const find = document.querySelector('.finder').value
     if(find != ''){
       dt.destroy()
       url = '{url}dtapinew/emptargetdt&term=' + find
     } else {
       if(dt != ''){
        dt.destroy()
       }
     }

     dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data":"No" },
          { "data":"EmpName" },
          { "data":(row)=>{
             const target = row.EmpTarget == null ? 0 : row.EmpTarget
             return `Rp ${Intl.NumberFormat('id-ID').format(target)}`
          }},
          { "data": (row)=>{
            return `<a href="#edit" onclick="showMe(${row.Id})" data-toggle="modal" class="btn btn-primary">Update Target</a>`
          } },
        ]
      })
  }

  function showMe(id)
  {
     document.querySelector('#edit-id').value = id
  }

  async function saveMe()
  {
    const id = document.querySelector('#edit-id').value
    const fd = new FormData
    const data = document.querySelectorAll('.emptarget')
    let stop = 0
    let minus = 0
    for(const item of data){
      if(item.value == ''){
        stop++
      }

      if(parseFloat(item.value) < 0){
        minus++
      }

      fd.append(item.dataset.key,item.value)
    }

    if(stop == 0 && minus == 0){
    const req = await fetch('{url}dtapinew/emptargetreset?id=' + id,{
      method: 'POST',
      body: fd
    })
    if(req.ok){
      location.reload()
    }
   } else {
     if(minus > 0){
       alert('data minus')
     } else {
      alert('data kosong')
     }
   }
  }
   
</script>

{footer}