{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{url}erp/emp-target">List Employee Target</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{url}erp/emp-target-hist">History Employee Target</a>
          </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="row mb-4">
          <div class="col-md-4">
            <label>Employee Name</label>
            <select class="custom-select form-control" id="emp-name">
              
             
            </select>
          </div>
        </div>
        <a href="#" onclick="xlsExport()" class="btn btn-primary px-4">Export</a>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Employee Name</td>
            <td scope="col" class="text-center">Month</td>
            <td scope="col" class="text-center">Year</td>
            <td scope="col" class="text-center">Target</td>
            <td scope="col" class="text-center">Achivement</td>
            <td scope="col" class="text-center">%Achivement</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<script>
    async function loadEmp()
    {
        const req = await fetch('{url}dtapinew/getempname')
        const res = await req.json()
        if(req.ok){
            const elem = document.querySelector('#emp-name')
            elem.innerHTML = '<option value="">choose...</option>'
            for(const item of res.data){
                elem.innerHTML += `
                <option value='${item.Id}'>${item.Name}</option>
                `
            }
        }
    }

    loadEmp()

    async function xlsExport()
    {
            const id = document.querySelector('#emp-name').value
            const req = await fetch('{url}dtapinew/loademptarget?id=' + id)
            const res = await req.json()
            if(req.ok){
                let html = '<table><tr><th>No</th><th>Employee&nbsp;Name</th><th>Month</th><th>Year</th><th>Target</th><th>Achievement</th><th>Achievement&nbsp;Percentage</th></tr>'
                  let no = 1
                  for(const item of res.data){
                     html += `
                      <tr>
                        <td>${no}</td>
                        <td>${(item.EmpName).replace(/\s/g,'&nbsp;')}</td>
                        <td>${item.Month}</td>
                        <td>${item.Year}</td>
                        <td>${item.EmpTarget}</td>
                        <td>${item.Achievement}</td>
                        <td>${item.AchievementPercent}</td>
                      </tr>
                     `
                  }
                const cur = Date.now()
                let xls = document.createElement("a")
		        xls.href = "data:" + "application/vnd.ms-excel," + html
			    xls.download = "data_employee_target_" + cur + "_export.xls"
			    xls.click()
            } else {
                alert('whoops! employee not found')
            }
           
    }

let dt = ''

async function load_data()
  { 
     let url = '{url}dtapinew/emptargetlistdt'

     const find = document.querySelector('.finder').value
     if(find != ''){
       dt.destroy()
       url = '{url}dtapinew/emptargetlistdt?term=' + find
     }

     dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data":"No" },
          { "data":"EmpName" },
          { "data":"Month" },
          { "data":"Year" },
          { "data":(row)=>{
             const target = row.EmpTarget == null ? 0 : row.EmpTarget
             return `Rp ${Intl.NumberFormat('id-ID').format(target)}`
          }},
          { "data":(row)=>{
            const target = row.Achievement == null ? 0 : row.Achievement
             return `Rp ${Intl.NumberFormat('id-ID').format(target)}`
          } },
          { "data":"AchievementPercent" },
        ]
      })
  }

  load_data()

</script>

{footer}