{header}

<style>
  .hidden {
    display: none
  }
</style>

<!----->

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{url}erp/employeedata">Entry Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/employeelist">List Employee</a>
    </li>
  </ul>
  <form action="#">
    <input type="hidden" id="div-id">
    <span class="div-await hidden">loading...</span>
    <div class="card-over mb-4">
      <h3 class="title-box">
        Employee
      </h3>
      <div class="container-inner pb-4">
        <div class="row">
          <div class="col-md-5 pr-5">
            <div class="mb-1">
              <input type="text" class="form-control form-sm" placeholder="NIK" data-key="NIK">
            </div>
            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <input type="text" class="form-control form-sm" placeholder="Employee Name" data-key="Name">
            </div>
            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <select name="" id="wp" class="form-control form-sm req" data-key="Workplace">

                <option value="">--unit kerja--</option>

              </select>
            </div>

            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <select name="" id="div" class="form-control form-sm req" data-key="Division" onchange="matchDiv()">

                <option value="">--divisi--</option>
              </select>
            </div>

            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <select name="" id="dept" class="form-control form-sm req" data-key="Department">
                <option value="">--department--</option>
                <option value="All" data-key="pos">All Department</option>
              </select>
            </div>
            <div class="mb-1">

              <select name="" id="kp" class="form-control form-sm" data-key="KPId">
                <option value="NULL">--KP--</option>
              </select>
            </div>
            <div class="mb-1">

              <select name="" id="kpp" class="form-control form-sm" data-key="KPPId">
                <option value="NULL">--KPP--</option>
              </select>
            </div>


            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <select name="" id="pos" class="form-control form-sm req" data-key="Liability">

              </select>
            </div>

            <div class="mb-1">
             <input type="text" name="" class="form-control form-sm" placeholder="position detail" data-key="Liability_detail">
            </div>

            <div class="mb-1">
              <select class="ppdk form-control form-sm req" data-key="Pddk">
                <option>--PDDK--</option>
                <option value="SMU">SMU</option>
                <option value="D1">D1</option>
                <option value="D2">D2</option>
                <option value="D3">D3</option>
                <option value="D4">D4</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
                <option value="PROFESI">PROFESI</option>
                <option value="PASCA 1">PASCA 1</option> 
              </select>
            </div>
            <div class="mb-1">
              <select class="statusKerja select">
                <option>--Status Kerja--</option>
                <option value="Lorem">Lorem</option>
                <option value="Ipsum">Ipsum</option>
              </select>
            </div>

            <div class="mb-1">
              <input type="text" class="form-control form-sm" placeholder="% Gaji">
            </div>
          </div>
          <div class="col-md-5 pr-5">
            <div class="mb-1">
              <input type="text" class="form-control form-sm" placeholder="%KPTS">
            </div>
            <div class="mb-1">
              <div class="inline-group">
                <input type="text" class="form-control form-sm date" placeholder="Mulai Kerja">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="mb-1">
              <select class="jmlTanggungan select">
                <option>--Jumlah Tanggungan--</option>
                <option value="Lorem">Lorem</option>
                <option value="Ipsum">Ipsum</option>
              </select>
            </div>
            <div class="mb-1">
              <select class="jnsKelamin select">
                <option>--Jenis Kelamin--</option>
                <option value="Pria">Pria</option>
                <option value="Wanita">Wanita</option>
              </select>
            </div>
            <div class="mb-1">
              <select class="jnsKelamin select">
                <option>--Status BPJS--</option>
                <option value="Full">Full</option>
                <option value="JHT">JHT</option>
                <option value="KES">KES</option>
                <option value="Tidak Ikut">Tidak Ikut</option>
              </select>
            </div>
            <div class="mb-1">
              <select class="status select">
                <option>--Status--</option>
                <option value="Lorem">Lorem</option>
                <option value="Ipsum">Ipsum</option>
              </select>
            </div>
            <div class="mb-1">
              <textarea class="form-control form-sm" cols="30" rows="4" placeholder="Address Detail"></textarea>
            </div>
            <div class="mb-1">
              <select class="status select">
                <option>--City--</option>
                <option value="Lorem">Lorem</option>
                <option value="Ipsum">Ipsum</option>
              </select>
            </div>
            <div class="mb-1">
              <select class="status select">
                <option>--Jenis Kendaraan--</option>
                <option value="Motor">Motor</option>
                <option value="Mobil">Mobil</option>
                <option value="Motor + Mobil">Motor + Mobil</option>
                <option value="Tidak Ada">Tidak Ada</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-over mb-4">
      <h3 class="title-box">
        Istri
      </h3>
      <div class="container-inner pb-4">
        <div class="row">
          <div class="col-md-5 pr-5">
            <div class="mb-1">
              <select class="form-control form-sm" data-key="Istri">
                <option>--Jumlah Istri--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>

            <a href="#" class="btn btn-success mt-4">
              <i class="ico ico-user-add"></i> Add
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-over mb-4">
      <h3 class="title-box">
        Anak
      </h3>
      <div class="container-inner pb-4">
        <div class="row">
          <div class="col-md-5 pr-5">
            <div class="mb-1">
              <input type="text" class="form-control form-sm" data-key="Anak" placeholder="Jumlah Anak">
            </div>
            <div class="mb-1">
              <select class="tipe form-control form-sm" data-key="AnakTipe">
                <option>--Tipe--</option>
                <option value="Balita">Balita</option>
                <option value="TK">TK</option>
                <option value="SD">SD</option>
                <option value="SMP">SMP</option>
                <option value="SMA">SMA</option>
                <option value="PT">PT</option>
              </select>
            </div>

            <a href="#" class="btn btn-success mt-4">
              <i class="ico ico-user-add"></i> Add
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-over mb-4">
      <h3 class="title-box">
        Rekening
      </h3>
      <div class="container-inner pb-4">
        <div class="row">
          <div class="col-md-5 pr-5">
            <div class="mb-1"> 
              <select name="" id="bic" class="select form-control form-sm" placeholder="Nama Bank" data-key="BankName"></select>
            </div>
            <div class="mb-1">
              <input type="text" class="form-control form-sm" placeholder="Nomor Rekening" data-key="BankAccount">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-over mb-4">
      <h3 class="title-box">
        Employee
      </h3>
      <div class="container-inner pb-4">
        <div class="row">
          <div class="col-md-5 pr-5">
            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <input type="text" name="" id="" placeholder="0856" class="form-control form-sm req" data-key="Phone">
            </div>
             
            <div class="mb-1">
              <!--<span style="color: red">*</span>-->
              <input type="text" name="" id="" placeholder="email" class="form-control form-sm req" data-key="Email">
            </div>
            <div class="mb-1">
              <select class="grades grade form-control form-sm" data-key="Grade">
                
              </select>
            </div>
            <div class="mb-1">
              <select class="masaKerja form-control form-sm req" data-key="MasaKerja">
                <option>--Masa Kerja--</option>
                <option value="0">0 - 1</option>
                <option value="2">2 - 3</option>
                <option value="4">4 - 5</option>
                <option value="6">6 - 7</option>
                <option value="8">8 - 9</option>
                <option value="10">10 - 11</option>
                <option value="12">12 - 13</option>
                <option value="14">14 - 15</option>
                <option value="16">16 - 17</option>
                <option value="18">18 - 19</option>
                <option value="20">20 - 21</option>
                <option value="22">>21</option>
              </select>
            </div>
          </div>
          <div class="col-md-5 pr-5">
            <div class="mb-1">
              <div class="custom-file form-sm">
                <input type="file" class="custom-file-input icon-label" id="ktp">
                <label class="custom-file-label" for="ktp">
                  <span class="label-upload">KTP</span>
                </label>
              </div>
            </div>
            <div class="mb-1">
              <div class="custom-file form-sm">
                <input type="file" class="custom-file-input icon-label" id="ijazah">
                <label class="custom-file-label" for="ijazah">
                  <span class="label-upload">Ijazah</span>
                </label>
              </div>
            </div>
            <div class="mb-1">
              <input type="text" class="form-control form-sm" placeholder="Sisa Cuti">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 container-inner">
      <button type="button" onclick="save_me()" class="btn btn-success px-5">
        <i class="ico ico-save mr-2"></i> SUBMIT
      </button>
    </div>
  </form>


</div>
</div>
</div>


<!---->

<script>
   async function loadBic()
  {
    const bic = document.querySelector('#bic')
    bic.innerHTML = ` <option selected>Type or select bank destination</option>`
    const req = await fetch('https://intranet.dtpeduli.org/website/dtapifund/loadbic')
    const res = await req.json()
    if(req.ok){
      for(let e of res.data){
        bic.innerHTML += `<option value="${e.BIC}-${e.BankName}">${e.BankName} (${e.BranchName})</option>`
      }
      
    }
  }

  loadBic()
</script>

<script>
  function matchDiv()
  {
     const div = document.querySelector('#div').value
     const div_match = document.querySelectorAll('.div')
     for(const item of div_match){
       if(item.dataset.key != div){
          item.classList.add('hidden')
       } else {
          item.classList.remove('hidden')
       }
     }

  }
</script>


<script>

  
async function loadGrade()
{
   const req = await fetch('{url}dtapinew/grades')
   const res = await req.json()
   if(req.ok){
     let r = `<option>--Grade--</option>`
     for(const i of res.data){
       r += `<option value="${i.Grade}">${i.Grade}</option>`
     }
     document.querySelector('.grades').innerHTML = r
   } 
}

loadGrade()

  $('.select').select2({
    theme: 'bootstrap4 select-sm w-100'
  })

  async function load_liab() {
    const req = await fetch('{url}dtapi/loadliability')
    const res = await req.json()
    if (req.ok) {
      let r = ' <option value="">--jabatan--</option> '
      for (const row of res.data) {
        r += ` <option value="${row.Jabatan}">${row.Jabatan}</option>`
      }
      document.querySelector('#pos').innerHTML = r
    }
  }

  load_liab()

  async function load_div() {
    const req = await fetch('{url}dtapi/loaddivision')
    const res = await req.json()
    if (req.ok) {
      let dt = '<option value="">--divisi--</option>'
      res.data.forEach((e) => {
        dt += '<option value="' + e.Name + '" data-key="' + e.Name + '">' + e.Name + '</option>'
      })
      document.querySelector('#div').innerHTML = dt
    }
  }

  load_div()

  async function load_dept() {
    const req = await fetch('{url}dtapi/loaddept')
    const res = await req.json()
    if (req.ok) {
      let dt = '<option value="">--department--</option><option value="All" data-key="pos">All Department</option>'
      res.data.forEach((e) => {
        dt += '<option value="' + e.Name + '" class="div hidden" data-key="' + e.DivName + '">' + e.Name + '</option>'
      })
      document.querySelector('#dept').innerHTML = dt
    }
  }

  load_dept()


  async function load_wp() {
    const req = await fetch('{url}dtapi/loadworkplace')
    const res = await req.json()
    if (req.ok) {
      let dt = '<option>--silakan pilih--</option>'
      for (let row of res.data) {
        dt += `<option value="${row.Workplace}">${row.Workplace}</option>`
      }
      document.querySelector('#wp').innerHTML = dt
    }
  }

  load_wp()

  async function load_kp() {
    const req = await fetch('{url}dtapi/loadkp')
    const res = await req.json()
    if (req.ok) {
      let dt = '<option value="NULL">--silakan pilih--</option>'
      for (let row of res.data) {
        dt += `<option value="${row.KP}">${row.KP}</option>`
      }
      document.querySelector('#kp').innerHTML = dt
    }
  }

  load_kp()

  async function load_kpp() {
    const req = await fetch('{url}dtapi/loadkpp')
    const res = await req.json()
    if (req.ok) {
      let dt = '<option value="NULL">--silakan pilih--</option>'
      for (let row of res.data) {
        dt += `<option value="${row.KPP}">${row.KPP}</option>`
      }
      document.querySelector('#kpp').innerHTML = dt
      load_data()
    }
  }

  load_kpp()



  function required() {
    let req = document.querySelectorAll('.req')
    let reqd = 0
    for (let i of req) {
      if (i.value == '') {
        reqd++
      }
    }
    return reqd
  }

  function change_me(id, target) {
    const val = document.querySelector('#' + id)
    const check = val.options[val.selectedIndex].dataset.key
    const opts = document.querySelectorAll('.' + id)
    document.querySelector('#' + target).value = ''
    opts.forEach((e) => {

      if (e.dataset.key == check) {
        e.classList.remove('hidden')
      } else {
        e.classList.add('hidden')
      }

    })
  }


  async function save_me() {
    const fd = new FormData
    const forms = document.querySelectorAll('.form-sm')
    forms.forEach((e) => {
      if (e.dataset.key === null || e.dataset.key === undefined) { }
      else {
        fd.append(e.dataset.key, e.value)
      }
    })
    const checks = required()
    if (checks == 0) {
      const id = document.querySelector('#div-id').value
      const url = id === '' ? '{url}dtapi/addemployee' : '{url}dtapi/updateemployee?id=' + id
      const req = await fetch(url, {
        method: 'POST',
        body: fd
      })
      if (req.ok) {
        alert('data berhasil disimpan')
        location.reload()
      }
    } else {
      alert('data belum lengkap')
    }

  }

  async function load_data() {
    const local = localStorage.getItem('employeedata')
    const awaits = document.querySelector('.div-await')
    if (local === null) { } else {
      awaits.classList.remove('hidden')
      const data = JSON.parse(local)
      document.querySelector('#div-id').value = data.data

      const req = await fetch('{url}dtapi/getallemployee?id=' + data.data)
      const res = await req.json()
      if (req.ok) {
        awaits.classList.add('hidden')
        const forms = document.querySelectorAll('.form-sm')
        forms.forEach((e) => {
          const data = res.data[0][e.dataset.key]
          if (data !== undefined) {
            e.value = data
          }
        })
        localStorage.removeItem('employeedata')
      }


    }
  }
</script>

</div>
{footer}