{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="{url}erp/employeedata">Entry Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{url}erp/employeelist">List Employee</a>
    </li>
  </ul>
  <div class="container-inner">
    <div class="my-4 text-right">
      <div class="block-date">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" onclick="block_all(this.id)">
          <label class="custom-control-label" for="customCheck1">Back Date</label>
        </div>
      </div>
    </div>
    <table id="" class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-center">No</td>
          <td scope="col" class="text-center">Employee Name</td>
          <td scope="col" class="text-center">Unit Kerja</td>
          <td scope="col" class="text-center">Divisi</td>
          <td scope="col" class="text-center">Dept</td>
          <td scope="col" class="text-center">KP</td>
          <td scope="col" class="text-center">KPP</td>
          <td scope="col" class="text-center">Jabatan</td>
          <td scope="col" class="text-center">Position Detail</td>
          <td scope="col" class="text-center">PDDK</td>
          <td scope="col" class="text-center">NIK</td>
          <td scope="col" class="text-center">Status Kerja</td>
          <td scope="col" class="text-center">%GJ</td>
          <td scope="col" class="text-center">%KPTS</td>
          <td scope="col" class="text-center">Mulai Kerja</td>
          <td scope="col" class="text-center">Jumlah Tanggungan</td>
          <td scope="col" class="text-center">Jenis Kelamin</td>
          <td scope="col" class="text-center">Status</td>
          <td scope="col" class="text-center">Status BPJS</td>
          <td scope="col" class="text-center">Jenis Kendaraan</td>
          <td scope="col" class="text-center">Address Detail</td>
          <td scope="col" class="text-center">City</td>
          <td scope="col" class="text-center">Jumlah Anak</td>
          <td scope="col" class="text-center">Tipe Anak</td>
          <td scope="col" class="text-center">Nama Rekening</td>
          <td scope="col" class="text-center">Nomor Rekening</td>
          <td scope="col" class="text-center">No Telepon</td>
          <td scope="col" class="text-center">Alamat Email</td>
          <td scope="col" class="text-center">Grade</td>
          <td scope="col" class="text-center">Masa Kerja</td>
          <td scope="col" class="text-center">KTP</td>
          <td scope="col" class="text-center">Ijazah</td>
          <td scope="col" class="text-center">Sisa Cuti</td>
          <td scope="col" class="text-center">Back Date</td>
          <!-- <td scope="col" class="text-center">Anggota Koperasi</td> -->
          <td scope="col" class="text-center">Koperasi</td>
          <td scope="col" class="text-center">Action</td>
        </tr>
      </thead>
      <tbody class="data">


      </tbody>
    </table>
  </div>


</div>
</div>
</div>

<!-- Modal Update Cuti -->
<div class="modal fade" id="updateCuti" tabindex="-1" aria-modal="false" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Update Cuti</h5>

      </div>
      <div class="modal-body">
         <input type="hidden" id="id_cuti">
          <div class="form-group">
            <label>Jumlah Cuti</label>
            <select class="form-control cuti" data-key="LeaveNumber">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>

          <div class="text-center mt-5">
            <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
              <i class="ico ico-cancel sub mt-1"></i> CANCEL
            </button>
            <button type="button" class="btn btn-success btn-lg mx-2 px-4"  data-dismiss="modal" onclick="update_cuti()">
              <i class="ico ico-save sub mt-1"></i> SUBMIT
            </button>
          </div>
       
      </div>
    </div>
  </div>
</div>

<!-- Modal ktp -->
<div class="modal fade" id="ktpDetail" tabindex="-1" aria-modal="false" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">KTP</h5>

      </div>
      <div class="modal-body">
        <div class="text-center">
          <img src="images/group-people-volunteering-foodbank-poor-people.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Ijazah -->
<div class="modal fade" id="ijazahDetail" tabindex="-1" aria-modal="false" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Ijazah</h5>

      </div>
      <div class="modal-body">
        <div class="text-center">
          <img src="images/group-people-volunteering-foodbank-poor-people.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal Detail Adress -->
<div class="modal fade" id="addressDetail" tabindex="-1" aria-modal="false" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Address Detail</h5>

      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, molestias sapiente animi nostrum vitae
      </div>
    </div>
  </div>
</div>

<!-- Modal detail koperasi -->
<div class="modal fade" id="koperasiDetail" tabindex="-1" aria-modal="false" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Koperasi Detail</h5>

      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <td>No</td>
              <td>Koperasi</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Kopmu</td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="ckopmu">
                  <label class="custom-control-label" for="ckopmu"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                Kopentren
              </td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="kpopentren">
                  <label class="custom-control-label" for="kpopentren"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                BMT
              </td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cbmt">
                  <label class="custom-control-label" for="cbmt"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="button" class="btn btn-danger btn-lg px-4" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  let dt = ''
  async function load_data() {
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
      dt.search(fnd).draw()
    } else {
      /* const req = await fetch('{url}dtapi/getallemployee')
       const res = await req.json()
       if (req.ok) {
         let dt = ''
         let no = 1
         let blocked = ''
         for (let row of res.data) {
           let kp = (row.KPId == null) ? '-' : row.KPId
           let kpp = (row.KPPId == null) ? '-' : row.KPPId
           blocked = (row.BlockReportDate == '1') ? '' : 'checked'
           dt += `<tr>
             <td class="text-center" style="width: 60px;">${no}</td>
             <td class="text-center">${row.Name}</td>
             <td class="text-center">${row.Workplace}</td>
             <td class="text-center">${row.Division}</td>
             <td class="text-center">${row.Department}</td>
             <td class="text-center">${kp}</td>
             <td class="text-center">${kpp}</td>
             <td class="text-center">${row.Liability}</td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center">
               <a href="#addressDetail" data-toggle="modal">Detail</a>  
             </td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center">${row.Phone}</td>
             <td class="text-center">${row.Email}</td>
             <td class="text-center"></td>
             <td class="text-center"></td>
             <td class="text-center">
               <a href="#ktpDetail" data-toggle="modal">KTP.jpg</a>
             </td>
             <td class="text-center">
               <a href="#ijazahDetail" data-toggle="modal">Ijazah.pdf</a>
             </td>
             <td class="text-center"></td>
             <td class="text-center">
               <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" id="check_${row.Id}" onclick="block_me(this.id)" ${blocked} >
                 <label class="custom-control-label" for="check_${row.Id}"></label>
               </div>
             </td> 
             <td class="text-center"></td>
             <td class="text-center">
               <a href="#koperasiDetail" data-toggle="modal">Lihat Detail</a>
             </td>
             <td class="text-center">
               <a style="cursor: pointer" onclick="edit_data(${row.Id})" class="mr-2">
                 <i class="ico ico-pencil ico-warning"></i>
               </a>
               <a href="#updateCuti" data-toggle="modal" class="btn btn-danger btn-sm">UPDATE CUTI</a>
             </td>
           </tr>`
           no++
         } 
         document.querySelector('.data').innerHTML = dt 
         
       } */
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": "{url}dtapi/dtallemployee",
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": "Name" },
          { "data": "Workplace" },
          { "data": "Division" },
          { "data": "Department" },
          { "data": "KPId" },
          { "data": "KPPId" },
          { "data": "Liability" },
          { "data": "Liability_detail" },
          { "data": "Pddk" },
          { "data": "NIK" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Anak" },
          { "data": "AnakTipe" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Grade" },
          { "data": "Period" },
          { "data": "Empty" },
          { "data": "Empty" },
          { "data": "Empty" },
          {"data":"Act2"}, 
          // {"data":"Empty"}, 
          { "data": "Empty" },
          { "data": "Act3" },
        ]
      });


    }
  }

  load_data()

  async function edit_data(id) {
    const data = {
      action: 'edit',
      module: 'employeedata',
      data: id
    }
    localStorage.setItem(data.module, JSON.stringify(data))
    location.href = '{url}erp/' + data.module + ''
  }


  async function block_me(id) {
    const status = document.querySelector('#' + id).checked ? '0' : '1'
    const ids = id.replace('check_', '')
    const ask = confirm('Yakin akan memblokir/mengizinkan tanggal Laporan Harian?')
    if (ask) {
      const req = await fetch('{url}dtapi/setblockreportdate?id=' + ids + '&value=' + status)
      if (req.ok) {
        location.reload()
      }
    }

  }

  async function block_all(id) {
    const status = document.querySelector('#' + id).checked ? '0' : '1'
    const ask = confirm('Yakin akan memblokir/mengizinkan tanggal Laporan Harian? Proses memerlukan waktu beberapa saat. Harap tunggu sampai browser reload otomatis')
    if (ask) {
      const req = await fetch('{url}dtapi/setblockreportdate?id=&value=' + status)
      if (req.ok) {
        location.reload()
      }
    }

  }

  async function get_block_all() {
    const req = await fetch('{url}dtapi/getsettings?setting=ALL_EMPLOYEES_BLOCK_DATE')
    const res = await req.json()
    if (req.ok) {
      if (res.data[0].ValueSet == '1') {
        document.querySelector('#customCheck1').removeAttribute('checked')
      } else {
        document.querySelector('#customCheck1').setAttribute('checked', 'true')
      }

    }
  }
  get_block_all()

  
  function set_cuti(id,number){
    const cuti = document.querySelector('.cuti')
    const id_cuti = document.querySelector('#id_cuti')
    cuti.value = number
    id_cuti.value = id
  }

  async function update_cuti()
  {
    const cuti = document.querySelector('.cuti')
    const id_cuti = document.querySelector('#id_cuti')
    const fd = new FormData
    fd.append(cuti.dataset.key,cuti.value)
    const req = await fetch('{url}dtapinew/leavenumber?id=' + id_cuti.value,{
      method: 'POST',
      body: fd
    })
    if(req.ok){
      dt.ajax.reload()
    }
  }
</script>

{footer}