{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="{url}erp/list-program-digital">List Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/entry-program">Entry Program</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Program
        </h3>
        <div class="container-inner">
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="mb-2">
                <label>Program Name</label>
                <input type="text" class="form-control form-sm " placeholder="Program Name" data-key="ProgramName">
              </div>
              <div class="mb-2">
                <label>Sumber Dana</label>
                <select class="dana custom-select form-sm" data-key="Fund">
                  
                </select>
              </div>
              <div class="mb-2">
                <label>Pilar</label>
                <select class="pilar custom-select form-sm" data-key="Pilar">
                  
                </select>
              </div>
              <div class="mb-2">
                <label>Program Utama</label>
                <select class="utama custom-select form-sm" data-key="ProgramUtama">
                  
                </select>
              </div>
              <div class="mb-2">
                <label>Program Turunan</label>
                <select class="turunan custom-select form-sm" data-key="ProgramTurunan">
                  
                </select>
              </div>
              <div class="mb-2">
                <label>Detail Program </label>
                <select class="detail custom-select form-sm" data-key="DetailProgram">
                   
                </select>
              </div>
              <div class="mb-2">
                <label>Status </label>
                <select class="custom-select form-sm" data-key="Status">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mb-2">
                <label>MOU Duration </label>
                <div class="row">
                  <div class="col-6">
                    <div class="inline-group">
                      <input type="text" class="form-control form-sm date" placeholder="Start Date" data-key="MouStart">
                      <i class="ico ico-calendar"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="inline-group">
                      <input type="text" class="form-control form-sm date" placeholder="End Date" data-key="MouEnd">
                      <i class="ico ico-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <label>Target</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text rounded-0">Rp</div>
                  </div>
                  <input type="text" class="form-control form-sm" data-key="Target">
                </div>
              </div>
              <div class="mb-2">
                <label>Achieved</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text rounded-0">Rp</div>
                  </div>
                  <input type="text" class="form-control form-sm" data-key="Achieved" id="achiv" oninput="calcAmount()">
                </div>
              </div>
              <div class="mb-2">
                <label>Type of Fee</label>
                 <select class="custom-select form-sm mt-1" data-key="Fee">
                  <option value="">silakan pilih</option>
                  <option value="Direct Debit">Direct Debit</option>
                  <option value="Invoice">Invoice</option> 
                </select>
              </div>
              <div class="mb-2">
                <label>Percentage of Fee</label>
                <input type="text" class="form-control form-sm" placeholder="..%" data-key="FeePercent" oninput="calcAmount()" id="pct">
              </div>
              <div class="mb-2">
                <label>Amount of Fee</label>
                <input type="number" class="form-control form-sm" id="amt-fee" data-key="FeeAmount" disabled value="0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success px-5" onclick="saveMe()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>


<script>
  
  let dana = 0
  let pilar = 0
  let utama = 0
  let turunan = 0
  let detailcode = 0
  
  $('.custom-select').select2({
    theme: 'bootstrap4 select-sm'
  })
  
  $('.dana').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select dana",
    ajax: {
          url: `{url}dtapinew/getdana`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        dana = e.params.data.id
      });
  
  
  $('.pilar').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select pilar",
    ajax: {
          url: `{url}dtapinew/getpilar`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        pilar = e.params.data.id
        wakeUtama()
        
      });
  
  function wakeUtama()
  {
      $('.utama').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select utama",
    ajax: {
          url: `{url}dtapinew/getutama?id=${pilar}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        utama = e.params.data.id
        wakeTurunan()
        
      });
  }    
  
  function wakeTurunan()
  {
      $('.turunan').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select turunan",
    ajax: {
          url: `{url}dtapinew/getturunan?id=${utama}&id2=${pilar}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
       turunan = e.params.data.id 
       detailcode = dana + pilar + utama + turunan 
       wakeDetail()
      }); 
  } 
  
  function wakeDetail()
  {
    $('.detail').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select detail",
    ajax: {
          url: `{url}dtapinew/getnewprogram?id=${detailcode}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
       document.querySelector('#material').value = e.params.data.id
      }); 
  }
  </script>

 <script>
function calcAmount()
{
   const achiv = document.querySelector('#achiv').value
   const achive = parseFloat(achiv)
   const pct = document.querySelector('#pct').value
   const pcts = parseFloat(pct)
   if(achiv != '' && pct != '') { 
    if(!isNaN(achive) && !isNaN(pcts)){
     const amt = (achiv * (pct/100))
     document.querySelector('#amt-fee').value = amt
   } else {
    alert('whoops! nilai achieved atau percentage fee bukan bilangan')
   }
   } 
   
  
}



    $('.date').datepicker({
        format: "yyyy-mm-dd"
    })
 </script>

 <script>
    async function saveMe()
    {
        const fd = new FormData
        const data = document.querySelectorAll('.form-sm')
        let stop = 0
        let minus = 0
        let nan = 0
        for(const item of data){
            if(item.value == ''){
               stop++
            }
            if(item.dataset.key == 'Target' || item.dataset.key == 'Achieved'){
               const values = parseFloat(item.value)
               if(values < 0){
                 minus++
               }
            }
            if(item.dataset.key == 'FeePercent'){
               const allowed = /\d/g
               if(!allowed.test(item.value)){
                  nan++
               }
            }
            fd.append(item.dataset.key,item.value)
        }

        if(stop == 0){

          if(minus > 0 || nan > 0){
             alert('nilai minus atau persentase fee bukan bilangan')
          } else {
         
        const req = await fetch('{url}dtapinew/programdigitalnew',{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            alert('berhasil menyimpan data')
            location.reload()
        }

        }

      } else {
        alert('data kosong')
      }
    }
 </script>

{footer}