{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/corp-master">List Corporate Master Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/entry-corp-master">Entry Corporate Master Data</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Corporate Master Data
        </h3>
        <div class="container-inner">
          <div class="row">
            <div class="col-lg-4 mb-4">


              <div class="mb-2">
                <label>Corporate Type</label>
                <select name="" id="" class="form-control form-sm corp-type" data-key="CorpType">
                  <option value="Head Office">Head Office</option>
                  <option value="Branch">Branch</option>
                </select>
              </div>


              <div class="mb-2 branch hidden">
                <label>Corporate Branch</label>
                <input type="text" class="form-control form-sm" value="null" data-key="CorpBranch">
              </div>

              <div class="mb-2">
                <label>Corporate Name</label>
                <input type="text" class="form-control form-sm" data-key="CorpName" placeholder="Corporate Name">
              </div>

              
              <div class="mb-2">
                <label>PIC Corporate</label>
                <input type="text" class="form-control form-sm" data-key="CorpPic" placeholder="PIC Corporate">
              </div>
              <div class="mb-2">
                <label>PIC Corporate Number</label>
                <input type="text" class="form-control form-sm" data-key="CorpPicNo" placeholder="PIC Corporate Number">
              </div>
              <div class="mb-2">
                <label>PIC Internal</label>
                <input type="hidden" name="" id="pic-val" class="form-sm" data-key="InternPic">
                <input type="text" name="" placeholder="type to search..." id="pic" class="form-control" style="border-radius: 0; height: 40px"> 
              </div>
              <div class="mb-2">
                <label>PIC Internal Number</label> 
                  <input type="text" name="" id="pic-mobile" data-key="InternPicNo" class="form-control form-sm" style="border-radius: 0; height: 40px" disabled> 
              </div>
              <div class="mb-2">
                <label>Corporate Logo</label>
                <div class="custom-file form-sm">
                  <input type="file" class="custom-file-input icon-label form-sm" data-key="MeetDoc" id="document_Meeting"><i class="ico ico-doc-up-2 position-absolute" style="top: 10px; left: 8px; z-index:5;"></i>
                  <label class="custom-file-label" for="document_Meeting">
                    <span class="label-upload">Corporate Logo</span>
                  </label>
                </div>
              </div>
              <!--<div class="mb-2">
                <label>PDF Proposal</label>
                <div class="custom-file form-sm">
                  <input type="file" class="custom-file-input icon-label form-sm" id="pdf_proposal" data-key="PropDoc"> <i class="ico ico-doc-up-2 position-absolute" style="top: 10px; left: 8px; z-index:5;"></i>
                  <label class="custom-file-label" for="pdf_proposal">
                    <span class="label-upload">PDF Proposal</span>
                  </label>
                </div>
              </div>
              <div class="mb-2">
                <label>PDF Additional Document</label>
                <div class="custom-file form-sm">
                  <input type="file" class="custom-file-input icon-label form-sm" data-key="AddDoc" id="pdf_Additional"> <i class="ico ico-doc-up-2 position-absolute" style="top: 10px; left: 8px; z-index:5;"></i>
                  <label class="custom-file-label" for="pdf_Additional">
                    <span class="label-upload">PDF Additional Document</span>
                  </label>
                </div>
              </div>
              <div class="mb-2">
                <label>Meeting Result</label>
                <textarea class="form-control rounded-0 form-sm" data-key="MeetNote" cols="30" rows="4"></textarea>
              </div>-->
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success px-5" onclick="saveMe()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>

<script>

$('.corp-type').change(()=>{
   const elem = document.querySelector('.branch')
   const val = $('.corp-type').val()
   if(val == 'Branch'){
      elem.classList.remove('hidden')
   } else {
      elem.classList.add('hidden')
   }
})  

async function defaultPic()
  {
     const hdr = new Headers
     const token = await read_token()
     hdr.append('authorization',token)
     const req = await fetch('{url}dtapi/getprofile',{
      headers: hdr
     })
     const res = await req.json()
     if(req.ok){
       document.querySelector('#pic-val').value = res.data[0].RealName
       document.querySelector('#pic').value = res.data[0].RealName
       document.querySelector('#pic-mobile').value = res.data[0].Phone
     }
  }
  defaultPic()



    $('#pic').autocomplete({
    source: async (req, res) => {
      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getallusers?q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.RealName,
            value: e.RealName,
            PicId: e.RealName,
            Phone: e.Phone
          }
          data.push(obj)
        })
        res(data)
      }
    },
    minLength: 1
  }).on("autocompleteselect", function (event, ui) {
    document.querySelector('#pic-val').value = ui.item.PicId 
    document.querySelector('#pic-mobile').value = ui.item.Phone
  })
</script>

 <script>
    async function saveMe()
    {
        const url = '{url}dtapinew/corpmasteradd'
        const fd = new FormData
        let stop = 0
        const forms = document.querySelectorAll('.form-sm')
        for(let item of forms){
            switch(item.dataset.key){
                case "MeetDoc": 
                if(item.files[0] != undefined){
                    fd.append(item.dataset.key,item.files[0]); 
                } else {
                   stop++
                }
                break;
                default: 
                if(item.dataset.key != undefined){
                    if(item.value == ''){
                      stop++ 
                    }
                    fd.append(item.dataset.key,item.value); 
                } else {
                   
                }
                break;
            }
            
        }
        if(stop == 0){
        const req = await fetch(url,{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            alert('data berhasil disimpan')
            location.href = '{url}erp/corp-master'
        }
      } else {
         alert('whoops! data kosong')
      }
    }
 </script>

{footer}