{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Attendance (Out)</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#import" class="btn btn-primary btn-icon" data-toggle="modal">
          EXPORT
        </a>
      </div>
      <table id="" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td>No</td>
            <td>Date</td>
            <td>Time of
              Attendance Out</td>
            <td>Employee
              Name</td>
            <td>Unit Kerja</td>
            <td>Department</td>
            <td>Division</td>
            <td>Jabatan</td>
            <td>KP</td>
            <td>KPP</td>
            <td>Type
              Attendance</td>
            <td>Maps</td>
          </tr>
        </thead>
        <tbody class="data">
          
        </tbody>
      </table>


    </div>


  </div>
</div>
</div>

<!-- Modal Detail Lokasi -->
<div class="modal fade" id="detailLokasi" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Location</h5>

    </div>
    <div class="modal-body">
      <iframe scrolling="no" marginheight="0" marginwidth="0"
      id="loc"
      width="100%" height="500" frameborder="0"></iframe>

      <div class="text-center mt-4">
        <p class="mb-1">Lokasi Anda</p>
        <div class="h4 address-name">
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal Import -->
<div class="modal fade" id="import" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Export</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="date" class="form-control dates" placeholder="Start Date">
                 
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="date" class="form-control dates" placeholder="End Date">
                
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" onclick="exportme()"  class="btn btn-success btn-lg mx-2 px-4">
            EXPORT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4Ah0LbR1ArWtKBbXUZm6Sovv85JDlqU"></script> 

<script>


function set_search()
    {
      const search = document.querySelector('.btn-finder')
      if(search !== undefined){
        search.addEventListener('click',load_me)
      }
    }

  //  set_search()

  /*
    async function load_me()
    {
      $('.table-main').DataTable().destroy()
      const finder = document.querySelector('.finder')
      let url = '{url}dtapi/getallattendance?type=1'
        if(finder.value !== '' && finder !== undefined){
          url = '{url}dtapi/getallattendance?type=1&term=' + finder.value
        }
        const req = await fetch(url)
        const res = await req.json()
        if(req.ok){
            let dt = ''
            let no = 1
            for(let e of res.data){
                const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                dt += `<tr>
            <td style="width: 10px;">${no}</td>
            <td>${(new Date(e.AttendanceDate)).toLocaleDateString('id-Id',opt)}</td>
            <td>${e.AttendanceTime}</td>
            <td>${e.Name}</td>
            <td>${e.Workplace}</td>
            <td>${e.DivUser}</td>
            <td>${e.DeptUser}</td>
            <td>${e.LiabUser}</td>
            <td>${e.KPUser}</td>
            <td>${e.KPPUser}</td>
            <td>${e.WorkingType}</td>
            <td><a href="#detailLokasi" data-toggle="modal" onclick="getmap('${e.Latitude},${e.Longitude}')">Detail</a></td>
          </tr>`
          no++
            }
            document.querySelector('.data').innerHTML = dt
            $('.table-main').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
        })
        }
    }
 */

   let dt = ''
   let url = "{url}dtapi/getallattendance?type=1"

   function load_data()
   {
      const finder = document.querySelector('.finder').value
      if(finder != ''){
         url = "{url}dtapi/getallattendance?type=1&term=" + finder
         dt.destroy()
         load_me()
      } else {
         dt.destroy()
         load_me()
      }
   }

     
    async function load_me()
    {
      dt = $('.table-main').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
            "language": {
                    "emptyTable": "Data kosong",
                    "zeroRecords": "Data tidak ditemukan",
                    "paginate": {
                        "previous": "<span class='icon-fi-sr-caret-left'></span>",
                        "next": "<span class='icon-fi-sr-caret-right'></span>",
                 }
                },
                "info": false,
                "ordering": false,
                "ajax": {
                          "url": url,
                          "type": "POST"
                        }, 
                "processing": true,
                "serverSide": true,
                "columns": [
                  {'data': 'No'},
                  {'data': (row, type, val, meta)=>{
                    const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return (new Date(row.AttendanceDate)).toLocaleDateString('id-Id',opt)
                  }},
                  {'data': 'AttendanceTime'},
                  {'data': 'NameUser'},
                  {'data': 'Workplace'},
                  {'data': 'DeptUser'},
                  {'data': 'DivUser'},
                  {'data': 'LiabUser'},
                  {'data': 'KPUser'},
                  {'data': 'KPPUser'},
                  {'data': 'WorkingType'},
                  {'data': (row, type, val, meta)=>{
                    return `<a href="#detailLokasi" data-toggle="modal" onclick="getmap('${row.Latitude},${row.Longitude}')">Detail</a>`
                  }} 
                ]
        })
    }  

    load_me()

    function getmap(data)
    {
        document.querySelector('#loc').src = 'https://maps.google.com/maps?hl=en&q='+data+'&t=&z=14&ie=UTF8&iwloc=B&output=embed'

         /* Current Coordinate */ 
  const coord = data.split(',')
  let lat = coord[0];
  let lng = coord[1]
  var google_map_pos = new google.maps.LatLng(lat, lng);

  /* Use Geocoder to get address */
  var google_maps_geocoder = new google.maps.Geocoder();
  google_maps_geocoder.geocode(
    { 'latLng': google_map_pos },
    function (results, status) {
      if (status == google.maps.GeocoderStatus.OK && results[0]) {
        // console.log(results[0].formatted_address);
        $('.address-name').html(results[0].formatted_address);
      }
    }
  );
    }

    async function exportme()
    {

        let url = '{url}dtapi/getallattendance?type=1'
        const date = document.querySelectorAll('.dates')
        if(date[0].value !== '' && date[1].value !== ''){
            url = '{url}dtapi/getallattendance?type=0&start=' + date[0].value + '&end=' + date[1].value
        }
        const req = await fetch(url)
        const res = await req.json()
        let dt = '<table><tr><th>No</th><th>Date</th><th>Time&nbsp;of&nbsp;Attendance&nbsp;Out</th><th>Employee&nbsp;Name</th><th>Unit&nbsp;Kerja</th><th>Type&nbsp;Attendance</th><th>Maps</th></tr>'
        if(req.ok){ 
            let no = 1
            for(let e of res.data){
                const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                dt += '<tr><td>'+no+'</td><td>'+(new Date(e.AttendanceDate)).toLocaleDateString('id-Id',opt)+'</td><td>'+e.AttendanceTime+'</td><td>'+e.Name+'</td><td>'+e.Workplace+'</td><td>'+e.WorkingType+'</td><td>'+e.Latitude+','+e.Longitude+'</td></tr>'
          no++
            }
            let html = dt + '</table>'
            const cur = Date.now()
            let xls = document.createElement("a")
		    xls.href = "data:" + "application/vnd.ms-excel," + html
			xls.download = "data_employee_attendance_in_" + cur + "_export.xls"
			xls.click()
        }
    }

</script>

{footer}