{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="{url}erp/erpdept">Entry Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/erpdeptlist">List Department</a>
      </li>
    </ul>
    <div class="container-inner pt-4">
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Division</td>
            <td scope="col" class="text-center">Department</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody class="data">
          

        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
  let table = ''
  function load_data()
    {
      const finder = document.querySelector('.finder')
        if(finder.value != ''){
            table.search(finder.value).draw()
        }  else {
          table.search(finder.value).draw()
        }
    }

    async function load_data2()
    {
        const req = await fetch('{url}dtapi/loaddept')
        const res = await req.json()
        if(req.ok){
            let dt = ''
            let no = 1
            for(let row of res.data){
                dt += `<tr>
            <td class="text-center" style="width: 60px;">${no}</td>
            <td class="text-center">${row.DivName}</td>
            <td class="text-center">${row.Name}</td>
            <td class="text-center">
              <a class="mx-2" style="cursor: pointer" onclick="edit_data(${row.Id})">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a class="mx-2" style="cursor: pointer" onclick="clear_me(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>`
          no++
            }
            document.querySelector('.data').innerHTML = dt
        table = $('.table-main').DataTable({
          "ordering": false,
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
        })
        }
    }

    load_data2()

    async function clear_me(id)
    {
      const ask = confirm('apakah yakin akan menghapus?')
      if(ask){
        const req = await fetch('{url}dtapinew/deptdelete?id=' + id)
      if(req.ok){
        location.reload()
      }
      }
    }

    async function edit_data(id)
    {
        const data = {
          action: 'edit',
          module: 'erpdept',
          data: id
        }
        localStorage.setItem(data.module,JSON.stringify(data))
        location.href = '{url}erp/' + data.module + ''
    }
</script>

{footer}