{header}

<style>
  .hidden {
    display: none
  }
</style>

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/erpdiv">Entry Division</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/erpdivlist">List Division</a>
      </li>
    </ul>
    <form action="#">
      <input type="hidden" id="div-id">
      <span class="div-await hidden">loading...</span>
      <div class="card-over mb-4">
        <h3 class="title-box">
          Division
        </h3>
        <div class="container-inner">
          <div class="group-sm">
           
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Division
                </div>
                <div class="col-md-8">
                  <input class="form-control form-sm" placeholder="Division" data-key="Name">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success px-5" id="btn-save" onclick="save_me()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>

<script>

    // @ts-check

    async function save_me()
    {
        const btn = document.querySelector('#btn-save')
        btn.setAttribute('disabled',true)
        btn.innerText = 'menyimpan...'
        const fd = new FormData
        const forms = document.querySelectorAll('.form-sm')
        forms.forEach((e)=>{
            fd.append(e.dataset.key,e.value)
        })
        const id = document.querySelector('#div-id').value
        const url = id === '' ? '{url}dtapi/adddivision' : '{url}dtapi/updatedivision?id=' + id
        const req = await fetch(url,{
            method: 'POST',
            body: fd
        })
        const res = await req.json()
        if(req.ok){
            alert('data berhasil disimpan')
            forms.forEach((e)=>{
            e.value = ''
        })
            btn.removeAttribute('disabled')
            btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
            document.querySelector('#div-id').value = ''
        } else {
            alert(res.message)
            btn.removeAttribute('disabled')
            btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
        }
    }

    async function load_data(){
      const local = localStorage.getItem('erpdiv')
      const awaits = document.querySelector('.div-await')
      if(local === null){ } else {
        awaits.classList.remove('hidden')
        const data = JSON.parse(local) 
        document.querySelector('#div-id').value = data.data

        const req = await fetch('{url}dtapi/loaddivision?id=' + data.data)
        const res = await req.json()
        if(req.ok){
          awaits.classList.add('hidden')
          const forms = document.querySelectorAll('.form-sm')
          forms.forEach((e)=>{
              e.value = res.data[0][e.dataset.key]
          })
           localStorage.removeItem('erpdiv')
        }

        
      }
    }

    load_data()
</script>

{footer}