{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Daily Report</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#import" class="btn btn-primary btn-icon" data-toggle="modal">
          EXPORT
        </a>
      </div>
      <table id="" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Employee</td>
            <td scope="col" class="text-center">Date Activity</td>
            <td scope="col" class="text-center">Type Activity</td>
            <td scope="col" class="text-center">Activity Description</td>
            <td scope="col" class="text-center">Activity</td>
            <td scope="col" class="text-center">Start Time</td>
            <td scope="col" class="text-center">End Time</td>
            <td scope="col" class="text-center">Cost
              Center</td>
            <td scope="col" class="text-center">Progress</td>
            <td scope="col" class="text-center">Approver</td>
            <td scope="col" class="text-center">Status</td>
          </tr>
        </thead>
        <tbody class="data"> 
        </tbody>
      </table>


    </div>


  </div>
</div>
</div>

<!-- Modal Activity Description -->
<div class="modal fade" id="activityDesc" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Activity Description</h5>

    </div>
    <div class="modal-body">
      <p id="detail">
        
      </p>
    </div>
  </div>
</div>
</div>
<!-- Modal Activity -->
<div class="modal fade" id="activity" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Activity</h5>

    </div>
    <div class="modal-body">
      <p>
        <img src="" class="img-fluid" alt="" id="img-detail">
        <span id="img-alt">loading...</span>
      </p>
    </div>
  </div>
</div>
</div>

<!-- Modal Import -->
<div class="modal fade" id="import" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Export</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="date" class="form-control dates" placeholder="Start Date"> 
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="date" class="form-control dates" placeholder="End Date"> 
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" onclick="exportme()" class="btn btn-success btn-lg mx-2 px-4">
            EXPORT
          </button>
          <button type="button" onclick="exportme2()" class="btn btn-success btn-lg mx-2 px-4">
            EXPORT REPORT SUMMARY
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>

    let activity = []

    function spacer(text)
    {
        if(text === null || text === undefined){
            return ''
        } else {
            return text.replace(/\s/g,'&nbsp;')
        }
    }

    function show(id)
    {
         for(let x of activity){
            if(x[0] == id){
                document.querySelector('#detail').innerHTML = x[1]
                break
            }
        }
    }

    function set_search()
    {
      const search = document.querySelector('.btn-finder')
      if(search !== undefined){
        search.addEventListener('click',load_me)
      }
    }

    set_search()

   /* async function load_me()
    {
      $('.table-main').DataTable().destroy()
        let url = '{url}dtapi/getalldailyreport'
        const date = document.querySelectorAll('.dates')
        const finder = document.querySelector('.finder')
        if(date[0].value !== '' && date[1].value !== ''){
            url = '{url}dtapi/getalldailyreport?start=' + date[0].value + '&end=' + date[1].value
        } else if(finder.value !== '' && finder !== undefined){
          url = '{url}dtapi/getalldailyreport?term=' + finder.value
        }
        const req = await fetch(url)
        const res = await req.json()
        let dt = ''
        if(req.ok){ 
            let no = 1
            for(let e of res.data){
                activity.push([e.Id,(await spacer(e.ActivityNote))])
                const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                dt += '<tr><td>'+no+'</td><td>'+(await spacer(e.Employee))+'</td><td>'+((new Date(e.ActivityDate)).toLocaleDateString('id-ID',opt))+'</td><td>'+(await spacer(e.ActivityTitle))+'</td><td><a href="#activityDesc" data-toggle="modal" onclick="show('+e.Id+')">Detail</a></td><td><a href="#activity" data-toggle="modal">image.jpg</a></td><td>'+e.StartTime+'</td><td>'+e.EndTime+'</td><td>'+(await spacer(e.CostCenter))+'</td><td>'+e.Progress+'</td><td>'+(await spacer(e.Approver))+'</td><td>'+e.ReportStatus+'</td></tr>'
          no++
            }
        }
        document.querySelector('.data').innerHTML = dt
        $('.table-main').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
        })
    }
    */

    let dt = ''
    async function load_me()
    {
        let url = '{url}dtapi/getalldailyreport'
        const date = document.querySelectorAll('.dates')
        const finder = document.querySelector('.finder')
        if(date[0].value !== '' && date[1].value !== ''){
          dt.destroy()
            url = '{url}dtapi/getalldailyreport?start=' + date[0].value + '&end=' + date[1].value
        } else if(finder.value !== '' && finder !== undefined){
          dt.destroy()
          url = '{url}dtapi/getalldailyreport?term=' + finder.value
        } else {
          if(dt != ''){
            dt.destroy()
          }
        }
      dt = $('.table-main').DataTable({
              "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
              "language": {
                  "emptyTable": "Data kosong",
                  "zeroRecords": "Data tidak ditemukan",
                  "paginate": {
                      "previous": "<span class='icon-fi-sr-caret-left'></span>",
                      "next": "<span class='icon-fi-sr-caret-right'></span>",
               }
              },
              "info": false,
              "ordering": false,
              "ajax": {
                        "url": url,
                        "type": "POST"
                      }, 
              "processing": true,
              "serverSide": true,
              "columns": [
                  {"data":"No"},
                  {"data":"Employee"},
                  {"data": (row)=>{
                    const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return ((new Date(row.ActivityDate)).toLocaleDateString('id-ID',opt))
                  }},
                  {"data":"ActivityTitle"},
                  {"data": (row)=>{
                    activity.push([row.Id,(spacer(row.ActivityNote))])
                    return `<a href="#activityDesc" data-toggle="modal" onclick="show('${row.Id}')">Detail</a>`
                  }},
                  {"data": (row)=>{
                    return `<a href="#activity" data-toggle="modal"  onclick="getimg('${row.ActivityPhoto}')">Detail</a>`
                  }},
                  {"data":"StartTime"},
                  {"data":"EndTime"},
                  {"data":"CostCenter"},
                  {"data":"Progress"},
                  {"data":"Approver"},
                  {"data":"ReportStatus"} 
              ]
                  })
    }

    load_me()

    function getimg(photo){
      const url = ('{url}').replace('/website','')
      document.querySelector('#img-alt').innerHTML = 'loading...'
      document.querySelector('#img-detail').src = ''
      if(photo == ''){
        document.querySelector('#img-alt').innerHTML = '<center><strong>PHOTO NOT FOUND</strong></center>'
      } else {
        document.querySelector('#img-alt').innerHTML = ''
        document.querySelector('#img-detail').src = url + 'uploads/' + photo
      }
    }

     async function exportme()
    {

        let url = '{url}dtapi/getalldailyreport'
        const date = document.querySelectorAll('.dates')
        if(date[0].value !== '' && date[1].value !== ''){
            url = '{url}dtapi/getalldailyreport?start=' + date[0].value + '&end=' + date[1].value
        }
        const req = await fetch(url)
        const res = await req.json()
        let dt = '<table><tr><th>No</th><th>Employee&nbsp;Name</th><th>Date&nbsp;Activity</th><th>Type&nbsp;Activity</th><th>Activity&nbsp;Description</th><th>Activity</th><th>Start&nbsp;Time</th><th>End&nbsp;Time</th><th>Cost&nbsp;Center</th><th>Progress</th><th>Approver</th><th>Status</th></tr>'
        if(req.ok){ 
            let no = 1
            for(let e of res.data){
                const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                dt += '<tr><td>'+no+'</td><td>'+(await spacer(e.NameUser))+'</td><td>'+((new Date(e.ActivityDate)).toLocaleDateString('id-ID',opt))+'</td><td>'+(await spacer(e.ActivityTitle))+'</td><td>'+(await spacer(e.ActivityNote))+'</td><td></td><td>'+e.StartTime+'</td><td>'+e.EndTime+'</td><td>'+(await spacer(e.CostCenter))+'</td><td>'+e.Progress+'</td><td>'+(await spacer(e.Approver))+'</td><td>'+e.ReportStatus+'</td></tr>'
          no++
            }
            let html = dt + '</table>'
            const cur = Date.now()
            let xls = document.createElement("a")
		    xls.href = "data:" + "application/vnd.ms-excel," + html
		    xls.download = "data_employee_daily_report_" + cur + "_export.xls"
			xls.click()
        }
    }

    async function exportme2()
    {

        let url = '{url}dtapi/getalldailyreport?summary=true'
        const date = document.querySelectorAll('.dates')
        if(date[0].value !== '' && date[1].value !== ''){
            url = '{url}dtapi/getalldailyreport?start=' + date[0].value + '&end=' + date[1].value + '&summary=true'
        }
        const req = await fetch(url)
        const res = await req.json()
        let dt = '<table><tr><th>No</th><th>Employee&nbsp;Name</th><th>Date&nbsp;Activity</th><th>Total Minutes</th><th>Total Hours</th><th>Total Days</th><th>WFH</th><th>WFO</th></tr>'
        if(req.ok){ 
            let no = 1
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
            for(let e of res.data){
              dt += '<tr><td>'+no+'</td><td>'+(await spacer(e.Employee))+'</td><td>'+((new Date(e.Tgl1)).toLocaleDateString('id-ID',opt))+'-'+((new Date(e.Tgl2)).toLocaleDateString('id-ID',opt))+'</td><td>'+e.Minute+'</td><td>'+e.Hour+'</td><td>'+e.Days+'</td><td>'+e.WFH+'</td><td>'+e.WFO+'</td></tr>'
          no++
            }
            let html = dt + '</table>'
            const cur = Date.now()
            let xls = document.createElement("a")
		        xls.href = "data:" + "application/vnd.ms-excel," + html
		        xls.download = "data_employee_daily_report_" + cur + "_export.xls"
			      xls.click()
        }
    }


</script>

{footer}