{header}
<style>
  .hidden {
    display: none
  }
</style>
<div class="main-content-inner">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{url}erp/erpworkplace">Entry Unit Kerja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{url}erp/erpworkplacelist">List Unit Kerja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="{url}erp/erpkp">Entry KP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{url}erp/erpkplist">List KP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{url}erp/erpkpp">Entry KPP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{url}erp/erpkpplist">List KPP</a>
          </li>
    </ul>
    <form action="#">
      <input type="hidden" id="div-id">
      <span class="div-await hidden">loading...</span>
      <div class="card-over mb-4">
        <h3 class="title-box">
          KP
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Unit Kerja Name
                </div>
                <div class="col-md-8">
                  <select id="wp" class="unitkerja w-100 form-sm form-control" data-key="WorkplaceId">
                    <option value="">--silakan pilih--</option>
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  KP Name
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm" placeholder="KP Name" data-key="KP">
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Sales Office Code
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm" placeholder="type to search..." data-key="SalesCode" id="soc">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" class="btn-save btn btn-success px-5" onclick="save_me()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>


<script>
  $('#soc').autocomplete({
   source: async (req, res) => {

     let q = await fetch('{url}dtapinew/getsoc?term=' + req.term, {
       method: 'GET' 
     })
     let r = await q.json()
     if (q.ok) {
       let data = []
       r.data.forEach((e) => {
         let obj = {
           label: e.Id + ' (' + e.SalesCode + ')',
           value: e.SalesCode
         }
         data.push(obj)
       })
       res(data)
     }


   }
 }).on("autocompleteselect", function (event, ui) {
    
 })
</script>

<script>

async function load_wp()
{
    const req = await fetch('{url}dtapi/loadworkplace')
    const res = await req.json()
    if(req.ok){
        let dt = '<option value="">--silakan pilih--</option>' 
        for(let row of res.data){
            dt += `<option value="${row.Id}">${row.Workplace}</option>`
        }
        document.querySelector('#wp').innerHTML = dt 
        load_data()
    }
}

load_wp()

async function save_me()
    {
            const btn = document.querySelector('.btn-save')
            btn.innerHTML = 'menyimpan...'
            btn.setAttribute('disabled','true')
            const fd = new FormData
            const forms = document.querySelectorAll('.form-sm')
            let empt = 0
            for(let elem of forms){
              if(elem.value == ''){
                empt++
              } else {
                fd.append(elem.dataset.key,elem.value)
              }
            }
            const id = document.querySelector('#div-id').value
            const url = id === '' ? '{url}dtapi/addkp' : '{url}dtapi/updatekp?id=' + id

            if(empt == 0){
              const req = await fetch(url,{
                method: 'POST',
                body: fd
            })
            const res = await req.json()
            if(req.ok){
                alert('data berhasil disimpan')
                for(let elem of forms){
                elem.value = ''
            }
                btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
                btn.removeAttribute('disabled')
                document.querySelector('#div-id').value = ''
            } else {
                alert(res.message)
                btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
                btn.removeAttribute('disabled')
            }
            } else {
                alert('data kosong')
                btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
                btn.removeAttribute('disabled')
            }
           

    }

    async function load_data(){
      const local = localStorage.getItem('erpkp')
      const awaits = document.querySelector('.div-await')
      if(local === null){ } else {
        awaits.classList.remove('hidden')
        const data = JSON.parse(local) 
        document.querySelector('#div-id').value = data.data

        const req = await fetch('{url}dtapi/loadkp?id=' + data.data)
        const res = await req.json()
        if(req.ok){
          awaits.classList.add('hidden')
          const forms = document.querySelectorAll('.form-sm')
          forms.forEach((e)=>{
              e.value = res.data[0][e.dataset.key]
          })
           localStorage.removeItem('erpkp')
        }

        
      }
    }


</script>


{footer}