{header}
<style>
  .hidden {
    display: none
  }
</style>
<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/erpliab">Entry Jabatan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/erpliablist">List Jabatan</a>
      </li>
    </ul>
    <form action="#">
      <input type="hidden" id="div-id">
      <span class="div-await hidden">loading...</span>
      <div class="card-over mb-4">
        <h3 class="title-box">
          Jabatan
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
            <!--  <div class="row align-items-center">
                <div class="col-md-4">
                  Division
                </div>
                <div class="col-md-8">
                  <select name="" id="DivId" class="form-control form-sm" data-key="DivisionId">
                    <option value="">--silakan pilih--</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-4">
                 Department
                </div>
                <div class="col-md-8">
                    <select name="" id="DeptId" class="form-control form-sm" data-key="DepartmentId">
                        <option value="">--silakan pilih--</option>
                      </select>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-4">
                Bawahan Dari
                </div>
                <div class="col-md-8">
                    <select name="" id="LiabId" class="form-control form-sm" data-key="Parent">
                        <option value="">--silakan pilih--</option>
                      </select>
                </div>
              </div> -->
              <div class="row align-items-center">
                <div class="col-md-4">
                 Jabatan
                </div>
                <div class="col-md-8">
                   <input type="text" class="form-control form-sm" data-key="Jabatan">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success px-5" id="btn-save" onclick="save_me()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>

<script>

    // @ts-check

    async function load_div()
    {
        const req = await fetch('{url}dtapi/loaddivision')
        const res = await req.json()
        if(req.ok){
            let dt = '<option value="">--silakan pilih--</option>'
            res.data.forEach((e)=>{
                dt += '<option value="'+e.Id+'">'+e.Name+'</option>'
            })
            document.querySelector('#DivId').innerHTML = dt
        }
    }

  //  load_div()

    async function load_dept()
    {
        const req = await fetch('{url}dtapi/loaddept')
        const res = await req.json()
        if(req.ok){
            let dt = '<option value="">--silakan pilih--</option>'
            dt += '<option value="NULL">All Departments</option>'
            res.data.forEach((e)=>{
                dt += '<option value="'+e.Id+'">'+e.Name+'</option>'
            })
            document.querySelector('#DeptId').innerHTML = dt
        }
    }

 //   load_dept()

    async function load_liab()
    {
        const req = await fetch('{url}dtapi/loadliability')
        const res = await req.json()
        if(req.ok){
            let dt = '<option value="">--silakan pilih--</option>' 
            res.data.forEach((e)=>{
                dt += '<option value="'+e.Jabatan+'">'+e.Jabatan+'</option>'
            })
            document.querySelector('#LiabId').innerHTML = dt
            load_data()
        }
    }

 //   load_liab()

    async function save_me()
    {
        const btn = document.querySelector('#btn-save')
        btn.setAttribute('disabled',true)
        btn.innerText = 'menyimpan...'
        const fd = new FormData
        const forms = document.querySelectorAll('.form-sm')
        forms.forEach((e)=>{
            fd.append(e.dataset.key,e.value)
        })
        const id = document.querySelector('#div-id').value
        const url = id === '' ? '{url}dtapi/addliability' : '{url}dtapi/updateliability?id=' + id
        const req = await fetch(url,{
            method: 'POST',
            body: fd
        })
        const res = await req.json()
        if(req.ok){
            alert('data berhasil disimpan')
            btn.removeAttribute('disabled')
            btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
            forms.forEach((e)=>{
            e.value = ''
            })
            document.querySelector('#div-id').value = ''
        } else {
            alert(res.message)
            btn.removeAttribute('disabled')
            btn.innerHTML = '<i class="ico ico-save mr-2"></i> SUBMIT'
            forms.forEach((e)=>{
            e.value = ''
            })
        }
    }

    async function load_data(){
      const local = localStorage.getItem('erpliab')
      const awaits = document.querySelector('.div-await')
      if(local === null){ } else {
        awaits.classList.remove('hidden')
        const data = JSON.parse(local) 
        document.querySelector('#div-id').value = data.data

        const req = await fetch('{url}dtapi/loadliability?id=' + data.data)
        const res = await req.json()
        if(req.ok){
          awaits.classList.add('hidden')
          const forms = document.querySelectorAll('.form-sm')
          forms.forEach((e)=>{
              e.value = res.data[0][e.dataset.key]
          })
           localStorage.removeItem('erpliab')
        }

        
      }
    }

    load_data()
</script>

{footer}