{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{url}erp/erpliab">Entry Jabatan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{url}erp/erpliablist">List Jabatan</a>
          </li>
    </ul>
    <div class="container-inner pt-4">
      <table id="" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">List Division</td>
            <td scope="col" class="text-center">List Department</td>
            <td scope="col" class="text-center">Bawahan Dari</td>
            <td scope="col" class="text-center">Jabatan</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody class="data">
          
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
    // @ts-check

    async function load_data()
    {
        const req = await fetch('{url}dtapi/loadliability')
        const res = await req.json()
        if(req.ok){
            let dt = ''
            let no = 1
            for(let row of res.data){
                dt += `<tr>
            <td class="text-center" style="width: 60px;">${no}</td>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">${row.Jabatan}</td>
            <td class="text-center">
              <a class="mx-2" style="cursor: pointer" onclick="edit_data(${row.Id})">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a class="mx-2" style="cursor: pointer" onclick="clear_me(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>`
          no++
            }
            document.querySelector('.data').innerHTML = dt
            $('.table-main').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
        })
        }
    }

    load_data()

    async function edit_data(id)
    {
        const data = {
          action: 'edit',
          module: 'erpliab',
          data: id
        }
        localStorage.setItem(data.module,JSON.stringify(data))
        location.href = '{url}erp/' + data.module + ''
    }

    async function clear_me(id)
    {
      const ask = confirm('apakah yakin akan menghapus?')
      if(ask){
        const req = await fetch('{url}dtapinew/liabdelete?id=' + id)
      if(req.ok){
        location.reload()
      }
      }
      
    }
</script>

{footer}