
 
  <!--
    <script>
      Chart.defaults.font.size = 14;
      var options = {
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Agu", "Sep", "Okt", "Nov", "Des"],
          datasets: [
            {
              label: 'Laba Kotor',
              data: [390, 500, 600, 563, 421, 500, 541, 421, 415, 300, 411, 300],
              borderWidth: 2,
              borderColor: "#dac8a7",
              backgroundColor: '#dac8a7',
              tension: 0.4
            },
            {
              label: 'Laba Bersih',
              data: [400, 440, 500, 363, 521, 300, 441, 321, 515, 500, 311, 500],
              borderWidth: 2,
              borderColor: "#ad8849",
              backgroundColor: '#ad8849',
              tension: 0.4
            }
          ]
        },
        options: {
          plugins: {
            title: {
              display: true,
              position: "top",
              align: "start",
              text: 'Penjualan Bersih',
              font: {
                family: "Josefin Sans",
                weight: 400
              }
            },
            legend: {
              position: "top",
              align: "end",
              labels: {
                // This more specific font property overrides the global property
                font: {
                  family: "Josefin Sans"
                }
              }
            }
          },
          scales: {
            x: {
              ticks: {
                font: {
                  family: "Josefin Sans",
                  size: 12
                }
              }
            },
            y: {
              ticks: {
                font: {
                  family: "Josefin Sans",
                  size: 12
  
                }
              }
            }
          }
        }
      }
  
      var ctx = document.getElementById('chartJSContainer').getContext('2d');
      new Chart(ctx, options);
    </script> -->

    <script>
     let user_id = 0
      async function get_profile()
      {
          let hdr = new Headers
          const token = await read_token()
          hdr.append('Authorization',token)
          let q = await fetch('{url}dtapi/getprofile',{
              method: 'GET',
              headers: hdr
          })
          let r = await q.json()
          if(q.ok){
              document.querySelector('#profiles').innerText = r.data[0].RealName
              let emp_status = r.data.EmpData[0].Liability
              if(emp_status != 'STAFF'){
                document.querySelector('#approval').classList.remove('hidden')
              } 
              user_id = r.data[0].Id
              await loadPic()
          } else  {
              alert(r.message)
              location.href = '{url}intranet/login'
          }  
      }
  
      get_profile()

      async function loadProfile()
      {
        const fd = new FormData
        fd.append('Pic',document.querySelector('#prof-pic').files[0])
        const req = await fetch('{url}dtapi/getprofpic?id=' + user_id,{
          method: 'POST',
          body: fd
        })
        const res = await req.json()
        if(req.ok){
          const pic = document.querySelectorAll('.usr-pic')
          for(const row of pic){
            const url = ('{url}').replace('/website','')
            row.src = url + 'uploads/' + res.data[0].Pic
          }
        }
      }

      async function loadPic()
      {
        const req = await fetch('{url}dtapi/getpicprof?id=' + user_id)
        const res = await req.json()
        if(req.ok){
          const pic = document.querySelectorAll('.usr-pic')
          for(const row of pic){
            const url = ('{url}').replace('/website','')
            row.src = url + 'uploads/' + res.data[0].Pic
          }
        }
      }

      async function updateMe()
      {
        const pwd = document.querySelectorAll('.pwd')
        if(pwd[0].value == pwd[1].value){
          const fd = new FormData
          fd.append('passwd',pwd[0].value)
          const req = await fetch('{url}dtapi/chown?id=' + user_id,{
            method: 'POST',
            body: fd
          })
          if(req.ok){
            alert('password berhasil diubah')
            location.reload()
          }
        } else {
          alert('whoops! password tidak cocok')
        }
      }
  

      async function get_module()
      {
        let q = await fetch('{url}dtapi/getmodules?parent=0')
        let r = await q.json()
        if(q.ok){
          
          let k = 0
          let mnu = ""
          for(let e of r.data){
            let mn = ""
            let s = await fetch('{url}dtapi/getmodules?parent=' + e.Id)
            let t = await s.json()

            if(s.ok){
              if(t.data.length > 0){
                  mn += "<li class='nav-item dropdown dropdown-menu-cs'><a class='nav-link dropdown-arrow' href='#menu" + k + "' role='button' data-toggle='collapse' aria-haspopup='true' aria-expanded='false'> <div class='icon-menu'> <i class='ico " +e.Icon+ "'></i> </div> <div class='pl-1'>" + e.ModuleName  + " <span class='ico ico-chevron-down arrow-menu'></span> </div> </a>"
                  mn += "<div class='collapse dropdown-menu-list' id='menu" + k + "'>"
                t.data.forEach((f)=>{
                  mn += " <a class='dropdown-item  @@overview'  href='{url}erp/" + f.Link  + "'> <div class='pl-1'>" + f.ModuleName  + " </div> </a>"
                })
                mn += "</div></li>" 
              } else {
                mn += " <li class='nav-item'><a class='nav-link' href='{url}erp/" + e.Link  + "'><div class='icon-menu'><i class='ico " +e.Icon+ "'></i></div><div class='pl-1'>" + e.ModuleName  + " </div></a></li>"
              }
              
            }
 
            k++
            mnu += mn
          }
          document.querySelector('.menus').innerHTML = mnu
          
        }
      }

      get_module()
  </script>

</body>

</html>  