<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{url}views/erp/dist/css/styles.css">
    <link rel="icon" type="image/png" href="{url}views/erp/dist/images/favico.png"/>

    <script type="text/javascript" src="{url}views/erp/dist/js/script-bundle.min.js"></script>
    <script type="text/javascript" src="{url}views/erp/dist/js/script.js"></script>

    <title>DT PEDULI</title>
  </head>

<body>

  <div class="main-container">
    <div class="sidebar">
  <a href="#" class="menu-close"> <span class="icon-icon-ionic-md-close text-16"></span></a>
  <div class="sidebar-logo">
    <img src="{url}views/erp/dist/images/logo-dt-peduli.svg" class="img-fluid" alt="">
  </div>
  <div class="sidebar-menu">
    <ul class="nav flex-column menus">
    <li>loading...</li>
    </ul>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary btn-lg">OPEN INTRANET</a>
  </div>
</div>
    <div class="main-content">

      <div class="header-menu">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 pl-0">
            <div class="d-flex align-items-center">
                <a href="#" class="menu-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16">
                        <g id="fi-sr-menu-burger" transform="translate(0 -4)">
                            <rect id="Rectangle_8858" data-name="Rectangle 8858" width="24" height="2" rx="1"
                                transform="translate(0 11)" fill="#fff" />
                            <rect id="Rectangle_8859" data-name="Rectangle 8859" width="24" height="2" rx="1"
                                transform="translate(0 4)" fill="#fff" />
                            <rect id="Rectangle_8860" data-name="Rectangle 8860" width="24" height="2" rx="1"
                                transform="translate(0 18)" fill="#fff" />
                        </g>
                    </svg>
    
                </a>
                <div class="form-inline-group right-i header-search">
                    <input type="text" class="form-control" placeholder="What are you looking for ?">
                    <button class="btn">
                        <i class="ico ico-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-4 pr-0">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="ico ico-notif"></i>
                        <div class="notif-count">
                            4
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="pr-2 text-14 username">Hi, <span id="profiles"></span>!</div>
                        <div class="user-img"><img src="https://i.pravatar.cc/100" class="img-fluid" alt=""></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                <li class="nav-item clock-header">
                    <a class="nav-link">
                        <div><i class="ico ico-clock"></i></div>
                        <div class="pl-1 digital-clock">13:05:06</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>