{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Kanal Himpun</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-left">No</td>
            <td scope="col" class="text-left">Division</td>
            <td scope="col" class="text-left">Kanal Himpun</td>
            <td scope="col" class="text-left">Kanal Himpun Code</td>
            <td scope="col" class="text-left">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#edit" class="mx-2" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#delete" class="mx-2" data-toggle="modal">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Tunjangan -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Kanal Himpun Add</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Division</label>
          <select class="himpun-add division custom-select form-control" id="inputGroupSelect01" data-key="Division">
        </select>
        </div>
        <div class="form-group">
          <label>Kanal Himpun</label>
          <input type="text" class="himpun-add form-control" placeholder="Kanal Himpun" data-key="Kanal">
        </div>
        <div class="form-group">
          <label>Kanal Himpun Code</label>
          <input type="text" class="himpun-add form-control number" maxlength="2" placeholder="Kanal Himpun Code"
          data-key="HimpunCode">
        </div>
        <div class="mt-5 text-center">
          <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button type="button" onclick="saveMe()" class="btn btn-success px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- Modal Add Tunjangan -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Kanal Himpun Edit</h5> 
    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="edit-id">
        <div class="form-group">
          <label>Division</label>
          <select class="himpun-edit division-edit custom-select form-control" data-key="Division">
          </select>
        </div>
        <div class="form-group">
          <label>Kanal Himpun</label>
          <input type="text" class="himpun-edit form-control" placeholder="Kanal Himpun" data-key="Kanal">
        </div>
        <div class="form-group">
          <label>Kanal Himpun Code</label>
          <input type="text" class="himpun-edit form-control" placeholder="Kanal Himpun Code" data-key="HimpunCode">
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button type="button" onclick="saveMe()" class="btn btn-success px-4 mx-2" data-toggle="modal">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>
   $(".number").keypress(function (e) {
    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
      return false;
    }
  });
async function getDivision(edit)
{
    const req = await fetch('{url}dtapi/loaddivision')
    const res = await req.json()
    if(req.ok){
        let dt = '<option value="">Choose...</option>'
        res.data.forEach((e)=>{
          if(((e.Name).replace(' ','')).toUpperCase() != 'FUNDRAISING'){ } else {
            dt += '<option value="'+e.Name+'">'+e.Name+'</option>'
          }
        })
        const name = edit == null ? '.division' : '.division-edit'
        document.querySelector(name).innerHTML = dt 
    }
    
}

getDivision()

async function saveMe()
{
    const edit = document.querySelector('#edit-id')
    let stop = 0
    if(edit.value == ''){
        const data = document.querySelectorAll('.himpun-add')
        const fd = new FormData
        for(const item of data){
            if(item.value == ''){
              stop++
            }
            fd.append(item.dataset.key,item.value)
        }

        if(stop == 0){
        const req = await fetch('{url}dtapinew/himpunadd',{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            location.reload()
        }
      } else {
        alert('data kosong')
      }

    } else {
      const data = document.querySelectorAll('.himpun-edit') 
        const fd = new FormData
        for(const item of data){
          if(item.value == ''){
            stop++
          }
            fd.append(item.dataset.key,item.value)
        }

        if(stop == 0){
        const req = await fetch('{url}dtapinew/himpunupdate?id=' + edit.value,{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            location.reload()
        }
      } else {
        alert('data kosong')
      }

    }
}

let dt = ''
    async function load_data() {
    const fnd = document.querySelector('.finder').value
    let url = "{url}dtapinew/himpundt"
    if (fnd != '') {
       dt.destroy()
       url = "{url}dtapinew/himpundt?term=" + fnd
    } else {
      if(dt != ''){ 
        dt.destroy()
      }
    }
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-left", }
        ],
        "columns": [
          { "data": "No" },
          { "data": "Division" },
          { "data": "Kanal" },  
          { "data": "HimpunCode" },
          { "data": (row)=>{
              return `<a href="#edit" data-toggle="modal" class="mx-2" onclick="edit(${row.Id})">
                <i class="ico ico-pencil"></i>
              </a><a href="#" class="mx-2" onclick="destroy(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>`
          } }
           
        ]
      });


    
  }

  load_data()

  async function destroy(id)
  {
     const ask = confirm('apakah yakin menghapus?')
     if(ask){
        const req = await fetch('{url}dtapinew/himpundel?id=' + id)
        if(req.ok){
            location.reload()
        }
     }
     
  }

 async function edit(id)
 {
   const req = await fetch('{url}dtapinew/himpunedit?id=' + id)
   const res = await req.json()
   document.querySelector('#edit-id').value = id
   if(req.ok){
       await getDivision(1)
       const data = document.querySelectorAll('.himpun-edit')  
        for(const item of data){
            item.value = res.data[0][item.dataset.key]
        } 
   }
 }
</script>




{footer}