{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">List Finance Approval</a>
    </li>
  </ul>
  <div class="container-inner pt-5">

    <table id="table" class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-center">No</td>
          <td scope="col" class="text-center">Year</td>
          <td scope="col" class="text-center">Month</td>
          <td scope="col" class="text-center">Employee Name</td>
          <td scope="col" class="text-center">Salary</td>
          <td scope="col" class="text-center">Account Bank</td>
          <td scope="col" class="text-center">Name Bank</td>
          <td scope="col" class="text-center">Checklist</td>
        </tr>
      </thead>
      <tbody>
        <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">2022</td>
            <td class="text-center">July</td>
            <td class="text-center">Dani Subakti</td>
            <td class="text-center">Rp 3.000.000</td>
            <td class="text-center">4578349759</td>
            <td class="text-center">
              BDI
            </td>
            <td class="text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1"></label>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">2022</td>
            <td class="text-center">July</td>
            <td class="text-center">Dani Subakti</td>
            <td class="text-center">Rp 3.000.000</td>
            <td class="text-center">4578349759</td>
            <td class="text-center">
              BDI
            </td>
            <td class="text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2"></label>
              </div>
            </td>
          </tr>-->
      </tbody>
    </table>

    <div class="mb-4">
      <button class="btn btn-success" data-toggle="modal" data-target="#submitmodal">
        <i class="ico ico-save mr-2"></i> SEND
      </button>
    </div>
  </div>
</div>
</div>
</div>


<div class="modal fade" id="submitmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <img src="images/icons/icon-file-s.svg" alt="">
          <h4 class="my-5">Are you sure submit this data ?</h4>
          <button class="mx-3 btn btn-danger" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button class="mx-3 btn btn-success" onclick="kirim_gaji()">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let dt = ''
  async function load_data() {
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
      dt.search(fnd).draw()
    } else {

      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": "{url}dtapi/dtsendsalary",
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "Year" },
          { "data": "Month" },
          { "data": "EmpName" },
          { "data": "TotalSalary" },
          { "data": "EmpBank" },
          { "data": "EmpBankAccount" },
          { "data": "Action" }
        ]
      });


    }
  }

  load_data()

  async function kirim_gaji() {
    const req = await fetch('{url}dtapi/kirimgaji')
    if (req.ok) {
      alert('gaji berhasil dikirim')
    }
  }
</script>


{footer}