{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="payroll-tunjangan-jenis-pekerjaan.html">List Tunjangan Kompetensi</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <button type="button" class="btn-edit btn btn-primary edit-table" onclick="allowEdit()">
          EDIT
        </button>
        <button type="submit" class="btn btn-success btn-icon save-table" style="display: none;">
          <i class="ico ico-save sub mr-1"></i> SUBMIT
        </button>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Grade</td>
            <td scope="col" class="text-center">Nilai</td>
          </tr>
        </thead>
        <tbody class="data">
         <!-- <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              S3
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
          </tr> -->
          <tr>
            <td colspan="3"><center>loading...</center></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
   let dt = ''
    async function load_data()
    {
      const fnd = document.querySelector('.finder').value
        if(fnd != ''){
          dt.search(fnd).draw()
        } else {

          if(fnd == '' && dt != '') {
          dt.destroy()
        }

        const req = await fetch('{url}dtapi/kompetensi')
        const res = await req.json()
        if(req.ok){
            let no = 1
            let row = ''
            for(let data of res.data){
                row += `
                <tr>
                    <td>${no}</td>
                    <td>${data.Grade}</td>
                    <td><input id="g-${data.Id}" data-key="${data.GradeValue}" value="${data.GradeValue}" class="grade hidden" /><span class="ungrade">Rp ${data.GradeValue} </span></td>
                </tr>
                `
                no++
            }
            document.querySelector('.data').innerHTML = row

           dt = $('.table-main').DataTable({
                "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
                "language": {
                    "emptyTable": "Data kosong",
                    "zeroRecords": "Data tidak ditemukan",
                    "paginate": {
                        "previous": "<span class='icon-fi-sr-caret-left'></span>",
                        "next": "<span class='icon-fi-sr-caret-right'></span>",
                 }
                },
                "info": false,
                "ordering": false
                });
        }
      }
    }

    load_data()

    async function submitValue()
    {
      const grades = document.querySelectorAll('.grade')
      for(let e of grades){
         if(e.dataset.key != e.value){
          if(parseFloat(e.value) < 0){
            val = 0
            alert('nilai negatif!')
            break
          } else {
            const id = (e.id).replace('g-','')
            const value = e.value
            const req = await fetch('{url}dtapi/kompetensiupdate?id=' + id + '&val=' + value)
          }
         }
      }
      return 1
    }

    let cek = 0
    async function allowEdit()
    {
        const btn_edit = document.querySelector('.btn-edit')
        const btn_name = btn_edit.innerHTML
        btn_edit.innerHTML = ( btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT') ? 'EDIT' : '<i class="ico ico-save sub mr-1"></i> SUBMIT'
        const grades = document.querySelectorAll('.grade')
        const ungrades = document.querySelectorAll('.ungrade')
        let no = 0
        for(let e of grades){
            if(btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT'){
                // submit here
                btn_edit.setAttribute('disabled','true')
                btn_edit.innerHTML = 'menyimpan...'
                console.log(btn_name)
                cek = await submitValue()
            } else {
                e.classList.remove('hidden')
                ungrades[no].classList.add('hidden')
                console.log(btn_name)
            }
            no++
        }
        if(cek != 0){ 
                  location.reload()
                }

    }
</script>


{footer}