{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{url}erp/addemployee">Entry User Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{url}erp/listemployee">List User Login</a>
          </li>
    </ul>
    <div class="container-inner mt-4">
      <table  class="table table-mains nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Employee Name</td>
            <td scope="col" class="text-center">Phone Number</td>
            <td scope="col" class="text-center">Email</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody class="data">
           </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<!-- Modal Update Password -->
<div class="modal fade" id="update_password" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Update Password</h5>
    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="empId">
        <div class="form-group">
          <label>New Password</label>
          <input type="password" class="form-control pwdx" placeholder="New Password">
        </div>
        <div class="form-group">
          <label>Confirmation Password</label>
          <input type="password" id="pwd" class="form-control pwdx" placeholder="Confirmation Password">
        </div>
        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success btn-lg mx-2 px-4"  onclick="save_me()">
            <i class="ico ico-save sub mt-1"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>

    async function find_me(id)
    {
            document.querySelector('#empId').value = id 
    }

    
function chkpwd()
{
  let returns = true
  let pwd = document.querySelectorAll('.pwdx')
  if(pwd[1].value === ''){
    returns = false
  } else if(pwd[0].value !== pwd[1].value){
    returns = false
  }    
  return returns
}

    async function save_me()
    {
        const fd = new FormData
        const id = document.querySelector('#empId').value
        fd.append('Password',document.querySelector('#pwd').value)
        let check = chkpwd()
        if(check){
            const req = await fetch('{url}dtapi/updateuser?id=' + id,{
            method: 'POST',
            body: fd
            })
            if(req.ok){
                alert('berhasil ubah password')
                location.reload()
            }
        } else {
            alert('whoops! password tidak cocok atau belum dikonfirmasi')
        }
       
    }

    async function load_me()
    {
        const hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        const req = await fetch('{url}dtapi/getallusers',{
            headers: hdr
        })
        const res = await req.json()
        if(req.ok){
            let dt = ''
            let no = 1
            for(let row of res.data){
                dt += `<tr>
            <td class="text-center" style="width: 60px;">${no}</td>
            <td class="text-center" ondblclick="edit_it(this.id)" id="login-EmpId-${row.Id}" data-key="${row.RealName}">${row.RealName}</td>
            <td class="text-center" id="login-Phone-${row.Id}" ondblclick="edit_next(this.id)" data-key="${row.Phone}">${row.Phone}</td>
            <td class="text-center" id="login-Email-${row.Id}" ondblclick="edit_next(this.id)" data-key="${row.Email}">${row.Email}</td>
            <td class="text-center">
              <a class="mx-1" title="double click pada data di kolom yang mau di-edit">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#update_password" data-toggle="modal" class="btn btn-danger btn-sm mx-1" onclick="find_me(${row.Id})">UPDATE PASSWORD</a>
            </td>
          </tr>`
          no++
            }
            document.querySelector('.data').innerHTML = dt
            $('.table-mains').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'})
        }
    }

    load_me()

    let ac_emp_id = ''

    function edit_it(id)
    {
      const it = document.querySelector('#' + id)
      const data = id.split('-')
      const ids = data[data.length - 1]
      const elem = `<div class="form-group"><div style="float: left; cursor: pointer" onclick="closed('login-EmpId-${ids}','${it.dataset.key}')"><strong>X</strong></div><input type="text" class="form-control" id="data-${id}" value="${it.dataset.key}"/><input type="hidden" id="send-${id}" /></div>`
      document.querySelector('#' + id).innerHTML = elem
      ac_emp_id = id
      $('#data-' + ac_emp_id).autocomplete({
      source: async (req,res)=>{
        let hdr = new Headers
        const token = await read_token()
    hdr.append('Authorization',token)
    let q = await fetch('{url}dtapi/getallemployee?q=' + req.term,{
      method: 'GET',
      headers: hdr
    })
    let r = await q.json()
    if(q.ok){
       let data = []
       r.data.forEach((e)=>{
         let obj = {
           label: e.Name,
           value: e.Name,
           Id: e.Id,
           Email: e.Email,
           Phone: e.Phone,
           Workplace: e.Workplace,
           Division: e.Division
         }
         data.push(obj)
       })
       res(data)
    } 
      },
      minLength: 1
    }).on( "autocompleteselect", function( event, ui ) {
    document.querySelector('#send-' + ac_emp_id).value = ui.item.Id 
    update_it(ids,'updateuser','login-EmpId-' + ids,ui.item.value,ui.item.Id)
  })
    }

   
    function edit_next(id)
    {
      const it = document.querySelector('#' + id)
      const data = id.split('-')
      const ids = data[data.length - 1]
      const elem = `<div class="form-group"><input type="text" class="form-control" id="data-${id}" value="${it.dataset.key}" onblur="update_it(${ids},'updateuser','${id}',this.value,null)"/></div>`
      document.querySelector('#' + id).innerHTML = elem
    }

    function closed(rowid,rowval)
    {
      document.querySelector('#' + rowid).innerHTML = rowval
    }

    async function update_it(id,key,rowid,rowval,val)
    {
        const url = '{url}dtapi/' + key + '?id=' + id

        const detail = rowid.split('-')

        const fd = new FormData

        const send_data = val ?? rowval

        fd.append(detail[1],send_data)

        if(detail[1] === 'EmpId'){
          fd.append('RealName',rowval)
        }

        document.querySelector('#' + rowid).innerHTML = 'menyimpan...'

        const req = await fetch(url,{
          method: 'POST',
          body: fd
        })

        if(req.ok){
          document.querySelector('#' + rowid).innerHTML = rowval
        }

       

    }

</script>

{footer}