{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{url}erp/list-program-digital">List Program</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link " href="entry-corporate-master-data.html">Entry Partnership</a>
      </li> -->
  </ul>
  <div class="container-inner">
    <div class="my-4">
      <div class="my-4">
        <a href="{url}erp/entry-program" class="btn btn-success">
          <i class="ico ico-add mr-1"></i> Add List Program
        </a>
      </div>
    </div>
    <table class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-center">No</td>
          <td scope="col" class="text-center">Program Name</td>
          <td scope="col" class="text-center">Sumber Dana</td>
          <td scope="col" class="text-center">Pilar</td>
          <td scope="col" class="text-center">Program Utama</td>
          <td scope="col" class="text-center">Program Turunan</td>
          <td scope="col" class="text-center">Detail Program</td>
          <td scope="col" class="text-center">Status</td>
          <td scope="col" class="text-center">Start Date Mou </td>
          <td scope="col" class="text-center">End Date Mou </td>
          <td scope="col" class="text-center">Target</td>
          <td scope="col" class="text-center">Achived</td>
          <td scope="col" class="text-center">Type of Fee</td>
          <td scope="col" class="text-center">Percentage of Fee</td>
          <td scope="col" class="text-center">Amount of Fee</td>
        </tr>
      </thead>
      <tbody>
        <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">01-Infak</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">Publish</td>
            <td class="text-center">25 Desember 2022</td>
            <td class="text-center">25 Desember 2023</td>
            <td class="text-center">Rp 100.000.000</td>
            <td class="text-center">Rp 50.000.000</td>
            <td class="text-center">Lorem</td>
            <td class="text-center">Lorem</td>
            <td class="text-center">50%</td>
           
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">01-Infak</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">01-Lorem</td>
            <td class="text-center">Unpublish</td>
            <td class="text-center">25 Desember 2022</td>
            <td class="text-center">25 Desember 2023</td>
            <td class="text-center">Rp 100.000.000</td>
            <td class="text-center">Rp 50.000.000</td>
            <td class="text-center">Lorem</td>
            <td class="text-center">Lorem</td>
            <td class="text-center">50%</td>
           
          </tr>-->
      </tbody>
    </table>
  </div>
</div>
</div>
</div>

<script>
  let dt = ''
  async function load_data() {
    let url = "{url}dtapinew/programdigitaldt"
    const find = document.querySelector('.finder').value
    if (find != '') {
      url = "{url}dtapinew/programdigitaldt?term=" + find
      dt.destroy()
    } else {
      if (dt != '') {
        dt.destroy()
      }
    }
    dt = $('.table-main').DataTable({
      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
      "language": {
        "emptyTable": "Data kosong",
        "zeroRecords": "Data tidak ditemukan",
        "paginate": {
          "previous": "<span class='icon-fi-sr-caret-left'></span>",
          "next": "<span class='icon-fi-sr-caret-right'></span>",
        }
      },
      "info": false,
      "ordering": false,
      "ajax": {
        "url": url,
        "type": "POST"
      },
      "processing": true,
      "serverSide": true,
      "columnDefs": [
        { className: "text-center", }
      ],
      "columns": [
        { "data": "No" },
        { "data": "ProgramName" },
        { "data": "Fund" },
        { "data": "Pilar" },
        { "data": "ProgramUtama" },
        { "data": "ProgramTurunan" },
        { "data": "DetailProgram" },
        { "data": "Status" },
        { "data": "MouStart" },
        { "data": "MouEnd" },
        { "data": "Target" },
        { "data": "Achieved" },
        { "data": "Fee" },
        { "data": "FeePercent" },
        { "data": "FeeAmount" }

      ]
    })
  }

  load_data()
</script>

{footer}