{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{url}erp/list-partnership">List Partnership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{url}erp/partnership">Entry Partnership</a>
          </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="{url}erp/partnership" class="btn btn-success">
            <i class="ico ico-add mr-1"></i> Add Mitra
          </a>
        </div>
      </div>
      <table  class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Icon</td>
            <td scope="col" class="text-center">Partner Name</td>
            <td scope="col" class="text-center">Partner Type</td>
            <td scope="col" class="text-center">Number of Program</td>
            <td scope="col" class="text-center">Program Utama</td>
            <td scope="col" class="text-center">Platform</td>
            <td scope="col" class="text-center">Specialization</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">
              <a href="#icondetail" data-toggle="modal">
                <img src="images/icons/icon-eye.svg" width="30" alt="">
              </a>
            </td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#" class="mx-2">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Tunjangan -->
<div class="modal fade" id="icondetail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Icon Image</h5>

    </div>
    <div class="modal-body">
      <img src="images/group-people-volunteering-foodbank-poor-people.png" class="img-fluid"  alt="">
    </div>
  </div>
</div>
</div>

<script>
    let dt = ''
    async function load_data() {
    const fnd = document.querySelector('.finder').value
    let url = "{url}dtapinew/partnershipdt"
    if (fnd != '') {
       dt.destroy()
       url = "{url}dtapinew/partnershipdt?term=" + fnd
    } else {
       if(dt != ''){
         dt.destroy()
       }
    }
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
            const urls = ('{url}').replace('/website','')
            return `<img src="${urls}uploads/${row.PartnerIcon}" style="width: 45%"/>`
          } },
          { "data": "PartnerName" },
          { "data": "PartnerType" },
          { "data": "NumberProgram" },
          { "data": "ProgramUtama" }, 
          { "data": "Platform" },
          { "data": "Specialization" }, 
          { "data": (row)=>{
              return `<a href="#" class="mx-2" onclick="destroy(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>`
          } }
           
        ]
      });


    
  }

  load_data()

  async function destroy(id)
  {
     const ask = confirm('apakah yakin menghapus?')
     if(ask){
        const req = await fetch('{url}dtapinew/partnershipdel?id=' + id)
        if(req.ok){
            location.reload()
        }
     }
    
     
  }
</script>

{footer}