{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Communication</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Grade</td>
            <td scope="col" class="text-center">Nominal</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody class="data">
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#edit" class="mx-2" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#delete" class="mx-2" data-toggle="modal">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Tunjangan -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Tunjangan Communication Add</h5>

      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label>Grade</label>
            <select class="custom-select form-control comm-add grades" id="inputGroupSelect01" data-key="CommGrade"> 
            </select>
          </div>
          <div class="form-group">
            <label>Nominal</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
              </div>
              <input type="text" class="form-control comm-add" data-key="CommGradeValue" oninput="lock(this.value)">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
              <i class="ico ico-cancel"></i> CANCEL
            </button>
            <button type="button" class="btn btn-add btn-success px-4 mx-2" data-toggle="modal" onclick="saveMe(0)">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal Edit Tunjangan -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Tunjangan Communication Edit</h5>

      </div>
      <div class="modal-body">
        <form action="#">
          <input type="text" id="edit-id">
          <div class="form-group">
            <label>Grade</label>
            <select class="custom-select form-control comm-edit grades" id="inputGroupSelect01" data-key="CommGrade"> 
            </select>
          </div>
          <div class="form-group">
            <label>Nominal</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Rp</div>
              </div>
              <input type="text" class="form-control comm-edit" data-key="CommGradeValue" oninput="lock(this.value)">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
              <i class="ico ico-cancel"></i> CANCEL
            </button>
            <button type="button" class="btn btn-edit btn-success px-4 mx-2" data-toggle="modal" onclick="saveMe(1)">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

function lock(obj)
{
   document.querySelector('.btn-add').setAttribute('disabled',true)
   document.querySelector('.btn-edit').setAttribute('disabled',true)
   const data = parseFloat(obj)
   if(data <= 0){
     alert('nilai negatif atau nol')
   } else {
    document.querySelector('.btn-add').removeAttribute('disabled')
    document.querySelector('.btn-edit').removeAttribute('disabled')
   }
}

async function loadGrade()
{
   const req = await fetch('{url}dtapinew/grades')
   const res = await req.json()
   if(req.ok){
      const grades = document.querySelectorAll('.grades')
         grades[0].innerHTML += `<option value="">choose...</option>`
         grades[1].innerHTML += `<option value="">choose...</option>`
      for(let item of res.data){
         grades[0].innerHTML += `<option value="${item.Id}">${item.Grade}</option>`
         grades[1].innerHTML += `<option value="${item.Id}">${item.Grade}</option>`
      }
   }
}

loadGrade()

let dt = ''

function load_data()
{
  const find = document.querySelector('.finder').value
        if(find != ''){  
          dt.search(find).draw()
        } else {
          dt.search(find).draw()
        }
}

async function load_data2()
    {
       
        const req = await fetch('{url}dtapinew/comm')
        const res = await req.json()
        if(req.ok){
            let no = 1
            let row = ''
            for(let data of res.data){
                
                row += `
                <tr>
                    <td class="text-center">${no}</td>
                    <td class="text-center">${data.CommGrade}</td>
                    <td class="text-center">Rp ${new Intl.NumberFormat('id-Id').format(data.CommGradeValue)}</td>
                    <td class="text-center"> <a href="#edit" class="mx-2" data-toggle="modal" onclick="editMe(${data.Id})">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#delete" class="mx-2" data-toggle="modal" onclick="deleteMe(${data.Id})">
                <i class="ico ico-trash"></i>
              </a></td>
                </tr>
                `
                no++
            }
            document.querySelector('.data').innerHTML = row

         dt = $('.table-main').DataTable({
                "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
                "language": {
                    "emptyTable": "Data kosong",
                    "zeroRecords": "Data tidak ditemukan",
                    "paginate": {
                        "previous": "<span class='icon-fi-sr-caret-left'></span>",
                        "next": "<span class='icon-fi-sr-caret-right'></span>",
                 }
                },
                "info": false,
                "ordering": false
                });
        }
    }

    load_data2()

async function saveMe(type)
{
   const fd = new FormData
   
   if(type == 0){
     // create
     const comms = document.querySelectorAll('.comm-add')
     let empt = 0
     for(let item of comms){
       if(item.value == ''){
         empt++
       } else {
         fd.append(item.dataset.key,item.value)
       }
      }
       if(empt > 0){
         alert('data kosong')
       } else {
         const req = await fetch('{url}dtapinew/commadd',{
          method: 'POST',
          body: fd
         })
         if(req.ok){
           alert('berhasil menyimpan')
           location.reload()
         }
       }
    
   } else {
     // update
     const comms = document.querySelectorAll('.comm-edit')
     const id = document.querySelector('#edit-id').value
     let empt = 0
     for(let item of comms){
       if(item.value == ''){
         empt++
       } else {
         fd.append(item.dataset.key,item.value)
       }
      }
       if(empt > 0){
         alert('data kosong')
       } else {
         const req = await fetch('{url}dtapinew/commupdate?id=' + id,{
          method: 'POST',
          body: fd
         })
         if(req.ok){
           alert('berhasil menyimpan')
           location.reload()
         }
       }
   }
}


async function editMe(id)
{
   const req = await fetch('{url}dtapinew/commedit?id=' + id)
   const res = await req.json()
   if(req.ok){
      const comms = document.querySelectorAll('.comm-edit')
      for(let item of comms){
         item.value = res.data[0][item.dataset.key]
      }
      document.querySelector('#edit-id').value = id
   }
}

async function deleteMe(id)
{
  const ask = confirm('apakah yakin menghapus?')
  if(ask){
    const req = await fetch('{url}dtapinew/commdel?id=' + id)
    if(req.ok){
      location.reload()
    }
  }
 
}

</script>

{footer}