<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>dt peduli</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{url}views/erp/dist/css/app.css" />
    </head>
    <body>
        <div class="login">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="align-self-center">
                        <form>
                            <img
                                src="{url}views/erp/dist/images/logo-dt-peduli.png"
                                alt="dt peduli"
                                class="m-auto d-block"
                                width="140px"
                            />
                            <h1 class="text-center mt-3">Login</h1>
                            <p class="text-center">
                                Enter your email and password below
                            </p>
                            <div class="form-group">
                                <label> Email </label>
                                <input
                                    type="email"
                                    class="form-control"
                                    placeholder="Email Address"
                                />
                            </div>
                            <div class="form-group mt-4">
                                <label> Password </label>
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                />
                            </div>
                            <a
                                class="btn btn-primary btn-lg px-5 mt-5 mb-5 w-100"
                                href="/index.html"
                            >
                                Log In
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <script src="{url}views/erp/dist/js/main.js"></script>
    </body>
</html>
