{header}

<style>
  .ui-front { 
   z-index: 9999999 !important; 
}
</style>

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List MaCo (Digital Growth & Strategy)</a>
      </li>
    </ul>
    <div class="container-inner pt-3">
      <button class="btn btn-success mb-2" data-target="#step1" data-toggle="modal" class="btn btn-primary">ADD PROCESS</button>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Corporate Name</td> 
            <td scope="col" class="text-center">Branch Name</td>
            <td scope="col" class="text-center">Material Number</td>
            <td scope="col" class="text-center">Status</td>
            <td scope="col" class="text-center">Initiator</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Step 1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <button data-target="#step1" data-toggle="modal" class="btn btn-primary">STEP 1</button>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<!-- Modal Step -->
<div class="modal fade" id="step1" tabindex="-1" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Step 1</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group ui-front">
            <label>Corporate Name</label>
            <input type="text" class="form-control form-sm corp-name" data-key="CorpName" placeholder="Corporate Name">
          </div>

          <div class="form-group branch hidden">
            <label>Branch Name</label>
            <select name="" id="branch" class="form-control form-sm" data-key="CorpBranch">
              <option value="Head Office">Head Office</option>
            </select>
          </div>

          <div class="form-group">
            <label>PIC Corporate</label>
            <input type="text" class="form-control form-sm" data-key="CorpPic" placeholder="PIC Corporate">
          </div>
          <div class="form-group">
            <label>PIC Corporate Number</label>
            <input type="text" class="form-control form-sm" data-key="CorpPicNo" placeholder="PIC Corporate Number">
          </div>
          <div class="form-group ui-front">
            <label>PIC Internal</label>
            <input type="text" class="form-control form-sm pic" data-key="InternPic" placeholder="PIC Internal">
          </div>
          <div class="form-group">
            <label>PIC Internal Number</label>
             <input type="text" class="form-control form-sm pic-mobile" data-key="InternPicNo" placeholder="PIC Internal Number" disabled>
          </div>
          <div class="form-group">
            <label>Meeting Documentation</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input icon-label form-sm" data-key="MeetDoc" id="document_Meeting">
              <label class="custom-file-label" for="document_Meeting">
                <span class="label-upload">upload</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>PDF Proposal</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input icon-label form-sm" id="pdf_proposal" data-key="PropDoc">
              <label class="custom-file-label" for="pdf_proposal">
                <span class="label-upload">upload</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>PDF Additional Document</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input icon-label form-sm" data-key="AddDoc" id="pdf_Additional">
              <label class="custom-file-label" for="pdf_Additional">
                <span class="label-upload">upload</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Meeting Result</label>
            <textarea class="form-control rounded-0 form-sm" data-key="MeetNote" cols="30" rows="4"></textarea>
          </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <!--<a class="btn btn-success px-4 mx-2" data-toggle="modal" href="#step2"  data-dismiss="modal" >
            <i class="ico ico-save"></i> SUBMIT
          </a>--> <a class="btn-save-1 btn btn-success px-4 mx-2" onclick="saveMe(1)" >
            <i class="ico ico-save"></i> SUBMIT
        </a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="step2" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" onclick="pushBack()">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Step 2</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Upload MOU</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input step2" data-key="MouFile" id="uploadFilePDFProposal">
            <label class="custom-file-label" for="uploadFile">Upload MOU</label>
          </div>
        </div>
        <div class="form-group">
          <label>Data MOU Signed</label>
          <input type="text"  class="dates form-control step2" data-key="MouSigned" />
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label>Start MOU Date</label>
              <input type="text"  class="dates form-control step2" data-key="MouStart">
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label>End MOU Date</label>
              <input type="text"  class="dates form-control step2" data-key="MouEnd">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Amount</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Rp.</span>
            </div>
            <input type="text" class="form-control step2" data-key="Amount" placeholder="123">
          </div>
        </div>
        <div class="form-group">
          <label>Sumber Dana</label>
          <select class="form-control select step2 dana" data-key="FundSource">
            
          </select>
        </div>
        <div class="form-group">
          <label>Pilar</label>
          <select class="form-control select  step2 pilar" data-key="Pilar">
            
          </select>
        </div>
        <div class="form-group">
          <label>Program Utama</label>
          <select class="form-control select  step2 utama"   data-key="ProgramUtama">
            
          </select>
        </div>
        <div class="form-group">
          <label>Program Turunan</label>
          <select class="form-control select  step2 turunan"  data-key="ProgramTurunan" >
             
          </select>
        </div>
        <div class="form-group">
          <label>Detail Program</label>
          <input type="hidden" name="" class="step2" id="material" data-key="MaterialNumber">
          <select class="form-control select detailProgram detail  step2"  data-key="DetailProgram">         
          </select>
        </div>
        <div class="input-wrapper">
          <label>Rights</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rightsCheckbox1">
            <label class="form-check-label" for="rightsCheckbox1">
              Lorem Ipsum
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rightsCheckbox2">
            <label class="form-check-label" for="rightsCheckbox2">
              Lorem Ipsum
            </label>
          </div>
          <div class="d-flex mt-3">
            <input type="text" class="form-control mr-4" placeholder="Add Rights">
            <button class="btn btn-secondary">ADD</button>
          </div>
        </div>
        <div class="input-wrapper mt-4">
          <label>Obligations</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rightsCheckbox1">
            <label class="form-check-label" for="rightsCheckbox1">
              Lorem Ipsum
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rightsCheckbox2">
            <label class="form-check-label" for="rightsCheckbox2">
              Lorem Ipsum
            </label>
          </div>
          <div class="d-flex mt-3">
            <input type="text" class="form-control mr-4" placeholder="Add Rights">
            <button class="btn btn-secondary">ADD</button>
          </div>
        </div>
        <div class="form-group mt-4">
          <label>Description</label>
          <textarea type="text" class="form-control step2" data-key="Description" placeholder="Description"></textarea>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <a class="btn-save-2 btn btn-success px-4 mx-2" onclick="saveMe(2)">
            <i class="ico ico-save"></i> SUBMIT
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="step3" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Step 3</h5>
    </div>
    <div class="modal-body">
      <form action="#">
        <div class="border rounded p-3">
          <div class="form-group">
            <label>Withdraw Title</label>
            <input type="text" class="form-control step3" data-key="WithdrawTitle" placeholder="Withdraw Title">
          </div>
          <div class="form-group">
            <label>Data MOU Signed</label>
            <input type="text" class="dates form-control step3" data-key="MouSigned">
          </div>
          <div class="form-group">
            <label>Evidence of Transfer</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input step3" data-key="TrfEvidence" id="uploadFileEvidenceOfTransfer">
              <label class="custom-file-label" for="uploadFile">Evidence of Transfer</label>
            </div>
          </div>
          <button type="button" class="btn btn-secondary d-block mx-auto">ADD</button>
        </div>
        <div class="border rounded p-3 mt-4">
          <div class="form-group">
          <div class="form-group">
            <label>Progress Documentation Video</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input step3" data-key="ProgressDoc" id="uploadFileProgressDocumentationVideo">
              <label class="custom-file-label" for="uploadFile">Progress Documentation Video</label>
            </div>
          </div>
            <label>Progress Documentation Desc</label>
            <input type="text" class="form-control step3" data-key="ProgressDesc" placeholder="Progress Documentation Desc">
          </div>
          <button  type="button" class="btn btn-secondary d-block mx-auto">ADD</button>
        </div>
        <div class="mt-5 text-center">
          <button  type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <a class="btn btn-success px-4 mx-2" onclick="saveMe(3)">
            <i class="ico ico-save"></i> SUBMIT
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="step4" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Step 4</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Proof of Realization of Fund</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadFileProofRealizationFund">
            <label class="custom-file-label" for="uploadFile">Proof of Realization of Fund</label>
          </div>
          <a href="#" class="text-primary">Download Template</a>
        </div>
        <div class="form-group">
          <label>Edited Video</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadFileEditedVideo">
            <label class="custom-file-label" for="uploadFile">Upload Edited Video</label>
          </div>
        </div>
        <div class="form-group">
          <label>Input Link</label>
          <input type="text" class="form-control" placeholder="Input Link">
        </div>
        <div class="form-group mt-4">
          <label>Description</label>
          <textarea type="text" class="form-control" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Comprehensive Program Report</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadFileComprehensiveProgramReport">
            <label class="custom-file-label" for="uploadFile">Comprehensive Program Report</label>
          </div>
        </div>
        <div class="form-group">
          <label>Reporting Deadline</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group">
          <label>Reporting Realization Date</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group">
          <label>Evaluation</label>
          <input type="text" class="form-control" placeholder="Evaluation">
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-toggle="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <a class="btn btn-success px-4 mx-2" data-toggle="modal"  href="#step3"  data-dismiss="modal" >
            <i class="ico ico-save"></i> SUBMIT
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

 <!-- Modal detail Step 1-->
 <div class="modal fade" id="detailstep1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Step 1</h5>
      </div>
      <p id="awaiting">loading...</p>
      <div class="modal-body hidden step1">
        <div class="row mb-3">
          <div class="col-md-6">
            Corporate Type
          </div>
          <div class="col-md-6 step1val" data-key="CorpType">
            : Branch
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Corporate Name
          </div>
          <div class="col-md-6 step1val" data-key="CorpName">
            : Pegadaian
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Branch Name
          </div>
          <div class="col-md-6 step1val" data-key="CorpBranch">
            : Cabang Jakarta Selatan
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            PIC Corporate
          </div>
          <div class="col-md-6 step1val" data-key="CorpPic">
            : Rizky Ramadhan
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            PIC Corporate Number
          </div>
          <div class="col-md-6 step1val" data-key="CorpPicNo">
            : 085399434646
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            PIC Internal
          </div>
          <div class="col-md-6 step1val" data-key="InternPic">
            : Radiktya
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Meeting Documentation
          </div>
          <div class="col-md-6 step1val" data-key="MeetDoc">
            : <a href="#"><i class="ico ico-download"></i> meeting.docx</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            PDF Proposal
          </div>
          <div class="col-md-6 step1val" data-key="PropDoc">
            : <a href="#"><i class="ico ico-download"></i> proposal.pdf</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            PDF Additional document
          </div>
          <div class="col-md-6 step1val" data-key="AddDoc">
            : <a href="#"><i class="ico ico-download"></i> additionaldoc.pdf</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            Meeting Result
          </div>
          <div class="col-md-6 step1val" data-key="MeetNote">
            : Donator menyetujui untuk bekerjasama selama 1 Tahun
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Add Tunjangan -->
<div class="modal fade" id="change_status" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
  <div class="modal-content">
    <div class="modal-header flex justify-content-center">
      <h5 class="modal-title text-primary pl-2">Change Status</h5>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center">
        <img src="/images/icons/change-status-icon.svg" alt="dt erp" class="my-3">
      </div>
      <p class="text-center">Are you sure Change Status ?</p>
      <div class="mt-4 text-center">
        <button class="btn btn-danger px-4 mx-2" data-toggle="modal">
          <i class="ico ico-cancel"></i> NO
        </button>
        <button type="submit" class="btn btn-success px-4 mx-2" data-toggle="modal">
          <i class="ico ico-save"></i> YES
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  async function getDetail(id)
  {
    document.querySelector('#awaiting').innerHTML = 'loading...'
    document.querySelector('.step1').classList.add('hidden')
    const req = await fetch('{url}dtapinew/getmacoonedetail?id=' + id)
    const res = await req.json()
    if(req.ok){
       document.querySelector('#awaiting').innerHTML = ''
       document.querySelector('.step1').classList.remove('hidden')
       const static = document.querySelectorAll('.step1val')
       for(const item of static){
         if(res.data[0]['CorpBranch'] != null && item.dataset.key == 'CorpType'){
             item.innerHTML = 'Branch'
         } else if(res.data[0]['CorpBranch'] == null && item.dataset.key == 'CorpType') {
             item.innerHTML = 'Head Office'
         } else if(item.dataset.key == 'MeetDoc' || item.dataset.key == 'PropDoc' || item.dataset.key == 'AddDoc') {
            if(res.data[0][item.dataset.key] != null){
             // const urls = ('{url}').replace('/website','')
                const urls = '{url}'
               item.innerHTML = `<a href="${urls}uploads/${res.data[0][item.dataset.key]}"><i class="ico ico-download"></i> ${res.data[0][item.dataset.key]}</a>`
            } else {
              item.innerHTML = ''
            }
          }else {
             item.innerHTML = res.data[0][item.dataset.key]
         }
       }
    }
  }
</script>


<script>
  
let dana = 0
let pilar = 0
let utama = 0
let turunan = 0
let detailcode = 0

$('.select').select2({
  theme: 'bootstrap4 select-sm'
})

$('.dana').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select dana",
  ajax: {
        url: `{url}dtapinew/getdana`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      dana = e.params.data.id
    });


$('.pilar').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select pilar",
  ajax: {
        url: `{url}dtapinew/getpilar`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      pilar = e.params.data.id
      wakeUtama()
      
    });

function wakeUtama()
{
    $('.utama').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select utama",
  ajax: {
        url: `{url}dtapinew/getutama?id=${pilar}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      utama = e.params.data.id
      wakeTurunan()
      
    });
}    

function wakeTurunan()
{
    $('.turunan').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select turunan",
  ajax: {
        url: `{url}dtapinew/getturunan?id=${utama}&id2=${pilar}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
     turunan = e.params.data.id 
     detailcode = dana + pilar + utama + turunan 
     wakeDetail()
    }); 
} 

function wakeDetail()
{
  $('.detail').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select detail",
  ajax: {
        url: `{url}dtapinew/getnewprogram?id=${detailcode}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
  const detail = (e.params.data.id).split('-')
       document.querySelector('#material').value = detail[0]
    }); 
}
</script>


<script>

async function defaultPic()
  {
     const hdr = new Headers
     const token = await read_token()
     hdr.append('authorization',token)
     const req = await fetch('{url}dtapi/getprofile',{
      headers: hdr
     })
     const res = await req.json()
     if(req.ok){
       document.querySelector('.pic').value = res.data[0].RealName
       document.querySelector('.pic-mobile').value = res.data[0].Phone
     }
  }
  defaultPic()



    $('.pic').autocomplete({
    source: async (req, res) => {
      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getallusers?q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.RealName,
            value: e.RealName,
            PicId: e.RealName,
            Phone: e.Phone
          }
          data.push(obj)
        })
        res(data)
      }
    },
    minLength: 1
  }).on("autocompleteselect", function (event, ui) {
    document.querySelector('.pic').value = ui.item.PicId 
    document.querySelector('.pic-mobile').value = ui.item.Phone
  })







$('.corp-name').autocomplete({
    source: async (req, res) => {
      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapinew/getallcorp?q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.source.forEach((e) => {
          let obj = {
            label: e.CorpName,
            value: e.CorpName,
            corp: e.CorpName,
            branch: r.data.branch
          }
          data.push(obj)
        })
        res(data)
      }
    },
    minLength: 1
  }).on("autocompleteselect", function (event, ui) {
     if(ui.item.branch.length != 0){
      let items = ''
      for(const item of ui.item.branch){
        if(ui.item.corp == item.corp){
          items += "<option value='" + item.value + "'>" + item.label + "</option>"
        }
      }
      document.querySelector('#branch').innerHTML = items + ''
      document.querySelector('.branch').classList.remove('hidden')
     }
  }).on( "autocompletesearch", function( event, ui ) {
    document.querySelector('.branch').classList.add('hidden')
  } )





  $('.dates').datepicker({
    format: 'yyyy-mm-dd'
  })

  let dt = ''
  async function load_data() {
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
      dt.search(fnd).draw()
    } else {
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": "{url}dtapinew/macodt",
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": "CorpName" },
          { "data": (row)=>{
              if(row.CorpBranch != null){
                  return row.CorpBranch
              } else {
                 return `Head Office`
              }
          } },
          { "data": "MaterialNumber" },
          { "data": "Status" },
          { "data": "Initiator" },
          { "data": (row)=>{
              let modal = ''
              let title = ''
              let done = ''
              switch(row.Status){
                 case "Step 1": 
                 modal = '#step2'
                 title = 'STEP 2'
                 break;
                 case "Step 2": 
                 case "Done":
                /* modal = '#step3'
                 title = 'STEP 3'
                 break;
                 case "Step 3": 
                 modal = '#step4'
                 title = 'STEP 4'
                 break;
                 case "Step 4": */
                 modal = '#done'
                 title = 'DONE'
                 done = `; done(${row.Id})`
                 break;
              }
              return ` <a href="#detailstep1" onclick="getDetail(${row.Id})" class="mx-1" data-toggle="modal">
                    <i class="ico ico-file-2 middle"></i>
                  </a><button data-target="${modal}" data-toggle="modal" class="btn-done btn btn-primary"  onclick="runs(${row.Id})${done}">${title}</button>`
          } }
           
        ]
      });


    }
  }

  load_data()

  let e_id = 0

  async function done(id)
  {
     document.querySelector('.btn-done').setAttribute('disabled',true)
     document.querySelector('.btn-done').innerHTML = 'processing...'
     const req = await fetch('{url}dtapinew/macodone?id=' + id)
     if(req.ok){
      alert('done!')
      location.reload()
     }
  }


  function pushBack()
  {
     $('#detailstep1').modal('show')
     getDetail(e_id)
  }

  function runs(id)
  {
     e_id = id
  }

    async function saveMe(id)
    {
        let url = ''
        let fd = ''
        const btn1 = document.querySelector('.btn-save-1')
        const btn2 = document.querySelector('.btn-save-2')
        
        switch(id)
        {
            case 1: 
            btn1.innerHTML = 'menyimpan...'
            btn1.setAttribute('disabled',true)
            url = '{url}dtapinew/macooneadd'
            fd = new FormData
            forms = document.querySelectorAll('.form-sm')
            for(let item of forms){
            switch(item.dataset.key){
                case "MeetDoc": 
                case "PropDoc":
                case "AddDoc": 
                if(item.files[0] != undefined){
                    fd.append(item.dataset.key,item.files[0]); 
                }
                break;
                default: 
                if(item.dataset.key != undefined){
                    fd.append(item.dataset.key,item.value); 
                }
                break;
            }
            }
            
            break;
            case 2: 
            btn2.innerHTML = 'menyimpan...'
            btn2.setAttribute('disabled',true)
            url = '{url}dtapinew/macotwoadd?macoid=' + e_id
            fd = new FormData
            forms = document.querySelectorAll('.step2')
            for(let item of forms){
              if(item.dataset.key == "MouFile"){
                 fd.append(item.dataset.key,item.files[0])
              } else {
                fd.append(item.dataset.key,item.value)
              }
            }
            break;
            case 3: 
            url = '{url}dtapinew/macothreeadd'
            fd = new FormData
            fd.append('MacoId',e_id)
            forms = document.querySelectorAll('.step3')
            for(let item of forms){
              if(item.dataset.key == "TrfEvidence" || item.dataset.key == "ProgressDoc"){
                 fd.append(item.dataset.key,item.files[0])
              } else {
                fd.append(item.dataset.key,item.value)
              }
            }
            break;
            case 4: break;
        }
        
        const req = await fetch(url,{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            location.reload()
        }
    }

</script>


{footer}