{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Data Transfer Manual</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/manual-trf-list">List Data Transfer Manual</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Data Transfer Manual
        </h3>
        <div class="container-inner">
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Upload Bukti Transfer
                  </div>
                  <div class="col-md-8">
                    <div class="custom-file form-sm">
                      <input type="file" class="custom-file-input icon-label form-sm" id="document_Meeting" data-key="BuktiTransfer">
                      <label class="custom-file-label" for="document_Meeting">
                        <span class="label-upload">Upload Bukti Transfer</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Cabang
                  </div>
                  <div class="col-md-8">
                    <select class="custom-select form-sm" data-key="BankCabang">
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Donator Phone Number
                  </div>
                  <div class="col-md-8">
                   <input type="text" name="" class="form-control form-sm" data-key="DonatorPhone">
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Nominal
                  </div>
                  <div class="col-md-8">
                    <div class="d-flex">
                      <div class="currency-cn2">
                        Rp
                      </div>
                      <div class="w-100">
                        <input type="number" class="form-control form-sm" data-key="Nominal" placeholder="1.000.000">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Material Number  
                  </div>
                  <div class="col-md-8">
                    <select class="custom-select form-sm" id="mat" data-key="MaterialNumber">
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    Kanal Himpun
                  </div>
                  <div class="col-md-8">
                    <select class="custom-select form-sm" id="himpun" data-key="KanalHimpun">
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="input-list">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    PIC
                  </div>
                  <div class="col-md-8">
                    <select class="custom-select form-sm" id="pic" data-key="PIC">
                      
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 container-inner">
        <button type="button" onclick="saveMe()" class="btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>


<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date" placeholder="Start Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date" placeholder="End Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger mx-2">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button class="btn btn-success mx-2">
            <i class="ico ico-filter"></i> APPLY FILTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>
    async function loadHimpun()
    {
        const req = await fetch('{url}dtapinew/loadhimpun')
        const res = await req.json()
        if(req.ok){
            const himpun = document.querySelector('#himpun')
            for(const item of res.data){
                himpun.innerHTML += `
                <option value='${item.Kanal}'>${item.Kanal} (${item.HimpunCode})</option>
                `
            }
        }
    }

    loadHimpun()

    async function loadEmp()
    {
        const req = await fetch('{url}dtapinew/getempname')
        const res = await req.json()
        if(req.ok){
            const pic = document.querySelector('#pic')
            for(const item of res.data){
                pic.innerHTML += `
                <option value='${item.Name}'>${item.Name}</option>
                `
            }
        }
    }

    loadEmp()

    async function loadMat()
    {
        const req = await fetch('{url}dtapinew/getmaterial')
        const res = await req.json()
        if(req.ok){
            const pic = document.querySelector('#mat')
            for(const item of res.data){
                pic.innerHTML += `
                <option value='${item.MaterialNumber}'>${item.MaterialNumber}</option>
                `
            }
        }
    }

    loadMat()

    async function saveMe()
    {
        const fd = new FormData
        const data = document.querySelectorAll('.form-sm')
        for(const item of data){
            if(item.dataset.key == 'BuktiTransfer'){
                fd.append(item.dataset.key,item.files[0])
            } else {
                if(item.dataset.key != undefined){
                    fd.append(item.dataset.key,item.value)
                }
            }
        }
        const req = await fetch('{url}dtapinew/manualtrf',{
            method: 'POST',
            body: fd
        })
        const res = await req.json()
        if(req.ok){
            location.href = '{url}erp/manual-trf-list'
        }
    }
</script>

{footer}