{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{url}erp/manual-trd">Data Transfer Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="#">List Data Transfer Manual</a>
          </li>
    </ul>
    <div class="container-inner pt-3">
      <a href="data-transfer-manual.html" class="btn btn-success my-3">Add</a></td>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">ID</td>
            <td scope="col" class="text-center">PIC</td>
            <td scope="col" class="text-center">Nominal</td>
            <td scope="col" class="text-center">Document</td>
            <td scope="col" class="text-center">Detail</td>
            <td scope="col" class="text-center">Status</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">085223000000</td>
            <td class="text-center">
              <img src="/images/icons/icon-eye.svg" alt="dt erp" class="my-3"></td>
            <td class="text-center">
              <a data-toggle="modal" class="btn btn-warning">Detail</a></td>
            <td class="text-center">
              <a href="#change_status" data-toggle="modal" class="btn btn-primary">Update Status</a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Tunjangan -->
<div class="modal fade" id="change_status" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
  <div class="modal-content">
    <div class="modal-header flex justify-content-center">
      <h5 class="modal-title text-primary pl-2">Change Status</h5>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-center">
        <img src="/images/icons/change-status-icon.svg" alt="dt erp" class="my-3">
      </div>
      <p class="text-center">Are you sure Change Status ?</p>
      <div class="mt-4 text-center">
        <button class="btn btn-danger px-4 mx-2" data-toggle="modal">
          <i class="ico ico-cancel"></i> NO
        </button>
        <button type="submit" class="btn btn-success px-4 mx-2" data-toggle="modal">
          <i class="ico ico-save"></i> YES
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
     let dt = ''
  async function load_data() {
    let url = "{url}dtapinew/manualtrfdt"
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
      dt.destroy()
      url = "{url}dtapinew/manualtrfdt?term=" + fnd
    } else {
      if(dt != ''){
        dt.destroy()
      }
    }
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
             return ``
          } },
          { "data": "PIC" },
          { "data": (row)=>{
            return `Rp ${Intl.NumberFormat('ie-ID').format(row.Nominal)}`
          } },
          { "data": (row)=>{
          //  const urls = ('{url}').replace('/website','')
              const urls = '{url}'
            return `<img src='${urls}uploads/${row.BuktiTransfer}' style='width: 45%' />`
          } },
          { "data": (row)=>{
              
              return `<a data-toggle="modal" class="btn btn-warning">Detail</a>`
          } },
          { "data": (row)=>{
              
              return `<a href="#change_status" data-toggle="modal" class="btn btn-primary">Update Status</a>`
          } }
           
        ]
      });


    
  }

  load_data()
</script>

{footer}