{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/platform-master-data">List Platform Master Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/master-specialty">List Specialization Master Data</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Specialization Name</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody class="data">
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#edit" class="mx-2" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#delete" class="mx-2" data-toggle="modal">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Tunjangan -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Specialization Master Data Add</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Specialization Name</label>
          <input type="text" class="form-control specialty-add" data-key="SpecialtyName">
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button type="button" onclick="saveMe(0)" class="btn btn-success px-4 mx-2" >
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- Modal Add Tunjangan -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Specialization Master Data Edit</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="edit-id">
        <div class="form-group">
          <label>Specialization Name</label>
          <input type="text" class="form-control specialty-edit" data-key="SpecialtyName">
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button type="button" onclick="saveMe(1)" class="btn btn-success px-4 mx-2" >
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<script>
  async function saveMe(type)
{

    const fd = new FormData

    let stop = 0

    if(type == 0){
        // save
        
    const data = document.querySelectorAll('.specialty-add')

    for(const item of data){
      if(item.value == 0){
        stop++
      }
        fd.append(item.dataset.key,item.value)
    }

    if(stop == 0){

    const req = await fetch('{url}dtapinew/specialtyadd',{
        method: 'POST',
        body: fd
    })
    if(req.ok){
        location.reload()
    }

     } else {
        alert('data kosong')
     }
        
    } else {
        // edit

        const data = document.querySelectorAll('.specialty-edit')
    for(const item of data){
      if(item.value == ''){
        stop++
      }
        fd.append(item.dataset.key,item.value)
    }
    const edit_id = document.querySelector('#edit-id').value

    if(stop == 0){

    const req = await fetch('{url}dtapinew/specialtyupdate?id=' + edit_id,{
        method: 'POST',
        body: fd
    })
    if(req.ok){
        location.reload()
    }

    } else {
      alert('data kosong')
    }


    }
}

let dt = ''
function load_data()
{
    const finder = document.querySelector('.finder').value
    if(finder != ''){
        dt.search(finder).draw()
    } else {
        dt.search(finder).draw()
    }
}

async function load_data2()
{
    const req = await fetch('{url}dtapinew/specialtydt')
    const res = await req.json()
    if(req.ok){
        let data = ''
        let no = 1
        for(const item of res.data){
            data += `
             <tr>
                <td>${no}</td> 
                <td>${item.SpecialtyName}</td>
                <td> <a href="#edit" class="mx-2" data-toggle="modal" onclick="loadDetail(${item.Id})">
            <i class="ico ico-pencil ico-warning"></i>
          </a>
          <a href="#delete" class="mx-2" onclick="del(${item.Id})">
            <i class="ico ico-trash"></i>
          </a></td>
             </tr>
            `
            no++
        }
        document.querySelector('.data').innerHTML = data
        dt = $(".table-main").DataTable({
            "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
             "language": {
                 "emptyTable": "Data kosong",
                 "zeroRecords": "Data tidak ditemukan",
                "paginate": {
                    "previous": "<span class='icon-fi-sr-caret-left'></span>",
                    "next": "<span class='icon-fi-sr-caret-right'></span>",
                }
            },
            "orderable": "false"
        })
    }
}

load_data2()

async function loadDetail(id)
{
    const req = await fetch('{url}dtapinew/specialtydetail?id=' + id)
    const res = await req.json()
    if(req.ok){
        const item = document.querySelectorAll('.specialty-edit')
        for(const elem of item){
            elem.value = res.data[0][elem.dataset.key]
        }
        document.querySelector('#edit-id').value = id
    }
}

async function del(id)
{
    const ask = confirm('yakin akan menghapus?')
    if(ask){
        const req = await fetch('{url}dtapinew/specialtydel?id=' + id)
    if(req.ok){
        location.reload()
    }
    }
    
}

</script>

{footer}