{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Tunjangan Harian</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center" style="width: 80px;">No</td>
            <td scope="col" class="text-center">Jenis</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#edit" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Add Tunjangan Harian</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="mb-1">
          <input type="text" class="form-control form-sm add" placeholder="Jenis" data-key="Jenis">
        </div>
        <div class="mt-5 text-center">
          <a href="#" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </a>
          <button type="button" onclick="save_me(0)"  class="btn btn-success px-4 mx-2">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Edit Tunjangan Harian</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="edit-id">
        <div class="mb-1">
          <input type="text" class="form-control form-sm edit" placeholder="Jenis" data-key="Jenis">
        </div>
        <div class="mt-5 text-center">
          <a href="#" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </a>
          <button type="button" onclick="save_me(1)" class="btn btn-success px-4 mx-2">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<script>
    let dt = ''
    async function load_data() {
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": "{url}dtapi/dtmastertunjhar",
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center",targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "Jenis" },
          {
            "data": (row) => {
              return `<center><a href="#edit" data-toggle="modal" onclick="edit(${row.Id},'${row.Jenis}')">
                        <i class="ico ico-pencil ico-warning"></i>
                        </a></center>`
            }
          }
        ]
      })
    }
  
    load_data()
  
    function edit(id, value) {
      document.querySelector('#edit-id').value = id
      document.querySelectorAll('.edit')[0].value = value
    }
  
    async function save_me(type) {
      if (type == 0) {
        const fd = new FormData
        const add = document.querySelectorAll('.add')
        for (let e of add) {
          fd.append(e.dataset.key, e.value)
        }
        const req = await fetch('{url}dtapi/mastertunjharadd', {
          method: 'POST',
          body: fd
        })
        if (req.ok) {
          alert('data berhasil disimpan')
          location.reload()
        }
      } else {
        const id = document.querySelector('#edit-id').value
        const fd = new FormData
        const add = document.querySelectorAll('.edit')
        for (let e of add) {
          fd.append(e.dataset.key, e.value)
        }
        const req = await fetch('{url}dtapi/mastertunjharupdate?id=' + id, {
          method: 'POST',
          body: fd
        })
        if (req.ok) {
          alert('data berhasil diupdate')
          location.reload()
        }
      }
    }
  
  </script>

{footer}