{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">List Gaji Pokok</a>
    </li>
  </ul>
  <div class="container-inner">
    <div class="my-4">
      <div class="my-4">
        <a href="#add" class="btn btn-success" data-toggle="modal">
          <i class="ico ico-add mr-1"></i> Add
        </a>
      </div>
    </div>
    <table id="table" class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-center" style="width: 80px;">No</td>
          <td scope="col" class="text-center">PDDK</td>
          <td scope="col" class="text-center">Action</td>
        </tr>
      </thead>
      <tbody>
        <!--  <tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#edit" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
            </td>
          </tr> -->
      </tbody>
    </table>
  </div>
</div>
</div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Add Gaji Pokok</h5>

      </div>
      <div class="modal-body">
        <form action="#">
          <div class="mb-1">
            <input type="text" class="form-control form-sm add" placeholder="PDDK" data-key="Pddk">
          </div>
          <div class="mt-5 text-center">
            <a href="#" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
              <i class="ico ico-cancel"></i> CANCEL
            </a>
            <button type="button" class="btn btn-success px-4 mx-2" onclick="save_me(0)">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Edit Gaji Pokok</h5>

      </div>
      <div class="modal-body">
        <form action="#">
          <div class="mb-1">
            <input type="hidden" name="" id="edit-id">
            <input type="text" class="form-control form-sm edit" placeholder="PDDK" data-key="Pddk">
          </div>
          <div class="mt-5 text-center">
            <a href="#" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
              <i class="ico ico-cancel"></i> CANCEL
            </a>
            <button type="button" class="btn btn-success px-4 mx-2" onclick="save_me(1)">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let dt = ''
  async function load_data() {

    const finder = document.querySelector('.finder')
      let url = "{url}dtapi/dtmastergaji"
      if(finder.value != ''){
        dt.destroy()
        url = "{url}dtapi/dtmastergaji?term=" + finder.value
      }  else {
        $('.table-main').DataTable().destroy()
      }

    dt = $('.table-main').DataTable({
      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
      "language": {
        "emptyTable": "Data kosong",
        "zeroRecords": "Data tidak ditemukan",
        "paginate": {
          "previous": "<span class='icon-fi-sr-caret-left'></span>",
          "next": "<span class='icon-fi-sr-caret-right'></span>",
        }
      },
      "info": false,
      "ordering": false,
      "ajax": {
        "url": url,
        "type": "POST"
      },
      "processing": true,
      "serverSide": true,
      "columnDefs": [
        { className: "text-center", targets: "_all" }
      ],
      "columns": [
        { "data": "No" },
        { "data": "Pddk" },
        {
          "data": (row) => {
            return `<center><a href="#edit" data-toggle="modal" onclick="edit(${row.Id},'${row.Pddk}')">
                        <i class="ico ico-pencil ico-warning"></i>
                        </a></center>`
          }
        }
      ]
    })
  }

  load_data()

  function edit(id, value) {
    document.querySelector('#edit-id').value = id
    document.querySelectorAll('.edit')[0].value = value
  }

  async function save_me(type) {
    let stop = 0
    if (type == 0) {
      const fd = new FormData
      const add = document.querySelectorAll('.add')
     
      for (let e of add) {
        if(e.value == ''){
          stop++
        }
        fd.append(e.dataset.key, e.value)
      }

      if(stop == 0){
      const req = await fetch('{url}dtapi/mastergajiadd', {
        method: 'POST',
        body: fd
      })
      if (req.ok) {
        alert('data berhasil disimpan')
        location.reload()
      }
    } else {
      alert('data kosong')
    }

    } else {
      const id = document.querySelector('#edit-id').value
      const fd = new FormData
      const add = document.querySelectorAll('.edit')
      for (let e of add) {
        if(e.value == ''){
          stop++
        }
        fd.append(e.dataset.key, e.value)
      }

      if(stop == 0){
      const req = await fetch('{url}dtapi/mastergajiupdate?id=' + id, {
        method: 'POST',
        body: fd
      })
      if (req.ok) {
        alert('data berhasil diupdate')
        location.reload()
      }
    } else {
      alert('data kosong')
    }
    }
  }

</script>

{footer}