{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Potongan BPJS</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center" style="width: 85px;">No</td>
            <td scope="col" class="text-center">City</td> 
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
         <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">82398198829</td>
            <td class="text-center">
              <a href="#cicilanDetail" class="mx-2" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#delete" class="mx-2" data-toggle="modal">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Danbar -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Add Potongan BPJS</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="mb-1">
          <input type="text" class="form-control form-sm add" placeholder="City" data-key="City">
        </div>
        
        <div class="mt-5 text-center">
            <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal" class="close">
                <i class="ico ico-cancel"></i> CANCEL
              </button>
          <button type="button" class="btn btn-success px-4" onclick="save_me(0)" data-dismiss="modal" class="close">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
 
<!-- Modal Add Danbar -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Edit Potongan BPJS</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="edit-id">
        <div class="mb-1">
            <input type="text" class="form-control form-sm edit" placeholder="City" data-key="City">
          </div>
        <div class="mt-5 text-center">
            <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal" class="close">
                <i class="ico ico-cancel"></i> CANCEL
              </button>
          <button type="button" class="btn btn-success px-4" onclick="save_me(1)" data-dismiss="modal" class="close">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script>
    let dt = ''
    async function load_data() {
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": "{url}dtapinew/masterpotbpjsdt",
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center",targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "City" }, 
          {
            "data": (row) => {
              return ` 
              <input type="hidden" value='{"City":"${row.City}"}' id="dt-${row.Id}"/>
              <a href="#edit" class="mx-2" data-toggle="modal" onclick="edit(${row.Id})" >
                <i class="ico ico-pencil ico-warning"></i>
              </a>` 
            }
          }
        ]
      })
    }
  
    load_data()
  
    function edit(id) {
      document.querySelector('#edit-id').value = id
      const edit = document.querySelectorAll('.edit')
      const str = JSON.parse(document.querySelector('#dt-' + id).value)
      for(let e of edit){
          e.value = str[e.dataset.key]
      }
        
    }
  
    async function save_me(type) {
      if (type == 0) {
        const fd = new FormData
        const add = document.querySelectorAll('.add')
        for (let e of add) {
          fd.append(e.dataset.key, e.value)
        }
        const req = await fetch('{url}dtapinew/masterpotbpjsadd', {
          method: 'POST',
          body: fd
        })
        if (req.ok) {
          alert('data berhasil disimpan')
         location.reload()
        }
      } else {
        const id = document.querySelector('#edit-id').value
        const fd = new FormData
        const add = document.querySelectorAll('.edit')
        for (let e of add) {
          fd.append(e.dataset.key, e.value)
        }
        const req = await fetch('{url}dtapinew/masterpotbpjsupdate?id=' + id, {
          method: 'POST',
          body: fd
        })
        if (req.ok) {
          alert('data berhasil diupdate')
         location.reload()
        }
      }
    }
  
    async function erase(id) {
        const ask = confirm('yakin akan menghapus?')
        if(ask){
            const req = await fetch('{url}dtapinew/masterpotbpjsdelete?id=' + id, {
          method: 'POST'
        })
        if (req.ok) {
          alert('data berhasil dihapus')
         location.reload()
        }
        }
       
    }

  </script>
  

{footer}