{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="arisan.html">List Master Data Bank</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#add" class="btn btn-success" data-toggle="modal">
           Add
        </a>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Bank Name</td>
            <td scope="col" class="text-center">Branch Name</td>
            <td scope="col" class="text-center">BIC Code</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
         <!-- <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              Lorem Ipsum
            </td>
            <td class="text-center">
              Lorem Ipsum
            </td>
            </td>
            <td class="text-center">
                <a href="#edit" class="mx-2" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>
<!-- Modal add -->
<div class="modal fade" id="add" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Bank Master Data Add</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Bank Name</label>
          <input type="text" class="form-control bic-add" data-key="BankName" placeholder="Bank Name">
        </div>
        <div class="form-group">
            <label>Branch Name</label>
            <input type="text" class="form-control bic-add" data-key="BranchName"  placeholder="Bank Name">
          </div>
        <div class="form-group">
          <label>BIC Code</label>
          <input type="text" class="form-control bic-add" data-key="BIC" placeholder="BIC Code">
        </div>

        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" class="btn-add btn btn-success btn-lg mx-2 px-4" onclick="save_me(0)">
            <i class="ico ico-save sub mt-1"></i> Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="edit" tabindex="-1" aria-modal="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="close">
            <i class="ico ico-back"></i>
          </button>
          <h5 class="modal-title text-primary pl-2">Bank Master Data Edit</h5>
    
        </div>
        <div class="modal-body">
          <form action="#">
            <input type="text" id="edit-id">
            <div class="form-group">
                <label>Bank Name</label>
                <input type="text" class="form-control bic-edit" data-key="BankName" placeholder="Bank Name">
              </div>
            <div class="form-group">
                <label>Branch Name</label>
                <input type="text" class="form-control bic-edit" data-key="BranchName"  placeholder="Bank Name">
              </div>
            <div class="form-group">
              <label>BIC Code</label>
              <input type="text" class="form-control bic-edit" data-key="BIC" placeholder="BIC Code">
            </div>
    
            <div class="text-center mt-5">
              <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
                <i class="ico ico-cancel sub mt-1"></i> CANCEL
              </button>
              <button type="button" class="btn-edit btn btn-success btn-lg mx-2 px-4" onclick="save_me(1)">
                <i class="ico ico-save sub mt-1"></i> Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>


<script>
   
   let dt = ''
  async function load_data()
  {
      let url = "{url}dtapi/dtmasterbank"
      const fnd = document.querySelector('.finder')
      if(fnd.value != ''){ 
         url = "{url}dtapi/dtmasterbank?term=" + fnd.value
         dt.destroy()
      }
      dt = $('.table-main').DataTable({
              "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
              "language": {
                  "emptyTable": "Data kosong",
                  "zeroRecords": "Data tidak ditemukan",
                  "paginate": {
                      "previous": "<span class='icon-fi-sr-caret-left'></span>",
                      "next": "<span class='icon-fi-sr-caret-right'></span>",
               }
              },
              "info": false,
              "ordering": false,
              "ajax": {
                        "url": url,
                        "type": "POST"
                      }, 
              "processing": true,
              "serverSide": true,
              "columns": [
                  {"data":"No"},
                  {"data":"BankName"},
                  {"data":"BranchName"},
                  {"data":"BIC"},
                  {"data": (row)=>{
                      return `<a href="#edit" class="mx-2" data-toggle="modal" data-bank="${row.BankName}" data-branch="${row.BranchName}" data-bic="${row.BIC}" data-id="${row.Id}" onclick="edit(this)">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2" onclick="del(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>`
                  }}
              ]
                  })
  }

  load_data()

  function edit(id)
  {
      document.querySelector('#edit-id').value = id.dataset.id
      const edit = document.querySelectorAll('.bic-edit')
      edit[0].value = id.dataset.bank
      edit[1].value = id.dataset.branch
      edit[2].value = id.dataset.bic
  }

  async function save_me(type)
  {
      if(type == 0){
          const btn = document.querySelector('.btn-add')
          btn.innerHTML = 'menyimpan...'
          btn.setAttribute('disabled','true')
          const fd = new FormData
          const add = document.querySelectorAll('.bic-add')
          for(let e of add){
              fd.append(e.dataset.key,e.value)
          }
          const req = await fetch('{url}dtapi/bicadd',{
              method: 'POST',
              body: fd
          })
          if(req.ok){
              alert('data berhasil disimpan')
              location.reload()
          }
      } else {
          
          const btn = document.querySelector('.btn-edit')
          btn.innerHTML = 'menyimpan...'
          btn.setAttribute('disabled','true')
          const id = document.querySelector('#edit-id').value
          const fd = new FormData
          const add = document.querySelectorAll('.bic-edit')
          for(let e of add){
              fd.append(e.dataset.key,e.value)
          }
          const req = await fetch('{url}dtapi/bicupdate?id=' + id,{
              method: 'POST',
              body: fd
          })
          if(req.ok){
              alert('data berhasil diupdate')
              location.reload()
          }
      } 
  }

  async function del(id)
  {
    const ask = confirm('apakah akan menghapus?')
    if(ask){
        const req = await fetch('{url}dtapi/bicdelete?id=' + id)
    if(req.ok){
        alert('data berhasil dihapus')
        location.reload()
    }
    }
  }

  </script>

{footer}