{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Bank Account DT</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center" style="width: 85px;">No</td>
            <td scope="col" class="text-center">Bank Name</td>
            <td scope="col" class="text-center">Bank Branch Name</td>
            <td scope="col" class="text-center">Bank BIC</td>
            <td scope="col" class="text-center">Account Number</td>
            <td scope="col" class="text-center">Account VA</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
         <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">82398198829</td>
            <td class="text-center">
              <a href="#cicilanDetail" class="mx-2" data-toggle="modal">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#delete" class="mx-2" data-toggle="modal">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Danbar -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Add Bank Account DT</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="mb-1">
          <input type="text" class="form-control form-sm add" placeholder="Account Number" data-key="BankAccount">
        </div>
        <div class="mb-1">
          <input type="text" class="form-control form-sm add" placeholder="Bank Name" data-key="BankName">
        </div>
        <div class="mb-1">
            <input type="text" class="form-control form-sm add" placeholder="Bank Branch Name" data-key="BankBranchName">
          </div>
          <div class="mb-1">
            <input type="text" class="form-control form-sm add" placeholder="Bank BIC" data-key="BIC">
          </div>
        <div class="mt-5 text-center">
          <button type="button" class="btn btn-success px-4" onclick="save_me(0)" data-dismiss="modal" class="close">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
 
<!-- Modal Add Danbar -->
<div class="modal fade" id="edit" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Edit Bank Account DT</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <input type="hidden" id="edit-id">
        <div class="mb-1">
          <input type="text" class="form-control form-sm edit" placeholder="Account Number" data-key="BankAccount">
        </div>
        <div class="mb-1">
          <input type="text" class="form-control form-sm edit" placeholder="Bank Name" data-key="BankName">
        </div>
        <div class="mb-1">
            <input type="text" class="form-control form-sm edit" placeholder="Bank Branch Name" data-key="BankBranchName">
          </div>
          <div class="mb-1">
            <input type="text" class="form-control form-sm edit" placeholder="Bank BIC" data-key="BIC">
          </div>
        <div class="mt-5 text-center">
          <button type="button" class="btn btn-success px-4" onclick="save_me(1)" data-dismiss="modal" class="close">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script>
    let dt = ''
    async function load_data() {
      const finder = document.querySelector('.finder')
      let url = "{url}dtapinew/bankfunddt"
      if(finder.value != ''){
        dt.destroy()
        url = "{url}dtapinew/bankfunddt?term=" + finder.value
      }  else {
        $('.table-main').DataTable().destroy()
      }
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center",targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "BankName" },
          { "data": "BankBranchName" },
          { "data": "BIC" },
          { "data": "BankAccount" },
          { "data":(row)=>{
            return `<center><input type="checkbox" style="width: 17px; vertical-align: absmiddle;" class="form-control" /></center>`
          } },
          {
            "data": (row) => {
              return ` 
              <input type="hidden" value='{"BankName":"${row.BankName}","BankBranchName":"${row.BankBranchName}","BankAccount":"${row.BankAccount}","BIC":"${row.BIC}"}' id="dt-${row.Id}"/>
              <a href="#edit" class="mx-2" data-toggle="modal" onclick="edit(${row.Id})" >
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a class="mx-2" onclick="erase(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>`
            }
          }
        ]
      })
    }
  
    load_data()
  
    function edit(id) {
      document.querySelector('#edit-id').value = id
      const edit = document.querySelectorAll('.edit')
      const str = JSON.parse(document.querySelector('#dt-' + id).value)
      for(let e of edit){
          e.value = str[e.dataset.key]
      }
        
    }
  
    async function save_me(type) {
      
      let stop = 0
      if (type == 0) {
        const fd = new FormData
        const add = document.querySelectorAll('.add')
        for (let e of add) {
          if(e.value == ''){
            stop++
          }
          fd.append(e.dataset.key, e.value)
        }

        if(stop == 0){
        const req = await fetch('{url}dtapinew/bankfundadd', {
          method: 'POST',
          body: fd
        })
        if (req.ok) {
          alert('data berhasil disimpan')
          dt.ajax.reload()
        } else {
          alert('data sudah ada')
        }
      } else {
        alert('data kosong')
      }

      } else {
        const id = document.querySelector('#edit-id').value
        const fd = new FormData
        const add = document.querySelectorAll('.edit')
        for (let e of add) {
          if(e.value == ''){
            stop++
          }
          fd.append(e.dataset.key, e.value)
        }

        if(stop == 0){
        const req = await fetch('{url}dtapinew/bankfundupdate?id=' + id, {
          method: 'POST',
          body: fd
        })
        if (req.ok) {
          alert('data berhasil diupdate')
          dt.ajax.reload()
        }
      } else {
        alert('data kosong')
      }

      }
    }
  
    async function erase(id) {
        const ask = confirm('yakin akan menghapus?')
        if(ask){
            const req = await fetch('{url}dtapinew/bankfunddelete?id=' + id, {
          method: 'POST'
        })
        if (req.ok) {
          alert('data berhasil dihapus')
          dt.ajax.reload()
        }
        }
       
    }

  </script>
  

{footer}