{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-dana">Entry Sumber Dana</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="#">List Sumber Dana</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-pilar">Entry Pilar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-pilar-list">List Pilar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-utama">Entry Program Utama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-utama-list">List Program Utama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-turunan">Entry Program Turunan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{url}erp/new-program-turunan-list">List Program Turunan</a>
        </li>
      </ul>
    </ul>
    <div class="container-inner pt-5">

      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Sumber Dana</td>
            <td scope="col" class="text-center">Sumber Dana Code</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center" style="width: 10px;">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#" class="mx-2">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="ico ico-trash"></i>
              </a>
            </td>
          </tr>-->

        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
    let dt = ''
  async function load_data() {
   let url = "{url}dtapinew/newfunddt"
   const fnd = document.querySelector('.finder').value
   if (fnd != '') {
     dt.destroy()
     url = "{url}dtapinew/newfunddt?term=" + fnd
   } else {
     if(dt != ''){
       dt.destroy()
     }
   }
   
     dt = $('.table-main').DataTable({
       "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
       "language": {
         "emptyTable": "Data kosong",
         "zeroRecords": "Data tidak ditemukan",
         "paginate": {
           "previous": "<span class='icon-fi-sr-caret-left'></span>",
           "next": "<span class='icon-fi-sr-caret-right'></span>",
         }
       },
       "info": false,
       "ordering": false,
       "ajax": {
         "url": url,
         "type": "POST"
       },
       "processing": true,
       "serverSide": true,
       "columnDefs": [
         { className: "text-center", }
       ],
       "columns": [
         { "data": "No" }, 
         { "data": "Dana" },
         { "data": "DanaCode" },
         { "data": (row)=>{
          
           return `  <a href="#" class="mx-2">
                <i class="ico ico-pencil ico-warning"></i>
              </a>
              <a href="#" class="mx-2" onclick="destroy(${row.Id})">
                <i class="ico ico-trash"></i>
              </a>`
         } } 
          
       ]
     });
  
  
   
  }
  
  load_data()

  async function destroy(id)
  {
    const ask = confirm('yakin akan menghapus?')
    if(ask){
      const req = await fetch('{url}dtapinew/danadel?id=' + id)
      if(req.ok){
        alert('berhasil hapus data')
        location.reload()
      }
    }
  }
  </script>

{footer}