{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Entry New Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/new-program-list">List New Program</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          New Program
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Name
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm" data-key="Program" placeholder="Program Name">
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Sumber Dana
                </div>
                <div class="col-md-8">
                  <select class="dana select-holder w-100 form-sm" data-key="DanaCode" data-placeholder="Choose Sumber Dana">
                   
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Pilar
                </div>
                <div class="col-md-8">
                  <select class="pilar select-holder w-100 form-sm" data-key="PilarCode" data-placeholder="Choose Pilar">
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Utama
                </div>
                <div class="col-md-8">
                  <select class="utama select-holder w-100 form-sm" data-key="UtamaCode" data-placeholder="Choose Program Utama">
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Turunan
                </div>
                <div class="col-md-8">
                  <select class="turunan select-holder w-100 form-sm" data-key="TurunanCode" data-placeholder="Choose Program Turunan">
                     
                  </select>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success px-5" onclick="save_me()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>
 
<script>

let dana = 0
let pilar = 0
let utama = 0
let turunan = 0

$('.select-holder').select2({
  theme: 'bootstrap4 select-sm'
})

$('.dana').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select dana",
  ajax: {
        url: `{url}dtapinew/getdana`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      dana = e.params.data.id
    });


$('.pilar').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select pilar",
  ajax: {
        url: `{url}dtapinew/getpilar`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      pilar = e.params.data.id
      wakeUtama()
      
    });

function wakeUtama()
{
    $('.utama').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select utama",
  ajax: {
        url: `{url}dtapinew/getutama?id=${pilar}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      utama = e.params.data.id
      wakeTurunan()
      
    });
}    

function wakeTurunan()
{
    $('.turunan').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select turunan",
  ajax: {
        url: `{url}dtapinew/getturunan?id=${utama}&id2=${pilar}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
     turunan = e.params.data.id 
      
    }); 
}    

async function check_material(material)
{
  const req = await fetch('{url}dtapinew/getnewmaterial?id=' + material)
  const res = await req.json()
  if(req.ok){
    const detail_running = res.data[0].DetailRunning 
    return material + ((parseInt(detail_running.substring((detail_running.length)-4))) + 1).toString().padStart(4,'0')
  } else {
    return material + ('1').padStart(4,'0')
  }
}

async function save_me()
{
   const form = document.querySelectorAll('.form-sm')
   const fd = new FormData
   let stop = 0
   for(const item of form){
     if(item.value == ''){
      stop++
     }
     fd.append(item.dataset.key,item.value)
   }
  const detail = await check_material(dana + pilar + utama + turunan)
  fd.append('DetailCode',(dana + pilar + utama + turunan))
  fd.append('DetailRunning',detail)
  if(stop == 0){
    const req = await fetch('{url}dtapinew/newprogramadd',{
    method: 'POST',
    body: fd
  })
  if(req.ok){
    alert('berhasil menambah data')
    location.href = '{url}erp/new-program-list'
  }
  } else {
    alert('data kosong')
  }
 
}

</script>

{footer}