{header}
<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="{url}erp/new-program">Entry New Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">List New Program</a>
      </li>
    </ul>
    <div class="container-inner pt-5">
      
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Program Name</td>
            <td scope="col" class="text-center">Material Number</td>
            <td scope="col" class="text-center">Available Amount</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center" style="width: 10px;">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">76796976869</td>
            <td class="text-center">
              <a href="#" class="mx-2">
                Detail
              </a>
            </td>
          </tr>-->

        </tbody>
      </table>
    </div>


  </div>
</div>
</div>


<script>
  let dt = ''
async function load_data() {
 let url = "{url}dtapinew/newprgdt"
 const fnd = document.querySelector('.finder').value
 if (fnd != '') {
   dt.destroy()
   url = "{url}dtapinew/newprgdt?term=" + fnd
 } else {
   if(dt != ''){
     dt.destroy()
   }
 }
 
   dt = $('.table-main').DataTable({
     "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
     "language": {
       "emptyTable": "Data kosong",
       "zeroRecords": "Data tidak ditemukan",
       "paginate": {
         "previous": "<span class='icon-fi-sr-caret-left'></span>",
         "next": "<span class='icon-fi-sr-caret-right'></span>",
       }
     },
     "info": false,
     "ordering": false,
     "ajax": {
       "url": url,
       "type": "POST"
     },
     "processing": true,
     "serverSide": true,
     "columnDefs": [
       { className: "text-center", }
     ],
     "columns": [
       { "data": "No" }, 
       { "data": "Program" },
       { "data": "DetailRunning" },
       { "data": (row)=>{
         
         return `Rp  ` + (new Intl.NumberFormat('id-Id').format(row.DonationData))
       } },
       { "data": (row)=>{
        
         return ` <a href="#" class="mx-2">
                Detail
              </a>`
       } } 
        
     ]
   });


 
}

load_data()
</script>
{footer}