{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-dana">Entry Sumber Dana</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-dana-list">List Sumber Dana</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-pilar">Entry Pilar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-pilar-list">List Pilar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-utama">Entry Program Utama</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-utama-list">List Program Utama</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  active" href="#">Entry Program Turunan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/new-program-turunan-list">List Program Turunan</a>
    </li>
  </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Pilar
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Pilar
                </div>
                <div class="col-md-8">
                  <select class="pilar form-sm select-holder w-100" data-placeholder="Select Pilar" data-key="PilarCode">
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Utama
                </div>
                <div class="col-md-8">
                  <select class="utama form-sm select-holder w-100" data-placeholder="Select Program Utama" data-key="UtamaCode">
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Turunan
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm " placeholder="Program Turunan" data-key="Turunan">
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Turunan Code
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm number" maxlength="2"
                    placeholder="Program Turunan Code" data-key="TurunanCode">
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-4"></div>
              <div class="col-md-8">
                <p class="text-primary">*Max 2 Character Number</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" onclick="save_me()" class="btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>
<script>

async function save_me()
    {
        const form = document.querySelectorAll('.form-sm')
        let stop = 0
        const fd = new FormData
        for(const item of form){
            if(item.value == ''){
                stop++
            }
            fd.append(item.dataset.key,item.value)
        }
        if(stop == 0){
            const req = await fetch('{url}dtapinew/turunanadd',{
                method: 'POST',
                body: fd
            })
            if(req.ok){
                alert('berhasil menyimpan data')
                location.href = '{url}erp/new-program-turunan-list'
            }
        } else {
            alert('data kosong')
        }
    }


    $('.select-holder').select2({
  theme: 'bootstrap4 select-sm'
    })

let pilar = 0

$('.pilar').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select pilar",
  ajax: {
        url: `{url}dtapinew/getpilar`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}).on('select2:select', (e) => {
      pilar = e.params.data.id
      wakeUtama()
      
    });

function wakeUtama()
{
    $('.utama').select2({
  theme: 'bootstrap4 select-sm', 
  placeholder: "select pilar",
  ajax: {
        url: `{url}dtapinew/getutama?id=${pilar}`,
        dataType: 'json',
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          // since we are using custom formatting functions we do not need to
          // alter the remote JSON data, except to indicate that infinite
          // scrolling can be used 

          return {
            results: data.results
          }
        }
      }
}) 
}    

$(".number").keypress(function (e) {
  if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
    return false;
  }
});
</script>

{footer}