{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Pengalihan Gaji</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <button type="button" class="btn-edit btn btn-primary edit-table" onclick="allowEdit()">
          EDIT
        </button>
        <button type="submit" class="btn btn-success btn-icon save-table" style="display: none;">
          <i class="ico ico-save sub mr-1"></i> SUBMIT
        </button>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Masa Karya</td>
            <td scope="col" class="text-center">>4</td>
            <td scope="col" class="text-center">1-4</td>
            <td scope="col" class="text-center">0</td>
          </tr>
          <tr>
            <td scope="col" class="text-center"></td>
            <td scope="col" class="text-center">PDDK</td>
            <td scope="col" class="text-center">1</td>
            <td scope="col" class="text-center">2</td>
            <td scope="col" class="text-center">3</td>
          </tr>
        </thead>
        <tbody class="data">
         <!-- <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              DIRUT
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
          </tr> -->
          <tr>
            <td colspan="5"><center>loading...</center></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
    async function check_liab()
    {
        const req = await fetch('{url}dtapi/openwageliab')
        const res = await req.json()
        if(req.ok){
            return true
        }
    }

    async function getWage(pddk,lo,hi)
    {
            const req = await fetch('{url}dtapi/openwage?pddk=' + pddk + '&lo=' + lo + '&hi=' + hi)
            const res = await req.json()
            if(req.ok){
                return res.data[0]
            }  
    }

    let dt = ''

    async function load_data()
    {
        const fnd = document.querySelector('.finder').value
        if(fnd != ''){
          dt.search(fnd).draw()
        } else {
 
          if(fnd == '' && dt != '') {
          dt.destroy()
        }
        const check = await check_liab()
        if(check){
            const req = await fetch('{url}dtapi/openwage?list=1')
            const res = await req.json()
            if(req.ok){

                let row = ''
                let no = 1

                for(let e of res.data){

                    const r1 = await getWage(e.UserLiability,0,1)
                    const r2 = await getWage(e.UserLiability,2,4)
                    const r3 = await getWage(e.UserLiability,5,0)

                    row += `
                        <tr>
                            <td>${no}</td>
                            <td>${e.Pddk}</td>
                            <td><input data-key="${r1.WageValue}" value="${r1.WageValue}" class="salary hidden" id="s-${r1.Id}" /><span class="unsalary">Rp ${r1.WageValue}</span></td>
                            <td><input data-key="${r2.WageValue}" value="${r2.WageValue}" class="salary hidden" id="s-${r2.Id}" /><span class="unsalary">Rp ${r2.WageValue}</span></td>
                            <td><input data-key="${r3.WageValue}" value="${r3.WageValue}" class="salary hidden" id="s-${r3.Id}" /><span class="unsalary">Rp ${r3.WageValue}</span></td>
                        </tr>
                    `

                    no++
                }

                document.querySelector('.data').innerHTML = row

        dt = $('.table-main').DataTable({
            "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
            "language": {
                "emptyTable": "Data kosong",
                "zeroRecords": "Data tidak ditemukan",
                "paginate": {
                    "previous": "<span class='icon-fi-sr-caret-left'></span>",
                    "next": "<span class='icon-fi-sr-caret-right'></span>",
                }
            },
            "info": false,
            "ordering": false
        });
            }
        }
      }

    }
    load_data()

    async function submitValue()
    {
        const salaries = document.querySelectorAll('.salary')
        let val = 1
        for(let e of salaries){
         if(e.dataset.key != e.value){
          if(parseFloat(e.value) < 0){
            val = 0
            alert('nilai negatif!')
            break
          } else {
            const old_value = parseFloat(e.dataset.key)
            const cur_value = parseFloat(e.value)
            if(old_value != cur_value){
                const id = (e.id).replace('s-','')
                const req = await fetch('{url}dtapi/openwageupdate?id=' + id + '&val=' + cur_value)
            }
          }
            }
      }
      return val

        /*   salaries.forEach(async (e)=>{
            const old_value = parseFloat(e.dataset.key)
            const cur_value = parseFloat(e.value)
            if(old_value != cur_value){
                const id = (e.id).replace('s-','')
                const req = await fetch('{url}dtapi/openwageupdate?id=' + id + '&val=' + cur_value)
            }
        })
        return 1 */
    }

    let cek = 0
    async function allowEdit()
    {
        const btn_edit = document.querySelector('.btn-edit')
        const btn_name = btn_edit.innerHTML
        btn_edit.innerHTML = ( btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT') ? 'EDIT' : '<i class="ico ico-save sub mr-1"></i> SUBMIT'
        const salaries = document.querySelectorAll('.salary')
        const unsalaries = document.querySelectorAll('.unsalary')
        let no = 0
        for(let e of salaries){
            if(btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT'){
                // submit here
                btn_edit.setAttribute('disabled','true')
                btn_edit.innerHTML = 'menyimpan...'
                cek = await submitValue() 
                console.log(btn_name)
            } else {
                e.classList.remove('hidden')
                unsalaries[no].classList.add('hidden')
                console.log(btn_name)
            }
            no++
        }
        if(cek != 0){
            location.reload()
        }

    }
</script>

{footer}