{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " href="{url}erp/list-partnership">List Partnership</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/partnership">Entry Partnership</a>
      </li>
    </ul>
    <form action="#">
        <input type="hidden" name="" id="edit-id">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Partnership
        </h3>
        <div class="container-inner">
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="mb-2">
                <label>Icon/Logo</label>
                <div class="custom-file form-sm">
                  <input type="file" class="part custom-file-input icon-label" id="icon_logo" data-key="PartnerIcon">
                  <label class="custom-file-label" for="icon_logo">
                    <span class="label-upload">Upload Icon/Logo</span>
                  </label>
                </div>
              </div>
              <div class="mb-2">
                <label>Partner Name</label>
                <input type="text" class="part form-control form-sm" placeholder="Partner Name" data-key="PartnerName">
              </div>
              <div class="mb-2">
                <label>Partner Type</label>
                <div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="strategic" name="partnerType" class="part radio custom-control-input" value="Strategic">
                    <label class="custom-control-label" for="strategic">Strategic</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="nonstrategic" name="partnerType" class="part radio custom-control-input"
                    value="Non Strategic">
                    <label class="custom-control-label" for="nonstrategic">Non Strategic</label>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <label>Number of Program</label>
                <input type="text" class="part form-control form-sm" placeholder="Number of Program" data-key="NumberProgram">
              </div>
              <div class="mb-2">
                <label>Program Utama</label>
                <select class="part custom-select form-sm" data-key="ProgramUtama">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mb-2">
                <label>Platform</label>
                <select class="part custom-select form-sm" data-key="Platform">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mb-2">
                <label>Specialization</label>
                <select class="part custom-select form-sm" data-key="Specialization">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 container-inner">
        <button type="button" onclick="saveMe()" class="btn-save btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>


<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date" placeholder="Start Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date" placeholder="End Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-danger mx-2">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button class="btn btn-success mx-2">
            <i class="ico ico-filter"></i> APPLY FILTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>
    async function saveMe()
    {
        const edit = document.querySelector('#edit-id')
        const fd = new FormData
        const parts = document.querySelectorAll('.part')
        if(edit.value == ''){
            for(const item of parts){
                if(item.classList.contains('radio') && item.checked){
                    fd.append('PartnerType',item.value)
                } else {
                    if(item.dataset.key == 'PartnerIcon'){
                        fd.append(item.dataset.key,item.files[0])
                    } else if(item.dataset.key == undefined){} else {
                        fd.append(item.dataset.key,item.value)
                    }
                   
                }
            }
            const req = await fetch('{url}dtapinew/partnershipadd',{
                method: 'POST',
                body: fd
            }) 
            if(req.ok){
                location.reload()
            }
        } else {

        }
    }
</script>

{footer}