{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Payroll Log Activity</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
          <i class="ico ico-filter sub"></i> FILTER
        </a>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Time</td>
            <td scope="col" class="text-center">Employee Name</td>
            <td scope="col" class="text-center">Edited By</td>
            <td scope="col" class="text-center">Type</td>
            <td scope="col" class="text-center">Type Component</td> 
            <td scope="col" class="text-center">Action Detail</td>
          </tr>
        </thead>
        <tbody>
         <!-- <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">12 July 2022 15.20</td>
            <td class="text-center">Raditya</td>
            <td class="text-center">Cecep Iwan</td>
            <td class="text-center">Pendapatan</td>
            <td class="text-center">1.000.000 to 2.000.000</td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">2</td>
            <td class="text-center">12 July 2022 15.20</td>
            <td class="text-center">Raditya</td>
            <td class="text-center">Cecep Iwan</td>
            <td class="text-center">Potongan</td>
            <td class="text-center">1.000.000 to 2.000.000</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date" placeholder="Start Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control date" placeholder="End Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" onclick="load_data()" class="btn btn-success btn-lg mx-2 px-4"  data-dismiss="modal">
            <i class="ico ico-filter sub mt-1"></i> APPLY FILTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>
     let dt = ''
  async function load_data()
  {
      let url = "{url}dtapi/dtlogpayroll"
      const dates = document.querySelectorAll('.date')
      if(dates[0].value != ''){
        dt.destroy()
         url = "{url}dtapi/dtlogpayroll?s_date=" + dates[0].value + "&e_date=" + dates[1].value
      }
      dt = $('.table-main').DataTable({
              "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
              "language": {
                  "emptyTable": "Data kosong",
                  "zeroRecords": "Data tidak ditemukan",
                  "paginate": {
                      "previous": "<span class='icon-fi-sr-caret-left'></span>",
                      "next": "<span class='icon-fi-sr-caret-right'></span>",
               }
              },
              "info": false,
              "ordering": false,
              "ajax": {
                        "url": url,
                        "type": "POST"
                      }, 
              "processing": true,
              "serverSide": true,
              "columns": [
                  {"data":"No"},
                  {"data":(row)=>{
                    const opt = { hour: '2-digit', minute: '2-digit', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return (new Date(row.Created)).toLocaleDateString('id-Id',opt)
                  }},
                  {"data":"EmpName"},
                  {"data":"AuthorName"},
                  {"data":"PayrollType"},
                  {"data":"PayrollTypeComponent"}, 
                  {"data": (row)=>{
                      const old_val = row.OldValue == null ? 0 : row.OldValue
                      const new_val = row.NewValue == null ? 0 : row.NewValue
                      return `${new Intl.NumberFormat('id-Id').format(old_val)} &mdash; ${new Intl.NumberFormat('id-ID').format(new_val)}`
                  }}
              ]
                  })
  }

  load_data()

  $('.date').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>

{footer}