{header}

<div class="main-content-inner">



  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="payroll-approval.html">List Payroll Approval</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#">Detail Payroll Approval</a>
    </li>
  </ul>
  <div class="container-inner pt-5">

    <button class="btn-calc btn btn-success" onclick="calc()">Calculate Payroll</button>

    <table id="table" class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-center" style="width: 85px;">No</td>
          <td scope="col" class="text-center">Month</td>
          <td scope="col" class="text-center">Year</td>
          <td scope="col" class="text-center">Status Approval</td>
          <td scope="col" class="text-center">Action</td>
        </tr>
      </thead>
      <tbody>
        <!--<tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              July
            </td>
            <td class="text-center">
              2022
            </td>
            <td class="text-center">
              Direktur Operasional
            </td>
            <td class="text-center">
              <a href="{url}erp/payroll-detail">Detail</a>
            </td>
          </tr>-->
      </tbody>
    </table>
  </div>


</div>
</div>
</div>


<script>

  async function calc() {
    const btn_calc = document.querySelector('.btn-calc')
    btn_calc.innerHTML = 'calculating...'
    btn_calc.setAttribute('disabled', 'true')
    const req = await fetch('{url}dtapi/calcpayroll')
    const res = await req.json()
    if (req.ok) {
      location.reload()
    } else {
      alert(res.message)
      btn_calc.innerHTML = 'Calculate Payroll'
      btn_calc.removeAttribute('disabled')
    }
  }

let dt = ''

  async function load_data() {
    let url = "{url}dtapi/payrollhist"

     const find = document.querySelector('.finder').value
     if(find != ''){
       dt.destroy()
       url = '{url}dtapi/payrollhist?term=' + find
     } else {
       if(dt != ''){
        dt.destroy()
       }
     }

     dt = $('.table-main').DataTable({
      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
      "language": {
        "emptyTable": "Data kosong",
        "zeroRecords": "Data tidak ditemukan",
        "paginate": {
          "previous": "<span class='icon-fi-sr-caret-left'></span>",
          "next": "<span class='icon-fi-sr-caret-right'></span>",
        }
      },
      "info": false,
      "ordering": false,
      "ajax": {
        "url": url,
        "type": "POST"
      },
      "processing": true,
      "serverSide": true,
      "columnDefs": [
        { className: "text-center", targets: "_all" }
      ],
      "columns": [
        { "data": "No" },
        { "data": "Month" },
        { "data": "Year" },
        { "data": "ApprovalStatus" },
        { "data": "Action" },
      ]
    });
  }
  load_data()

  async function loadPage(id) {
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization', token)
    const req = await fetch('{url}dtapi/getprofile', {
      method: 'GET',
      headers: hdr
    })
    const res = await req.json()
    if (req.ok) {

      const elem = document.querySelector('#' + id)
      const ids = elem.dataset.id
      const data = {
        action: 'edit',
        module: 'payroll-detail',
        data: ids
      }
      localStorage.removeItem('payroll-detail')
      localStorage.setItem(data.module, JSON.stringify(data))
      location.href = '{url}erp/payroll-detail'
    }
  }
</script>

{footer}