{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="{url}erp/payroll">List Payroll Approval</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Detail Payroll Approval</a>
    </li>
  </ul>
  <div class="container-inner">
    <div class="my-4">
      <a href="#">
        <i class="ico ico-file-ex middle"></i>
      </a>
    </div>
    <table id="table" class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-center" style="width: 80px;">No</td>
          <td scope="col" class="text-center">Employee Name</td>
          <td scope="col" class="text-center">Salary</td>
          <td scope="col" class="text-center">Action</td>
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              Lorem Ipsum
            </td>
            <td class="text-center">
              Rp 3.000.000
            </td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
          </tr> -->
      </tbody>
    </table>
    <button class="btn btn-success btn-submit" data-target="#submitmodal" data-toggle="modal">
      <i class="ico ico-save mr-1"></i> Submit
    </button>
    <button class="btn btn-secondary btn-lock hidden" disabled>
      <i class="ico ico-save mr-1"></i> Submitted
    </button>
  </div>


</div>
</div>
</div>

<!-- Modal Detail -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Detail</h5>

      </div>
      <div class="modal-body">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="pendapatan" name="detailApp" class="custom-control-input" checked>
          <label class="custom-control-label" for="pendapatan">Pendapatan</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="potongan" name="detailApp" class="custom-control-input">
          <label class="custom-control-label" for="potongan">Potongan</label>
        </div>
        <div class="tab-content mt-4" id="tabTable">
          <div class="tab-pane fade show active" id="pendapatanTab" role="tabpanel">
            <table class="table">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Jenis Tunjangan</td>
                  <td>Nominal Tunjangan</td>
                </tr>
              </thead>
              <tbody class="pendapatan">
                <!-- <tr>
                <td>1</td>
                <td>Gaji Pokok</td>
                <td>Rp 1.000.000</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  Bea Pokok Jenis
                  Pekerjaan
                </td>
                <td>Rp 500.000</td>
              </tr> -->
              </tbody>
            </table>
            <button type="button" class="btn-gaji btn btn-primary" onclick="edit_gaji(true)">EDIT</button>
            <button type="button" onclick="submit_gaji()" class="btn-gaji-submit hidden btn btn-success">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
          <div class="tab-pane fade" id="potonganTab" role="tabpanel">
            <table class="table">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Jenis Potongan</td>
                  <td>Nominal Potongan</td>
                </tr>
              </thead>
              <tbody class="potongan">
                <!--  <tr>
                <td>1</td>
                <td>Potongan DTP</td>
                <td>Rp 1.000.000</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  Potongan BPJS Kesehatan
                </td>
                <td>Rp 500.000</td>
              </tr> -->
              </tbody>
            </table>
            <button type="button" class="btn-potong btn btn-primary" onclick="edit_potongan(true)">EDIT</button>
            <button type="button" class="btn-potong-submit hidden btn btn-success" onclick="submit_potongan()">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Pendapatan -->
<div class="modal fade" id="editPendapatan" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Edit Pendapatan</h5>

      </div>
      <div class="modal-body">
        <div class="mt-4">
          <table class="table">
            <thead>
              <tr>
                <td>No</td>
                <td>Jenis Tunjangan</td>
                <td>Nominal Tunjangan</td>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <button class="btn btn-success">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Potongan -->
<div class="modal fade" id="editPotongan" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Edit Potongan</h5>

      </div>
      <div class="modal-body">
        <div class="mt-4">
          <table class="table">
            <thead>
              <tr>
                <td>No</td>
                <td>Jenis Potongan</td>
                <td>Nominal Potongan</td>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <button class="btn btn-success">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Submit -->
<div class="modal fade" id="submitmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <img src="images/icons/icon-file-s.svg" alt="">
          <h4 class="my-5">Are you sure submit this data ?</h4>
          <button class="mx-3 btn btn-danger" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button class="mx-3 btn btn-success" onclick="approvePayroll()" data-dismiss="modal">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if ($('#pendapatan').is(':checked')) {
    $('#tabTable .tab-pane').removeClass('show active');
    $('#pendapatanTab').tab('show')

  } else if ($('#potongan').is(':checked')) {
    $('#tabTable .tab-pane').removeClass('show active');
    $('#potonganTab').tab('show')
  }

  $('#pendapatan').change(function () {
    $('#tabTable .tab-pane').removeClass('show active');
    $('#pendapatanTab').tab('show');
  });
  $('#potongan').change(function () {
    $('#tabTable .tab-pane').removeClass('show active');
    $('#potonganTab').tab('show');
  });
</script>

<script>

  async function checkSubmit() {
    const local = localStorage.getItem('payroll-detail')
    const detail_id = (JSON.parse(local)).data
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization', token)
    const req = await fetch('{url}dtapi/payrollsubmit?id=' + detail_id, {
      method: 'GET',
      headers: hdr
    })
    const res = await req.json()
    if (req.ok) {

    } else {
      const btn_submit = document.querySelector('.btn-submit')
      btn_submit.classList.add('hidden')
      const btn_lock = document.querySelector('.btn-lock')
      btn_lock.classList.remove('hidden')
    }
  }

  checkSubmit()

  async function approvePayroll() {
    const local = localStorage.getItem('payroll-detail')
    const detail_id = (JSON.parse(local)).data
    const btn_submit = document.querySelector('.btn-submit')
    btn_submit.innerHTML = 'submitting...'
    btn_submit.setAttribute('disabled', 'true')
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization', token)
    const req = await fetch('{url}dtapi/approvepayroll?id=' + detail_id, {
      method: 'GET',
      headers: hdr
    })
    const res = await req.json()
    if (req.ok) {
      location.href = '{url}erp/payroll'
    }

  }

  async function load_pendapatan(id) {
    const req = await fetch('{url}dtapi/payrollgaji?id=' + id)
    const res = await req.json()
    if (req.ok) {
      let no = 1
      let i = 0
      let html = ''
      const columns = ['gaji_pokok', 'bea_pokok_jenis_pekerjaan', 'tunjangan_istri', 'tunjangan_balita', 'tunjangan_tk', 'tunjangan_sd', 'tunjangan_smp', 'tunjangan_sma', 'tunjangan_pt', 'tunjangan_transportasi', 'tunjangan_makan', 'tunjangan_kompetensi', 'tunjangan_kemahalan', 'tunjangan_bulan_lalu', 'lembur', 'rangkap_jabatan', 'tunjangan_kinerja', 'tunjangan_manajemen_proses', 'tunjangan_komunikasi', 'presentasi_hk', 'tunjangan_pensiunan', 'tunjangan_bpjs']
      for (let e of columns) {
        const col = ((e).replace(/_/g, ' ')).toUpperCase()
        const val = res.data[0][e] ?? 0
        html += `<tr>
                       <td>${no}</td>
                       <td>${col}</td>
                       <td><span class="gaji">Rp ${val}</span><input type="text" value="${val}" class="ungaji hidden" data-value="${val}" data-column="${e}" data-id="${id}"/></td>
                       </tr>`
        no++
        i++
      }
      document.querySelector('.pendapatan').innerHTML = html
    } else {
      let no = 1
      let i = 0
      let html = ''
      const columns = ['gaji_pokok', 'bea_pokok_jenis_pekerjaan', 'tunjangan_istri', 'tunjangan_balita', 'tunjangan_tk', 'tunjangan_sd', 'tunjangan_smp', 'tunjangan_sma', 'tunjangan_pt', 'tunjangan_transportasi', 'tunjangan_makan', 'tunjangan_kompetensi', 'tunjangan_kemahalan', 'tunjangan_bulan_lalu', 'lembur', 'rangkap_jabatan', 'tunjangan_kinerja', 'tunjangan_manajemen_proses', 'tunjangan_komunikasi', 'presentasi_hk', 'tunjangan_pensiunan', 'tunjangan_bpjs']
      for (let e of columns) {
        const col = ((e).replace(/_/g, ' ')).toUpperCase()
        const val = 0
        html += `<tr>
                       <td>${no}</td>
                       <td>${col}</td>
                       <td><span class="gaji">Rp ${val}</span><input type="text" value="${val}" class="ungaji hidden" data-value="${val}" data-column="${e}" data-id="${id}"/></td>
                       </tr>`
        no++
        i++
      }
      document.querySelector('.pendapatan').innerHTML = html
    }
  }

  async function load_potongan(id) {
    const req = await fetch('{url}dtapi/payrollpotongan?id=' + id)
    const res = await req.json()
    if (req.ok) {
      let no = 1
      let i = 0
      let html = ''
      const columns = ['potongan_dtp', 'potongan_bpjs_kesehatan', 'potongan_bpjs_jamsostek', 'potongan_keterlambatan', 'potongan_koperasi', 'potongan_zis', 'potongan_wakaf', 'potongan_arisan', 'potongan_pajak_dan_allianz', 'potongan_bmt', 'potongan_qurban', 'potongan_danbar', 'potongan_parkir', 'potongan_lain_lain', 'potongan_pensiun']
      for (let e of columns) {
        const col = ((e).replace(/_/g, ' ')).toUpperCase()
        const val = res.data[0][e] ?? 0
        html += `<tr>
                       <td>${no}</td>
                       <td>${col}</td>
                       <td><span class="potong">Rp ${val}</span><input type="text" value="${val}" class="unpotong hidden" data-value="${val}" data-column="${e}" data-id="${id}"/></td>
                       </tr>`
        no++
        i++
      }
      document.querySelector('.potongan').innerHTML = html
    } else {
      let no = 1
      let i = 0
      let html = ''
      const columns = ['potongan_dtp', 'potongan_bpjs_kesehatan', 'potongan_bpjs_jamsostek', 'potongan_keterlambatan', 'potongan_koperasi', 'potongan_zis', 'potongan_wakaf', 'potongan_arisan', 'potongan_pajak_dan_allianz', 'potongan_bmt', 'potongan_qurban', 'potongan_danbar', 'potongan_parkir', 'potongan_lain_lain', 'potongan_pensiun']
      for (let e of columns) {
        const col = ((e).replace(/_/g, ' ')).toUpperCase()
        const val = 0
        html += `<tr>
                       <td>${no}</td>
                       <td>${col}</td>
                       <td><span class="potong">Rp ${val}</span><input type="text" value="${val}" class="unpotong hidden" data-value="${val}" data-column="${e}" data-id="${id}"/></td>
                       </tr>`
        no++
        i++
      }
      document.querySelector('.potongan').innerHTML = html
    }

  }

  async function getDetail(id) {
    edit_gaji(false)
    edit_potongan(false)
    const ids = id.replace('p-', '')
    await load_pendapatan(ids)
    await load_potongan(ids)
  }

  let dt = ''
  async function load_data() {

    const local = localStorage.getItem('payroll-detail')
    const detail_id = (JSON.parse(local)).data

    let url = "{url}dtapi/payrolldetail?id=" + detail_id
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
       if(dt != ''){
         url = "{url}dtapi/payrolldetail?id=" + detail_id + "&term=" + fnd
         dt.destroy()
       }
    } else { 
      $('.table-main').DataTable().destroy()
    }

     
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "EmpName" },
          { "data": "Salary" },
          { "data": "Action" },
        ]
      });
    
  }
  load_data()

  function edit_gaji(status) {
    const gaji = document.querySelectorAll('.gaji')
    const ungaji = document.querySelectorAll('.ungaji')
    const btn_edit = document.querySelector('.btn-gaji')
    const btn_submit = document.querySelector('.btn-gaji-submit')
    let j = 0
    if (status) {
      for (let e of gaji) {
        ungaji[j].classList.remove('hidden')
        e.classList.add('hidden')
        j++
      }
      btn_edit.classList.add('hidden')
      btn_submit.classList.remove('hidden')
    } else {
      for (let e of gaji) {
        ungaji[j].classList.add('hidden')
        e.classList.remove('hidden')
        j++
      }
      btn_edit.classList.remove('hidden')
      btn_submit.classList.add('hidden')
    }

  }

  function edit_potongan(status) {
    const gaji = document.querySelectorAll('.potong')
    const ungaji = document.querySelectorAll('.unpotong')
    const btn_edit = document.querySelector('.btn-potong')
    const btn_submit = document.querySelector('.btn-potong-submit')
    let j = 0
    if (status) {
      for (let e of gaji) {
        ungaji[j].classList.remove('hidden')
        e.classList.add('hidden')
        j++
      }
      btn_edit.classList.add('hidden')
      btn_submit.classList.remove('hidden')
    } else {
      for (let e of gaji) {
        ungaji[j].classList.add('hidden')
        e.classList.remove('hidden')
        j++
      }
      btn_edit.classList.remove('hidden')
      btn_submit.classList.add('hidden')
    }

  }

  async function submit_gaji() {
    const btn_submit = document.querySelector('.btn-gaji-submit')
    btn_submit.innerHTML = 'submitting...'
    btn_submit.setAttribute('disabled', 'true')
    const ungaji = document.querySelectorAll('.ungaji')
    let k = 0
    for (let e of ungaji) {
      const old = e.dataset.value
      const recent = e.value

      if(parseFloat(recent) < 0){
        alert('nilai minus')
        btn_submit.innerHTML = 'SUBMIT'
        btn_submit.removeAttribute('disabled')
        break
      } else {

      if (old != recent) {
        let hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        const req = await fetch('{url}dtapi/payrollsubmitgaji?id=' + e.dataset.id + '&column=' + e.dataset.column + '&value=' + e.value,{
          method: 'GET',
          headers: hdr
        })
        if (req.ok) {
          k++
        }
      }

    }

    }
    if (k > 0) {
      location.reload()
    }
  }

  async function submit_potongan() {
    const btn_submit = document.querySelector('.btn-potong-submit')
    btn_submit.innerHTML = 'submitting...'
    btn_submit.setAttribute('disabled', 'true')
    const unpotong = document.querySelectorAll('.unpotong')
    let k = 0
    for (let e of unpotong) {
      const old = e.dataset.value
      const recent = e.value

      if(parseFloat(recent) < 0){
        alert('nilai minus')
        btn_submit.innerHTML = 'SUBMIT'
        btn_submit.removeAttribute('disabled')
        break
      } else {

      if (old != recent) {
        let hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        const req = await fetch('{url}dtapi/payrollsubmitpotongan?id=' + e.dataset.id + '&column=' + e.dataset.column + '&value=' + e.value,{
          method: 'GET',
          headers: hdr
        })
        if (req.ok) {
          k++
        }
      }

    }

    }
    if (k > 0) {
      location.reload()
    }
  }

</script>

{footer}