{header}

  <div class="main-content-inner">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="arisan.html">List Arisan</a>
          </li>
        </ul>
        <div class="container-inner">
          <div class="my-4">
            <a href="#addArisan" class="btn btn-success" data-toggle="modal">
              <i class="ico ico-add mr-1"></i> Add
            </a>
          </div>
          <table id="table" class="main table table-main nowrap" style="width:100%">
            <thead>
              <tr>
                <td scope="col" class="text-center">No</td>
                <td scope="col" class="text-center">Arisan Name</td>
                <td scope="col" class="text-center">Start Date</td>
                <td scope="col" class="text-center">End Date</td>
                <td scope="col" class="text-center">Jumlah Potongan</td>
                <td scope="col" class="text-center">Participant</td>
              </tr>
            </thead>
            <tbody>
             <!--<tr>
                <td class="text-center" style="width: 60px;">1</td>
                <td class="text-center">
                  Lorem Ipsum
                </td>
                <td class="text-center">
                  22/11/2022
                </td>
                <td class="text-center">
                  24/11/2022
                </td>
                <td class="text-center">
                  Rp 3.000.000
                </td>
                <td class="text-center">
                  <a href="#detailParticipant" data-toggle="modal">Detail</a>
                </td>
              </tr>-->
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
  <!-- Modal Add Arisan -->
  <div class="modal fade" id="addArisan" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="close">
            <i class="ico ico-back"></i>
          </button>
          <h5 class="modal-title text-primary pl-2">Add Arisan</h5>

        </div>
        <div class="modal-body">
          <form action="#">
            <div class="mb-1">
              <input type="text" class="form-control form-sm loan" placeholder="Arisan Name" data-key="Name">
            </div>
            <div class="mb-1">
              <div class="inline-group">
                <input type="text" class="form-control form-sm date loan" placeholder="Start Date" data-key="DateStart" data-date-format="yyyy-mm-dd">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="mb-1">
              <div class="inline-group">
                <input type="text" class="form-control form-sm date loan" placeholder="End Date" data-key="DateEnd" data-date-format="yyyy-mm-dd">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="mb-1">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text rounded-0">Rp</div>
                </div>
                <input type="number" class="form-control form-sm loan" data-key="ArisanPrice" placeholder="Jumlah Potongan">
              </div>
            </div>
            <div class="mb-1">
              <select class="addparticipant" multiple>
                
              </select>
            </div>
            <div class="mt-5 text-center">
              <a class="btn btn-success px-4" onclick="save_me()">
                <i class="ico ico-save"></i> SUBMIT
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Participant Detail -->
  <div class="modal fade" id="detailParticipant" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="close">
            <i class="ico ico-back"></i>
          </button>
          <h5 class="modal-title text-primary pl-2">Participant Detail</h5>
        </div>
        <div class="modal-body">
          <div class="mt-4">
            <table class="parte table table-main w-100">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Employee Name</td>
                  <td class="text-center">Action</td>
                </tr>
              </thead>
              <tbody>
                <!--<tr>
                  <td>1</td>
                  <td>Lorem Ipsum</td>
                  <td class="text-center">
                    <a href="#">
                      <i class="ico ico-trash"></i>
                    </a>
                  </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="submitmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <img src="images/icons/icon-file-s.svg" alt="">
            <h4 class="my-5">Are you sure submit this data ?</h4>
            <button class="mx-3 btn btn-danger" data-dismiss="modal">
              <i class="ico ico-cancel"></i> CANCEL
            </button>
            <button class="mx-3 btn btn-success">
              <i class="ico ico-save"></i> SUBMIT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    let selected = []
     async function save_me()
    {
        const fd = new FormData
        const loan = document.querySelectorAll('.loan')
        for(let e of loan){
            fd.append(e.dataset.key,e.value)
        }
        fd.append('Participant',JSON.stringify(selected))
        const req = await fetch('{url}dtapinew/potarisanadd',{
            method: 'POST',
            body: fd
        })
        if(req.ok){
           location.reload()
        }
    }

    let dt = ''
  async function load_data() {
    dt = $('.main').DataTable({
      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
      "language": {
        "emptyTable": "Data kosong",
        "zeroRecords": "Data tidak ditemukan",
        "paginate": {
          "previous": "<span class='icon-fi-sr-caret-left'></span>",
          "next": "<span class='icon-fi-sr-caret-right'></span>",
        }
      },
      "info": false,
      "ordering": false,
      "ajax": {
        "url": "{url}dtapinew/potarisandt",
        "type": "POST"
      },
      "processing": true,
      "serverSide": true,
      "columnDefs": [
        { className: "text-center",targets: "_all" }
      ],
      "columns": [
        { "data": "No" },
        { "data": "Name" },
        {
          "data": (row) => {
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return (new Date(row.DateStart)).toLocaleDateString('id-Id',opt)
          }
        },
        {
          "data": (row) => {
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return (new Date(row.DateEnd)).toLocaleDateString('id-Id',opt)
          }
        },
        {
          "data": (row) => {
            return `<center>Rp ${new Intl.NumberFormat('id-ID').format(row.ArisanPrice)}</center>`
          }
        },
        {
          "data": (row) => {
            return `<a href="#detailParticipant" data-toggle="modal" onclick="load_detail(${row.Id})">Detail</a>`
          }
        }
      ]
    })
  }

  load_data()

   let dtx = ''
  async function load_detail(id) {
    $('.parte').DataTable().destroy()
     dtx = $('.parte').DataTable({
      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
      "language": {
        "emptyTable": "Data kosong",
        "zeroRecords": "Data tidak ditemukan",
        "paginate": {
          "previous": "<span class='icon-fi-sr-caret-left'></span>",
          "next": "<span class='icon-fi-sr-caret-right'></span>",
        }
      },
      "info": false,
      "ordering": false,
      "ajax": {
        "url": "{url}dtapinew/potarisandtldt?id=" + id,
        "type": "POST"
      },
      "processing": true,
      "serverSide": true,
      "columnDefs": [
        { className: "text-center",targets: "_all" }
      ],
      "columns": [
        { "data": "No" },
        { "data": "EmpName" },
        {
          "data": (row) => {
            return ` <a onclick="removes(${row.Id})">
                      <i class="ico ico-trash"></i>
                    </a>`
          }
        }
      ]
    })
  }

  async function removes(id) {
    const ask = confirm('yakin akan menghapus?')
    if(ask){
      const req = await fetch('{url}dtapinew/potarisandtldelete?id=' + id)
     if(req.ok){
      dtx.ajax.reload()
     }
    }
  }

  </script>

  <script>
    
     $('.addparticipant').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Employee Name",
      ajax: {
         url: '{url}dtapinew/potdtpemp',
         dataType: 'json',
         data: (params)=>{
            const query = {
                search: params.term,
                page: params.page || 1
            }

            // Query parameters will be ?search=[term]&page=[page]
            return query;
        },
        processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used
            params.page = params.page || 1; 

            return {
                 results: data.results,
                 pagination: {
                    more: (params.page * 10) < data.count_filtered
                 }
            }
    }
    }
    });
    $('.addparticipant').on('select2:select',(e)=>{
      selected.push({id: e.params.data.id,text: e.params.data.text})
       console.log(selected)
    })
    $('.addparticipant').on('select2:unselect',(e)=>{
       const new_selected = []
       for(let f of selected){
          if(e.params.data.id != f.id){
            new_selected.push({id: f.id,text: f.text})
          }
       }
       selected = new_selected
       console.log(selected)
    })
    $('.date').datepicker()
 
 </script>

{footer}