{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Danbar</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <div class="my-4">
          <a href="#add" class="btn btn-success" data-toggle="modal">
            <i class="ico ico-add mr-1"></i> Add
          </a>
        </div>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Date</td>
            <td scope="col" class="text-center">Employee Name</td>
            <td scope="col" class="text-center">Pokok Hutang</td>
            <td scope="col" class="text-center">Duration</td>
            <td scope="col" class="text-center">Cicilan Detail</td>
            <td scope="col" class="text-center">Status</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">22/11/2022</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Rp 10.000.000</td>
            <td class="text-center">6 bulan</td>
            <td class="text-center">
              <a href="#cicilanDetail" data-toggle="modal">Detail</a>
            </td>
            <td class="text-center">Lunas</td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">22/11/2022</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Rp 10.000.000</td>
            <td class="text-center">6 bulan</td>
            <td class="text-center">
              <a href="#cicilanDetail" data-toggle="modal">Detail</a>
            </td>
            <td class="text-center">Belum Lunas</td>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!-- Modal Add Potongan Danbar -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Add Potongan Danbar</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="mb-1">
            <input type="hidden" id="emp-name" data-key="EmpName" class="loan">
          <select class="employeename loan" data-key="EmpId">
             
          </select>
        </div>
        <div class="mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text rounded-0">Rp</div>
            </div>
            <input type="text" class="form-control form-sm loan" placeholder="Pokok Hutang" data-key="LoanAmount">
          </div>
        </div>
        <div class="mb-1">
          <select class="waktu loan" data-key="LoanPeriod">
            <option></option>
            <option value="1">1 Bulan</option>
            <option value="2">2 Bulan</option>
            <option value="3">3 Bulan</option>
            <option value="4">4 Bulan</option>
            <option value="5">5 Bulan</option>
            <option value="6">6 Bulan</option>
            <option value="7">7 Bulan</option>
            <option value="8">8 Bulan</option>
            <option value="9">9 Bulan</option>
            <option value="10">10 Bulan</option>
            <option value="11">11 Bulan</option>
            <option value="12">12 Bulan</option>
          </select>
        </div>
        <div class="mt-5 text-center">
          <a class="btn btn-success px-4" onclick="save_me()">
            <i class="ico ico-save"></i> SUBMIT
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<!-- Modal Cicilan Detail -->
<div class="modal fade" id="cicilanDetail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Cicilan Detail</h5>

    </div>
    <div class="modal-body">
      <div class="mt-4">
        <table class="table">
          <thead>
            <tr>
              <td class="text-center">No</td>
              <td class="text-center">Cicilan</td>
              <td class="text-center">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">1</td>
              <td class="text-center">Paid</td>
            </tr>
            <tr>
              <td class="text-center">2</td>
              <td class="text-center">2</td>
              <td class="text-center">Unpaid</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="submitmodal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center">
        <img src="images/icons/icon-file-s.svg" alt="">
        <h4 class="my-5">Are you sure submit this data ?</h4>
        <button class="mx-3 btn btn-danger" data-dismiss="modal">
          <i class="ico ico-cancel"></i> CANCEL
        </button>
        <button class="mx-3 btn btn-success">
          <i class="ico ico-save"></i> SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    async function save_me()
    {
        const fd = new FormData
        const loan = document.querySelectorAll('.loan')
        for(let e of loan){
            fd.append(e.dataset.key,e.value)
        }
        const req = await fetch('{url}dtapinew/potdbradd',{
            method: 'POST',
            body: fd
        })
        if(req.ok){
            location.reload()
        }
    }

    let dt = ''
  async function load_data() {
    dt = $('.table-main').DataTable({
      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
      "language": {
        "emptyTable": "Data kosong",
        "zeroRecords": "Data tidak ditemukan",
        "paginate": {
          "previous": "<span class='icon-fi-sr-caret-left'></span>",
          "next": "<span class='icon-fi-sr-caret-right'></span>",
        }
      },
      "info": false,
      "ordering": false,
      "ajax": {
        "url": "{url}dtapinew/potdbrdt",
        "type": "POST"
      },
      "processing": true,
      "serverSide": true,
      "columnDefs": [
        { className: "text-center",targets: "_all" }
      ],
      "columns": [
        { "data": "No" },
        {
          "data": (row) => {
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return (new Date(row.Created)).toLocaleDateString('id-Id',opt)
          }
        },
        { "data": "EmpName" },
        {
          "data": (row) => {
            return `<center>Rp ${new Intl.NumberFormat('id-ID').format(row.LoanAmount)}</center>`
          }
        },
        { "data": "LoanPeriod" },
        {
          "data": (row) => {
            return `<a href="#cicilanDetail" data-toggle="modal">Detail</a>`
          }
        },
        {
          "data": (row) => {
            return ``
          }
        },
      ]
    })
  }

  load_data()
</script>

<script>
    $('.employeename').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Employee Name",
      ajax: {
         url: '{url}dtapinew/potdtpemp',
         dataType: 'json',
         data: (params)=>{
            const query = {
                search: params.term,
                page: params.page || 1
            }

            // Query parameters will be ?search=[term]&page=[page]
            return query;
        },
        processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used
            params.page = params.page || 1; 

            return {
                 results: data.results,
                 pagination: {
                    more: (params.page * 10) < data.count_filtered
                 }
            }
    }
    }
    });
    $('.employeename').on('select2:select',(e)=>{
        document.querySelector('#emp-name').value = e.params.data.text
    })
    $('.waktu').select2({
      theme: 'bootstrap4 select-sm',
      placeholder: "Jangka Waktu",
      minimumResultsForSearch: -1
    });

  </script>

{footer}