{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/prog">Entry Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/proglist">List Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/subprog">Entry Sub Program</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/subproglist">List Sub Program</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Program Data
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Pilar
                </div>
                <div class="col-md-8">
                  <select class="form-control form-sm pilar w-100" data-key="Pilar">
                    <option></option>
                        <option value="Peduli Ekonomi">Peduli Ekonomi</option>
                        <option value="Peduli Kemanusiaan">Peduli Kemanusiaan</option>
                        <option value="Peduli Kesehatan">Peduli Kesehatan</option>
                        <option value="Peduli Pendidikan">Peduli Pendidikan</option>
                        <option value="Program Penghapus Riba">Program Penghapus Riba</option> 
                        <option value="Pilar Dakwah">Pilar Dakwah</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Program Name
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm" placeholder="Program Name" data-key="ProgramName">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success px-5" onclick="saveme()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>

<script>
    async function saveme()
    {
        let fd = new FormData
        let forms = document.querySelectorAll('.form-sm')
        let stop = 0
        forms.forEach((e)=>{
          if(e.value == ''){
            stop++
          }
            fd.append(e.dataset.key,e.value)
        })
        if(stop == 0){
        let q = await fetch('{url}dtapi/addprog',{
            method: 'POST',
            body: fd
        })
        if(q.ok){
            alert('program successfully added')
            location.href = '{url}erp/proglist'
        }
      } else {
         alert('whoops! data kosong')
      }

    }
</script>

{footer}