{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Entry Setting Cuti</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Setting Cuti
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Tahun
                </div>
                <div class="col-md-8">
                  <div class="inline-group">
                    <input type="text" class="form-control form-sm" placeholder="2022" data-key="CutiPeriod">
                  </div>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Cuti Lebaran
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" class="form-control form-sm" placeholder="Cuti Lebaran" data-key="CutiLebaran">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Day</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Cuti Bersama
                </div>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" class="form-control form-sm" placeholder="Cuti Bersama" data-key="CutiBersama">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Day</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" class="btn btn-success" class="btn btn-success px-5" onclick="save_me()">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<script>
    async function save_me()
    {
        const fd = new FormData
        const sm = document.querySelectorAll('.form-sm')
        sm.forEach((e)=>{
            fd.append(e.dataset.key,e.value)
        })
        const req = await fetch('{url}dtapinew/cutisetting',{
            body: fd,
            method: 'POST'
        })
        if(req.ok){
            alert('data berhasil disimpan')
            location.reload()
        }
    }
</script>

{footer}