{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/sinkron">Entry Data Sinkron</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/sinkronedit">Edit Data Sinkron</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/sinkronlist">List Data Sinkron</a>
      </li>
    </ul>
    <form action="#">
      <div class="card-over mb-4">
        <h3 class="title-box">
          Sinkron Data
        </h3>
        <div class="container-inner">
          <div class="group-sm">
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Sinkron Category
                </div>
                <div class="col-md-8">
                  <select class="category form-control form-sm w-100" data-key="CatSync">
                    <option></option>
                    <option value="CRM">CRM</option>
                    <option value="Retail">Retail</option>
                    <option value="DGS">DGS</option> 
                  </select>
                </div>
              </div>
            </div>
            <div class="input-list">
              <div class="row align-items-center">
                <div class="col-md-4">
                  Sinkron Name
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control form-sm" placeholder="Sinkron Name" data-key="NameSync">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 container-inner">
        <button type="button" onclick="save_me()" class="btn btn-success px-5">
          <i class="ico ico-save mr-2"></i> SUBMIT
        </button>
      </div>
    </form>


  </div>
</div>
</div>

<script>
    async function save_me()
    {
        const fd = new FormData
        const forms = document.querySelectorAll('.form-sm')
        forms.forEach((e)=>{
            fd.append(e.dataset.key,e.value)
        })
        const q = await fetch('{url}dtapi/addsync',{
            method: 'POST',
            body: fd
        })
        const r = await q.json()
        if(q.ok){
            alert('data sinkron successfully added')
            location.href = '{url}erp/sinkronlist'
        } else {
            alert(r.message)
        }
    }
</script>

{footer}