{header}

<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="{url}erp/sinkron">Entry Data Sinkron</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{url}erp/sinkronedit">Edit Data Sinkron</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{url}erp/sinkronlist">List Data Sinkron</a>
    </li>
  </ul>
  <div class="container-inner">
    <div class="my-4">
      <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
        <i class="ico ico-filter sub"></i> FILTER
      </a>
      <a href="#" class="ml-2">
        <i class="ico ico-file-ex middle"></i>
      </a>
      <a href="#" class="ml-2">
        <i class="ico ico-file-im middle"></i>
      </a>
    </div>
    <table id="table" class="table table-mains nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col">No</td>
          <td scope="col">Sinkron Category</td>
          <td scope="col">Sinkron Name</td>
        </tr>
      </thead>
      <tbody class="data">


      </tbody>
    </table>
  </div>

</div>
</div>
</div>

<script>
  async function load_data() {
    const q = await fetch('{url}dtapi/loadsyncdata')
    const r = await q.json()
    if (q.ok) {
      let dt = ''
      r.data.forEach((e) => {
        dt += '<tr><td style="width: 10px;">1</td><td><div class="d-flex align-items-center"><div class="value">' + e.CatSync + '</div><div class="edit" style="display: none;"><select class="category form-control form-sm"><option></option><option value="CRM">CRM</option><option value="DGS">DGS</option><option value="Retail">Retail</option></select></div><a href="#" class="mx-2 edit-field"><i class="ico ico-pencil ico-warning"></i></a></div></td><td><div class="d-flex align-items-center"><div class="value">' + e.NameSync + '</div><div class="edit" style="display: none;"><input type="text" class="form-control form-sm" value="Lorem Ipsum"></div><a href="#" class="mx-2 edit-field"><i class="ico ico-pencil ico-warning"></i></a></div></td></tr>'
      })
      document.querySelector('.data').innerHTML = dt
      $('.table-mains').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
      })
    }
  }

  load_data()

  $('.edit-field').click(function (e) {
    e.preventDefault();
    var cl = $(this).closest('td');
    cl.find('.edit').show();
    cl.find('.value').hide();
  })
</script>

{footer}