{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Slip Gaji</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
          <i class="ico ico-filter sub"></i> FILTER
        </a>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Month</td>
            <td scope="col" class="text-center">Year</td>
            <td scope="col" class="text-center">Employee Name</td>
            <td scope="col" class="text-center">Unit Kerja</td>
            <td scope="col" class="text-center">Jabatan</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center" style="width: 10px;">1</td>
            <td class="text-center">Rizky Ramadhan</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">
              <a href="#" class="mx-2">
                <i class="ico ico-print"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="ico ico-download"></i>
              </a>
            </td>
          </tr>-->

        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-modal="false" role="dialog">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Month</label>
          <select class="month filt">
            <option value=""></option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <div class="form-group">
          <label>Year</label>
          <select class="year filt">
            <option value=""></option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
          </select>
        </div>

        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg mx-2 px-4" data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success btn-lg mx-2 px-4" data-dismiss="modal"  onclick="load_data()">
            <i class="ico ico-filter sub mt-1"></i> SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<script src="{url}views/erp/dist/js/vendor/html2pdf/dist/html2pdf.bundle.min.js"></script>
<script>
    let dt = ''
  async function load_data()
  {
    const filt = document.querySelectorAll('.filt') 
    const fnd = document.querySelector('.finder').value

    let url = "{url}dtapi/dtpayrollhist"

    if (fnd != '') { 
      dt.search(fnd).draw() 
    } 
        
    if (filt[0].value != '' && filt[1].value != '') {
       dt.destroy()
        url = "{url}dtapi/dtpayrollhist?tgl1=" + filt[0].value + '&tgl2=' + filt[1].value 
    } 

    dt = $('.table-main').DataTable({
                "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
                "language": {
                    "emptyTable": "Data kosong",
                    "zeroRecords": "Data tidak ditemukan",
                    "paginate": {
                        "previous": "<span class='icon-fi-sr-caret-left'></span>",
                        "next": "<span class='icon-fi-sr-caret-right'></span>",
                 }
                },
                "info": false,
                "ordering": false,
                "ajax": {
                          "url": url,
                          "type": "POST"
                        }, 
                "processing": true,
                "serverSide": true,
                "columns": [
                      {"data":"No"},
                      {"data":"Month"}, 
                      {"data":"Year"},  
                      {"data":"EmpName"}, 
                      {"data":"Workplace"}, 
                      {"data":"Liability"}, 
                      {"data":"Action9"}, 
                 ]
                });
        
  }
  load_data()

  async function print_slip(id)
  {
     const ids = id.dataset.id
     const req = await fetch('{url}dtapi/cetakslip?id=' + ids)
     const res = await req.json()
     if(req.ok){
       window.open(res.data,'_BLANK','popup=true')
     }
  }

  async function dl_slip(id)
  {
    const ids = id.dataset.id
     const req = await fetch('{url}dtapi/cetakslip?id=' + ids + '&pdf=1')
     const res = await req.text()
     if(req.ok){
       let d = new Date();
       let rnd = d.toISOString();
       html2pdf(res,{
           filename: rnd + "_print_slip.pdf"
       });
     }
  }
</script>

<script>
    $('.month').select2({
      theme: 'bootstrap4',
      placeholder: "Select Month",
      minimumResultsForSearch: -1
    });
    $('.year').select2({
      theme: 'bootstrap4',
      placeholder: "Select Year",
      minimumResultsForSearch: -1
    });
  </script>

{footer}