{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Jenis Status Kekaryaan</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <button type="button" class="btn-edit btn btn-primary edit-table" onclick="allowEdit()">
          EDIT
        </button>
        <button type="submit" class="btn btn-success btn-icon save-table" style="display: none;">
          <i class="ico ico-save sub mr-1"></i> SUBMIT
        </button>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Status</td>
            <td scope="col" class="text-center">Tj Komp</td>
            <td scope="col" class="text-center">Tj Komp</td>
          </tr>
        </thead>
        <tbody class="data">
        <!--  <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              TETAP
            </td>
            <td class="text-center">
              <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
            </td>
            <td class="text-center">
              <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
            </td>
          </tr> -->
          <tr>
            <td colspan="4"><center>loading...</center></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>


<script>
    async function load_data()
    {
        const req = await fetch('{url}dtapi/sttskarya')
        const res = await req.json()
        if(req.ok){
            let no = 1
            let row = ''
            for(let data of res.data){
                row += `
                <tr>
                    <td>${no}</td>
                    <td>${data.StatusType}</td>
                    <td><input data-field="StatusMinValue" data-id="${data.Id}" data-key="${data.StatusMinValue}" value="${data.StatusMinValue}" class="grade hidden" /><span class="ungrade">${data.StatusMinValue} %</span></td>
                    <td><input data-field="StatusMaxValue" data-id="${data.Id}" data-key="${data.StatusMaxValue}" value="${data.StatusMaxValue}" class="grade hidden" /><span class="ungrade"> ${data.StatusMaxValue} %</span></td>
                </tr>
                `
                no++
            }
            document.querySelector('.data').innerHTML = row

            $('.table-main').DataTable({
                "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
                "language": {
                    "emptyTable": "Data kosong",
                    "zeroRecords": "Data tidak ditemukan",
                    "paginate": {
                        "previous": "<span class='icon-fi-sr-caret-left'></span>",
                        "next": "<span class='icon-fi-sr-caret-right'></span>",
                 }
                },
                "info": false,
                "ordering": false
                });
        }
    }

    load_data()

    async function submitValue()
    {
      const grades = document.querySelectorAll('.grade')
      let val = 1
      for(let e of grades){
         if(e.dataset.key != e.value){
          if(parseFloat(e.value) < 0){
            val = 0
            alert('nilai negatif!')
            break
          } else {
            const id = e.dataset.id
            const value = e.value
            const field = e.dataset.field
            const req = await fetch('{url}dtapi/sttskaryaupdate?id=' + id + '&val=' + value + '&field=' + field)
          }
         }
      }
      return val
    }

    let cek = 0
    async function allowEdit()
    {
        const btn_edit = document.querySelector('.btn-edit')
        const btn_name = btn_edit.innerHTML
        btn_edit.innerHTML = ( btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT') ? 'EDIT' : '<i class="ico ico-save sub mr-1"></i> SUBMIT'
        const grades = document.querySelectorAll('.grade')
        const ungrades = document.querySelectorAll('.ungrade')
        let no = 0
        for(let e of grades){
            if(btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT'){
                // submit here
                btn_edit.setAttribute('disabled','true')
                btn_edit.innerHTML = 'menyimpan...'
                console.log(btn_name)
                cek = await submitValue()
            } else {
                e.classList.remove('hidden')
                ungrades[no].classList.add('hidden')
                console.log(btn_name)
            }
            no++
        }
        if(cek != 0){ 
                  location.reload()
                }

    }
</script>

{footer}