{header}
<div class="main-content-inner">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="{url}erp/transaction">Entry Transaction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{url}erp/translist">List Transaction</a>
    </li>
  </ul>
  <form action="#">
    <div class="card-over mb-4">
      <h3 class="title-box">
        Donator Data
      </h3>
      <div class="container-inner">
        <div class="group-sm">
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Donator ID
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input type="hidden" name="" id="don-id-val" class="form-sm"  data-key="DonatorId">
                  <input id="donaturId" class="form-control" style="border-radius: 0; height: 40px" placeholder="type to search...">
                  <i class="select-arrow"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Mobile Phone Number
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input id="mobileNumber" class="form-control form-sm" placeholder="type to search..." data-key="DonatorPhone">
                  <i class="select-arrow"></i>
                </div>

              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Donator Name
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input id="donaturName" class="form-control form-sm" placeholder="Dani..." data-key="DonatorName">
                  <i class="select-arrow"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-over mb-4">
      <h3 class="title-box">
        Transaction Detail
      </h3>
      <div class="container-inner">
        <div class="group-sm">
          <!-- <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Material Group
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input id="materialGroup" class="form-control form-sm" placeholder="Dani..." data-key="MaterialGroup"
                    oninput="getmaterial(this)">
                  <i class="select-arrow"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Material Number
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input id="materialNumber" class="form-control form-sm" placeholder="123..."
                    data-key="MaterialNumber">
                  <i class="select-arrow"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Sub Material Number
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input id="submaterialNumber" class="form-control form-sm" placeholder="123..."
                    data-key="SubMaterialNumber">
                  <i class="select-arrow"></i>
                </div>
              </div>
            </div>
          </div> -->
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Sumber Dana
              </div>
              <div class="col-md-8">
                <select class="form-control dana select form-sm" data-key="FundSource">
                  
                </select>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Pilar
              </div>
              <div class="col-md-8">
                <select class="form-control pilar select form-sm" data-key="Pilar">
                 
                </select>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Program Utama
              </div>
              <div class="col-md-8">
                <select class="form-control select utama form-sm"  data-key="ProgramUtama">
                
                </select>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Program Turunan
              </div>
              <div class="col-md-8">
                <select class="form-control select turunan form-sm" data-key="ProgramTurunan" >
                  
                </select>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Detail Program
              </div>
              <div class="col-md-8">
                <input type="hidden" class="form-sm" name="" id="material" data-key="MaterialNumber">
                <select class="form-control select detail detailProgram form-sm" data-key="DetailProgram">
                  
                </select>
              </div>
            </div>
          </div>
          <div class="input-list detailprogram" style="display: none;">
            <div class="row align-items-center">
              <div class="col-md-4">
                Notes
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control form-sm" data-key="Notes" value="null">
              </div>
            </div>
          </div>

          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Amount
              </div>
              <div class="col-md-8">
                <div class="d-flex">
                  <div class="currency-cn">
                    <select class="currency w-100 form-sm" data-key="Currency">
                      <option value="IDR">Rp</option>
                      <option value="USD">US$</option>
                      <option value="EURO">EURO</option>
                    </select>
                  </div>
                  <div class="w-100">
                    <div class="inline-group">
                      <input type="hidden" id="amt" class="form-control form-sm" data-key="Amount">
                      <input id="ammount" class="form-control form-sm rupiah" placeholder="123.." oninput="pullValue('rupiah','amt')">
                      <i class="select-arrow"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Transaction Type
              </div>
              <div class="col-md-8">
                <select class="form-control select type_transaction form-sm" data-key="TransType">
                  <option></option>
                  <option value="cash">Cash</option>
                  <option value="non cash">Non Cash</option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-list non-cash" style="display: none;">
            <div class="row align-items-center">
              <div class="col-md-4">
                Type Non Cash
              </div>
              <div class="col-md-8">
                <select class="form-control select form-sm" data-key="NonCashType">
                  <option value="null"></option>
                  <option value="1">Lorem</option>
                  <option value="2">Ipsum</option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Kanal Himpun
              </div>
              <div class="col-md-8">
                <select id="detail-himpun" class="select w-100 form-sm" data-key="ViaHimpun">
                  
                </select>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                PIC
              </div>
              <div class="col-md-8">
                <div class="inline-group">
                  <input type="hidden" name="" id="pic-val" class="form-sm" data-key="PIC">
                  <input id="pic" style="border-radius: 0; height: 40px" class="form-control" placeholder="type to search..." >
                  <i class="select-arrow"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="input-list">
            <div class="row align-items-center">
              <div class="col-md-4">
                Note
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control form-sm" placeholder="Lorem Ipsum" data-key="Note">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="" id="userid" class="" data-key="UserId">
    <div class="mt-5 container-inner">
      <button type="button" class="btn btn-success px-5" onclick="save_me()">
        <i class="ico ico-save mr-2"></i> SUBMIT
      </button>
    </div>
  </form>


</div>
</div>
</div>


<script>
  
  let dana = 0
  let pilar = 0
  let utama = 0
  let turunan = 0
  let detailcode = 0
  
  $('.select').select2({
    theme: 'bootstrap4 select-sm'
  })
  
  $('.dana').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select dana",
    ajax: {
          url: `{url}dtapinew/getdana`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        dana = e.params.data.id
      });
  
  
  $('.pilar').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select pilar",
    ajax: {
          url: `{url}dtapinew/getpilar`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        pilar = e.params.data.id
        wakeUtama()
        
      });
  
  function wakeUtama()
  {
      $('.utama').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select utama",
    ajax: {
          url: `{url}dtapinew/getutama?id=${pilar}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
        utama = e.params.data.id
        wakeTurunan()
        
      });
  }    
  
  function wakeTurunan()
  {
      $('.turunan').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select turunan",
    ajax: {
          url: `{url}dtapinew/getturunan?id=${utama}&id2=${pilar}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
       turunan = e.params.data.id 
       detailcode = dana + pilar + utama + turunan 
       wakeDetail()
      }); 
  } 
  
  function wakeDetail()
  {
    $('.detail').select2({
    theme: 'bootstrap4 select-sm', 
    placeholder: "select detail",
    ajax: {
          url: `{url}dtapinew/getnewprogram?id=${detailcode}`,
          dataType: 'json',
          processResults: function (data, params) {
            // parse the results into the format expected by Select2
            // since we are using custom formatting functions we do not need to
            // alter the remote JSON data, except to indicate that infinite
            // scrolling can be used 
  
            return {
              results: data.results
            }
          }
        }
  }).on('select2:select', (e) => {
       const detail = (e.params.data.id).split('-')
       document.querySelector('#material').value = detail[0]
      }); 
  }
  </script>
  

<script>
  function pullValue(className,target){
      const value = document.querySelector('.' + className).value
      document.querySelector('#' + target).value = value.replace(/\./g,'')
  }
</script>

<script>
  async function loadHimpun()
  {
     const req = await fetch('{url}dtapinew/loadhimpun')
     const res = await req.json()
     if(req.ok){
        let data = '<option value="null">choose...</option>'
        for(const item of res.data){
          const status = item.Kanal.toUpperCase() === 'FRONT OFFICE' ? 'selected' : ''
            data += `<option value="${item.Kanal}-${item.HimpunCode}" ${status}>${item.Kanal}-${item.HimpunCode}</option>`
        }
        document.querySelector('#detail-himpun').innerHTML = data
     }
  }

  loadHimpun()
</script>

<script>
  function showProgramTurunan(id) {
    const programTurunan = $('#selectProgramTurunan')
    if (id == '01') {
      const options = `
        <option value="02">02 - Masjid Tangguh</option>
        <option value="03">03 - Kader Dakwah Tangguh</option>
      `
      programTurunan.html(options)
    } else if (id == '02') {

    } else if (id=='03') {
      const options = `
        <option value="04">04 - DT Creative Center</option>
        <option value="05">05 - Peternak Tangguh</option>
        <option value="06">06 - Petani Tangguh</option>
        <option value="07">07 - Misykat</option>
        <option value="08">08 - Gerobak Tangguh</option>
        <option value="09">09 - KUBE</option>
      `
      programTurunan.html(options)
    }
    console.log(id)
  }
</script>


<script>
  async function defaultPic()
  {
     const hdr = new Headers
     const token = await read_token()
     hdr.append('authorization',token)
     const req = await fetch('{url}dtapi/getprofile',{
      headers: hdr
     })
     const res = await req.json()
     if(req.ok){
       document.querySelector('#pic-val').value = res.data[0].Id
       document.querySelector('#pic').value = res.data[0].RealName
     }
  }
  defaultPic()
</script>

<script>
  $('.type_transaction').change(function (e) {
    if (e.target.value === 'non cash') {
      $('.non-cash').show();
    } else {
      $('.non-cash').hide();
    }
  })
  $('.detailProgram').change(function (e) {
    if (e.target.value === 'dan lain lain') {
      $('.detailprogram').show();
    } else {
      $('.detailprogram').hide();
    }
  })
 
 
  async function save_me() {
    let fd = new FormData
    let forms = document.querySelectorAll('.form-sm')
    let stop = 0
    forms.forEach((e) => {
      if(e.dataset.key != undefined){
        fd.append(e.dataset.key, e.value)
      if(e.value == ''){
        stop++
        console.log(e.dataset.key)
      } 
      }
    })
    fd.append('DonationDate', new Date().toISOString())
    let hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization', token)
    if(stop == 0){
      let q = await fetch('{url}dtapi/setdonation', {
      method: 'POST',
      body: fd,
      headers: hdr
    })
    if (q.ok) {
      alert('donation successfully added')
      location.href = '{url}erp/translist'
    }
    } else {
       alert('whoops! isian tidak boleh kosong')
    }
  

  }
</script>

<script>
  $('#mobileNumber').autocomplete({
    source: async (req, res) => {

let hdr = new Headers
const token = await read_token()
hdr.append('Authorization', token)
let q = await fetch('{url}dtapi/getdonatorbyphone?term=' + req.term, {
  method: 'GET',
  headers: hdr
})
let r = await q.json()
if (q.ok) {
  let data = []
  r.data.forEach((e) => {
    let obj = {
      label: e.Phone + ' (' + e.DonatorName + ')',
      value: e.Phone,
      DonatorName: e.DonatorName,
      DonatorId: e.DonatorId,
      Phone: e.Phone,
      Id: e.Id
    }
    data.push(obj)
  })
  res(data)
}


}
}).on("autocompleteselect", function (event, ui) {
document.querySelector('#donaturName').value = ui.item.DonatorName
document.querySelector('#mobileNumber').value = ui.item.Phone
document.querySelector('#don-id-val').value = ui.item.Id
document.querySelector('#donaturId').value = ui.item.DonatorId
})

  $('#donaturId').autocomplete({
    source: async (req, res) => {

      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getdonator?id=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.DonatorId + ' (' + e.DonatorName + ')',
            value: e.DonatorId,
            DonatorName: e.DonatorName,
            DonatorId: e.DonatorId,
            Phone: e.Phone,
            Id: e.Id
          }
          data.push(obj)
        })
        res(data)
      }


    }
  }).on("autocompleteselect", function (event, ui) {
    document.querySelector('#donaturName').value = ui.item.DonatorName
    document.querySelector('#mobileNumber').value = ui.item.Phone
    document.querySelector('#don-id-val').value = ui.item.Id
  })
  /*.focus(function () {
    $(this).data("uiAutocomplete").search($(this).val());
  });

  $('#donaturName').autocomplete({
    source: [
      "Lorem Ipsum",
      "Dolor Sit Amet",
    ],
    minLength: 0
  }).focus(function () {
    $(this).data("uiAutocomplete").search($(this).val());
  }); */

  $('#materialGroup').autocomplete({
    source: async (req, res) => {

      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getallmaterial?q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.Id + ' (' + e.GroupName + ')',
            value: e.GroupName,
            Material: e.Id
          }
          data.push(obj)
        })
        res(data)
      }

    },
    minLength: 1
  }).on("autocompleteselect", function (event, ui) {
    document.querySelector('#materialNumber').value = ui.item.Material
  })

  /*.focus(function () {
    $(this).data("uiAutocomplete").search($(this).val());
  });

  $('#materialNumber').autocomplete({
    source: [
      "Lorem Ipsum",
      "Dolor Sit Amet",
    ],
    minLength: 0
  }).focus(function () {
    $(this).data("uiAutocomplete").search($(this).val());
  }); */

  $('#submaterialNumber').autocomplete({
    source: async (req, res) => {


      let qs = document.querySelector('#materialNumber').value
      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getsubmaterial?group=' + qs + '&q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.Id + ' (' + e.SubName + ')',
            value: e.Id,
            Material: e.Id
          }
          data.push(obj)
        })
        res(data)
      }

    },
    minLength: 1
  })

  /*.focus(function () {
    $(this).data("uiAutocomplete").search($(this).val());
  });

  $('#ammount').autocomplete({
    source: [
      "1234512",
      "32134123",
    ],
    minLength: 0
  }).focus(function () {
    $(this).data("uiAutocomplete").search($(this).val());
  }); */

  $('#pic').autocomplete({
    source: async (req, res) => {
      let hdr = new Headers
      const token = await read_token()
      hdr.append('Authorization', token)
      let q = await fetch('{url}dtapi/getallusers?q=' + req.term, {
        method: 'GET',
        headers: hdr
      })
      let r = await q.json()
      if (q.ok) {
        let data = []
        r.data.forEach((e) => {
          let obj = {
            label: e.Id + ' (' + e.RealName + ')',
            value: e.RealName,
            PicId: e.Id
          }
          data.push(obj)
        })
        res(data)
      }
    },
    minLength: 1
  }).on("autocompleteselect", function (event, ui) {
    document.querySelector('#pic-val').value = ui.item.PicId 
  })


  $('.currency').select2({
    theme: 'bootstrap4 select-sm bg-grey'
  });

 


</script>

{footer}