{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/transaction">Entry Transaction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{url}erp/translist">List Transaction</a>
      </li>
     
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
          <i class="ico ico-filter sub"></i> FILTER
        </a>
        <a href="#" class="ml-2">
          <i class="ico ico-file-ex middle"></i>
        </a>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Time</td>
            <td scope="col" class="text-center">Donator ID</td>
            <td scope="col" class="text-center">No Handphone</td>
            <td scope="col" class="text-center">Donator Name</td>
            <td scope="col" class="text-center">SO Number</td>
            <td scope="col" class="text-center">Kanal Himpun</td>
            <td scope="col" class="text-center">Transaction Type</td>
            <td scope="col" class="text-center">PIC</td>
            <td scope="col" class="text-center">Sumber Dana</td>
            <td scope="col" class="text-center">Pilar</td>
            <td scope="col" class="text-center">Program Utama</td>
            <td scope="col" class="text-center">Program Turunan </td>
            <td scope="col" class="text-center">Detail Program</td>
            <td scope="col" class="text-center">Amount</td>
            <td scope="col" class="text-center">Note</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
 let dt = ''
    async function load_data() {

    const fnd = document.querySelector('.finder').value
    let url = "{url}dtapinew/loadtransdt"

    if (fnd != '') {
       dt.destroy()
       url = "{url}dtapinew/loadtransdt?term=" + fnd
    } else {}
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return ((new Date(row.DonationDate)).toLocaleDateString('id-ID',opt))
          }},
          { "data": "DonatorId" },
          { "data": "DonatorPhone" },
          { "data": "DonatorName" }, 
          { "data": "TrxId" },
          { "data": "ViaHimpun" }, 
          { "data": "TransType" }, 
          { "data": "PIC" }, 
          { "data": "FundSource" }, 
          { "data": "Pilar" }, 
          { "data": "ProgramUtama" }, 
          { "data": "ProgramTurunan" }, 
          { "data": "DetailProgram" }, 
          { "data": (row)=>{
            return `Rp ${Intl.NumberFormat('id-ID').format(row.Amount)}`
          } }, 
          { "data": "Note" }, 
          { "data": (row)=>{
              return `<a href="#"><i class="ico ico-print"></i>`
          } }
           
        ]
      });

  /*   */
  
}

load_data()
   
</script>

{footer}