{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{url}erp/custdatalist">List Customer Master Data</a>
      </li>
          <li class="nav-item">
            <a class="nav-link active" href="{url}erp/trans-hist">History Transaction</a>
          </li>
    </ul>
    <div class="container-inner">
        <div class="my-4">
          <a href="#" class="ml-2">
            <i class="ico ico-file-ex middle"></i>
          </a>
        </div>
        <table id="table" class="table table-main nowrap" style="width:100%">
          <thead>
            <tr>
              <td scope="col" class="text-center">No</td>
              <td scope="col" class="text-center">Time</td>
              <td scope="col" class="text-center">Transaction ID</td>
              <td scope="col" class="text-center">Kanal Himpun</td>
              <td scope="col" class="text-center">Transaction Type</td>
              <td scope="col" class="text-center">PIC</td>
              <td scope="col" class="text-center">Sumber Dana</td>
              <td scope="col" class="text-center">Pilar</td>
              <td scope="col" class="text-center">Program Utama</td>
              <td scope="col" class="text-center">Program Turunan</td>
              <td scope="col" class="text-center">Detail Program</td>
              <td scope="col" class="text-center">Amount</td>
              <td scope="col" class="text-center">Note</td>
            </tr>
          </thead>
          <tbody class="data">
             
          </tbody>
        </table>
      </div>
</div>

<script>
    let dt = ''
    async function load_data() {

    const id = localStorage.getItem('cust_trans_hist')
    localStorage.removeItem('cust_trans_hist')

    if(id == undefined || id == null){
      alert('whoops! data tidak ditemukan. silakan buka kembali customer master data')
    } else {
      console.log(id)

    const fnd = document.querySelector('.finder').value
    let url = "{url}dtapinew/loadtransdt?id=" + id

    if (fnd != '') {
       dt.destroy()
       url = "{url}dtapinew/loadtransdt?id=" + id + "&term=" + fnd
    } else {}
    
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
            const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                    return ((new Date(row.DonationDate)).toLocaleDateString('id-ID',opt))
          }},
          { "data": "TrxId" },
          { "data": "ViaHimpun" }, 
          { "data": "TransType" }, 
          { "data": "PIC" }, 
          { "data": "FundSource" }, 
          { "data": "Pilar" }, 
          { "data": "ProgramUtama" }, 
          { "data": "ProgramTurunan" }, 
          { "data": "DetailProgram" }, 
          { "data": (row)=>{
            return `Rp ${Intl.NumberFormat('id-ID').format(row.Amount)}`
          } }, 
          { "data": "Note" }
           
        ]
      });

  /*   */
    }
}

load_data()
</script>

{footer}