{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="payroll-gaji-pokok.html">List Gaji Pokok</a>
      </li>
    </ul>
    <div class="container-inner">
      <div class="my-4">
        <button type="button" class="btn-edit btn btn-primary edit-table" onclick="allowEdit()">
          EDIT
        </button>
        <button type="submit" class="btn btn-success btn-icon save-table" style="display: none;">
          <i class="ico ico-save sub mr-1"></i> SUBMIT
        </button>
      </div>
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Masa Karya</td>
            <td scope="col" class="text-center">0-1 TH</td>
            <td scope="col" class="text-center">>1-3TH</td>
            <td scope="col" class="text-center">>3-5TH</td>
            <td scope="col" class="text-center">>5-7TH</td>
            <td scope="col" class="text-center">>7-9TH</td>
            <td scope="col" class="text-center">>9-11TH</td>
            <td scope="col" class="text-center">>11-13TH</td>
            <td scope="col" class="text-center">>13-15TH</td>
            <td scope="col" class="text-center">>15-17TH</td>
            <td scope="col" class="text-center">>17-19TH</td>
            <td scope="col" class="text-center">>19-21TH</td>
            <td scope="col" class="text-center">>21</td>
          </tr>
          <tr>
            <td scope="col" class="text-center"></td>
            <td scope="col" class="text-center">PDDK</td>
            <td scope="col" class="text-center">1</td>
            <td scope="col" class="text-center">2</td>
            <td scope="col" class="text-center">3</td>
            <td scope="col" class="text-center">4</td>
            <td scope="col" class="text-center">5</td>
            <td scope="col" class="text-center">6</td>
            <td scope="col" class="text-center">7</td>
            <td scope="col" class="text-center">8</td>
            <td scope="col" class="text-center">9</td>
            <td scope="col" class="text-center">10</td>
            <td scope="col" class="text-center">11</td>
            <td scope="col" class="text-center">12</td>
          </tr>
        </thead>
        <tbody class="data">
          <!--<tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">
              S3
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">2</td>
            <td class="text-center">
              S2
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">3</td>
            <td class="text-center">
              PASCA 1
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
            <td class="text-center">
              <span class="val-field">Rp. <input class="txt" type="text" value="1.299.629" disabled /></span>
            </td>
          </tr>-->
            <tr>
                <td colspan="14"><center>loading...</center></td>
            </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

<script>
    async function getWage(pddk,lo,hi)
    {
            const req = await fetch('{url}dtapi/wage?pddk=' + pddk + '&lo=' + lo + '&hi=' + hi)
            const res = await req.json()
            if(req.ok){
                return res.data[0]
            }  
    }


    let dt = ''

    function load_data()
    {
      const finder = document.querySelector('.finder')
        if(finder.value != ''){
            dt.column(1).search(finder.value).draw()
        }  else {
          dt.column(1).search(finder.value).draw()
        }
    }

    async function load_data2()
    {
        const pddk = ['SMU','D1','D2','D3','D4','S1','S2','S3','PASCA 1','PROFESI']
        let row = ''
        let num = 1
        for(let el of pddk){
            const r1 = await getWage(el,0,1)
            const r2 = await getWage(el,2,3)
            const r3 = await getWage(el,4,5)
            const r4 = await getWage(el,6,7)
            const r5 = await getWage(el,8,9)
            const r6 = await getWage(el,10,11)
            const r7 = await getWage(el,12,13)
            const r8 = await getWage(el,14,15)
            const r9 = await getWage(el,16,17)
            const r10 = await getWage(el,18,19)
            const r11 = await getWage(el,20,21)
            const r12 = await getWage(el,22,0)
            row += `
                <tr>
                <td class="text-center" style="width: 60px;">${num}</td>
                <td class="text-center">${el}</td>
                <td><input data-key="${r1.Salary}" value="${r1.Salary}" class="salary hidden" id="s-${r1.Id}"/><span class="unsalary">Rp ${r1.Salary}</span></td>
                <td><input data-key="${r2.Salary}" value="${r2.Salary}" class="salary hidden" id="s-${r2.Id}" /><span class="unsalary">Rp ${r2.Salary}</span></td>
                <td><input data-key="${r3.Salary}" value="${r3.Salary}" class="salary hidden" id="s-${r3.Id}" /><span class="unsalary">Rp ${r3.Salary}</span></td>
                <td><input data-key="${r4.Salary}" value="${r4.Salary}" class="salary hidden" id="s-${r4.Id}" /><span class="unsalary">Rp ${r4.Salary}</span></td>
                <td><input data-key="${r5.Salary}" value="${r5.Salary}" class="salary hidden" id="s-${r5.Id}" /><span class="unsalary">Rp ${r5.Salary}</span></td>
                <td><input data-key="${r6.Salary}" value="${r6.Salary}" class="salary hidden" id="s-${r6.Id}" /><span class="unsalary">Rp ${r6.Salary}</span></td>
                <td><input data-key="${r7.Salary}" value="${r7.Salary}" class="salary hidden" id="s-${r7.Id}" /><span class="unsalary">Rp ${r7.Salary}</span></td>
                <td><input data-key="${r8.Salary}" value="${r8.Salary}" class="salary hidden" id="s-${r8.Id}" /><span class="unsalary">Rp ${r8.Salary}</span></td>
                <td><input data-key="${r9.Salary}" value="${r9.Salary}" class="salary hidden" id="s-${r9.Id}" /><span class="unsalary">Rp ${r9.Salary}</span></td>
                <td><input data-key="${r10.Salary}" value="${r10.Salary}" class="salary hidden" id="s-${r10.Id}" /><span class="unsalary">Rp ${r10.Salary}</span></td>
                <td><input data-key="${r11.Salary}" value="${r11.Salary}" class="salary hidden" id="s-${r11.Id}" /><span class="unsalary">Rp ${r11.Salary}</span></td>
                <td><input data-key="${r12.Salary}" value="${r12.Salary}" class="salary hidden" id="s-${r12.Id}" /><span class="unsalary">Rp ${r12.Salary}</span></td>
                </tr>
            `
            num++
        }
        document.querySelector('.data').innerHTML = row 
        dt = $('.table-main').DataTable({
            "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
            "language": {
                "emptyTable": "Data kosong",
                "zeroRecords": "Data tidak ditemukan",
                "paginate": {
                    "previous": "<span class='icon-fi-sr-caret-left'></span>",
                    "next": "<span class='icon-fi-sr-caret-right'></span>",
                }
            },
            "info": false,
            "ordering": false
        });
    }
    load_data2()

    async function submitValue()
    {
        const salaries = document.querySelectorAll('.salary')
        let val = 1
        for(let e of salaries){
            const old_value = parseFloat(e.dataset.key)
            const cur_value = parseFloat(e.value)
            if(old_value != cur_value){
                if(cur_value < 0){ 
                  val = 0
                  alert('nilai negatif')
                  break;
                }
                if(e.value == ''){
                  val = 0
                  alert('data kosong')
                  break;
                }
                const id = (e.id).replace('s-','')
                const req = await fetch('{url}dtapi/wageupdate?id=' + id + '&val=' + cur_value)
            }  
        }
        return val
    }

    let cek = 0
    async function allowEdit()
    {
        const btn_edit = document.querySelector('.btn-edit')
        const btn_name = btn_edit.innerHTML
        btn_edit.innerHTML = ( btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT') ? 'EDIT' : '<i class="ico ico-save sub mr-1"></i> SUBMIT'
        const salaries = document.querySelectorAll('.salary')
        const unsalaries = document.querySelectorAll('.unsalary')
        let no = 0
        for(let e of salaries){
            if(btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT'){
                // submit here
                btn_edit.setAttribute('disabled','true')
                btn_edit.innerHTML = 'menyimpan...'
                cek = await submitValue() 
                console.log(btn_name)
                if(cek == 0){
                  btn_edit.innerHTML = '<i class="ico ico-save sub mr-1"></i> SUBMIT'
                  btn_edit.removeAttribute('disabled')
                  break
                }
            } else {
                e.classList.remove('hidden')
                unsalaries[no].classList.add('hidden')
                console.log(btn_name)
            }
            no++
        }
        if(cek != 0){
            location.reload()
        }

    }
</script>


{footer}