{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="payroll-gaji-pokok.html">List Gaji Pokok</a>
      </li>
    </ul>
    <div class="container-inner">
      <form action="#">
        <div class="my-4">
          <button type="button" class="btn-edit btn btn-primary edit-table" onclick="allowEdit()">
            EDIT
          </button>
          <button type="submit" class="btn btn-success btn-icon save-table" style="display: none;">
            <i class="ico ico-save sub mr-1"></i> SUBMIT
          </button>
        </div>
        <table id="table" class="table table-main nowrap" style="width:100%">
          <thead>
            <tr>
              <td scope="col" class="text-center">No</td>
              <td scope="col" class="text-center">Masa Karya</td>
              <td scope="col" class="text-center">0-1 TH</td>
              <td scope="col" class="text-center">>1-3TH</td>
              <td scope="col" class="text-center">>3-5TH</td>
              <td scope="col" class="text-center">>5-7TH</td>
              <td scope="col" class="text-center">>7-9TH</td>
              <td scope="col" class="text-center">>9-11TH</td>
              <td scope="col" class="text-center">>11-13TH</td>
              <td scope="col" class="text-center">>13-15TH</td>
              <td scope="col" class="text-center">>15-17TH</td>
              <td scope="col" class="text-center">>17-19TH</td>
              <td scope="col" class="text-center">>19-21TH</td>
              <td scope="col" class="text-center">>21</td>
            </tr>
            <tr>
              <td scope="col" class="text-center"></td>
              <td scope="col" class="text-center">PDDK</td>
              <td scope="col" class="text-center">1</td>
              <td scope="col" class="text-center">2</td>
              <td scope="col" class="text-center">3</td>
              <td scope="col" class="text-center">4</td>
              <td scope="col" class="text-center">5</td>
              <td scope="col" class="text-center">6</td>
              <td scope="col" class="text-center">7</td>
              <td scope="col" class="text-center">8</td>
              <td scope="col" class="text-center">9</td>
              <td scope="col" class="text-center">10</td>
              <td scope="col" class="text-center">11</td>
              <td scope="col" class="text-center">12</td>
            </tr>
          </thead>
          <tbody class="data">
           <!-- <tr>
              <td class="text-center" style="width: 60px;">1</td>
              <td class="text-center">
                KONTRAK YSS
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="15" disabled /> %</span>
              </td>
            </tr>
            <tr>
              <td class="text-center" style="width: 60px;">2</td>
              <td class="text-center">
                TETAP
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
              <td class="text-center">
                <span class="val-field"><input class="txt" type="text" value="100" disabled /> %</span>
              </td>
            </tr> -->
            <tr>
                <td colspan="14"><center>loading...</center></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>


  </div>
</div>
</div>
<script>
    async function getWage(pddk,lo,hi)
    {
            const req = await fetch('{url}dtapi/worktime?pddk=' + pddk + '&lo=' + lo + '&hi=' + hi)
            const res = await req.json()
            if(req.ok){
                return res.data[0]
            }  
    }

   
    let dt = ''

function load_data()
{
  const finder = document.querySelector('.finder')
    if(finder.value != ''){
        dt.column(1).search(finder.value).draw()
    } else {
      dt.column(1).search(finder.value).draw()
    } 
}

    async function load_data2()
    {
        const pddk = ['KONTRAK YSS','TETAP']
        let row = ''
        let num = 1
        for(let el of pddk){
            const r1 = await getWage(el,0,1)
            const r2 = await getWage(el,2,3)
            const r3 = await getWage(el,4,5)
            const r4 = await getWage(el,6,7)
            const r5 = await getWage(el,8,9)
            const r6 = await getWage(el,10,11)
            const r7 = await getWage(el,12,13)
            const r8 = await getWage(el,14,15)
            const r9 = await getWage(el,16,17)
            const r10 = await getWage(el,18,19)
            const r11 = await getWage(el,20,21)
            const r12 = await getWage(el,22,0)
            row += `
                <tr>
                <td class="text-center" style="width: 60px;">${num}</td>
                <td class="text-center">${el}</td>
                <td><input data-key="${r1.WorkValue}" value="${r1.WorkValue}" class="salary hidden" id="s-${r1.Id}"/><span class="unsalary"> ${r1.WorkValue} %</span></td>
                <td><input data-key="${r2.WorkValue}" value="${r2.WorkValue}" class="salary hidden" id="s-${r2.Id}" /><span class="unsalary"> ${r2.WorkValue} %</span></td>
                <td><input data-key="${r3.WorkValue}" value="${r3.WorkValue}" class="salary hidden" id="s-${r3.Id}" /><span class="unsalary"> ${r3.WorkValue} %</span></td>
                <td><input data-key="${r4.WorkValue}" value="${r4.WorkValue}" class="salary hidden" id="s-${r4.Id}" /><span class="unsalary"> ${r4.WorkValue} %</span></td>
                <td><input data-key="${r5.WorkValue}" value="${r5.WorkValue}" class="salary hidden" id="s-${r5.Id}" /><span class="unsalary"> ${r5.WorkValue} %</span></td>
                <td><input data-key="${r6.WorkValue}" value="${r6.WorkValue}" class="salary hidden" id="s-${r6.Id}" /><span class="unsalary"> ${r6.WorkValue} %</span></td>
                <td><input data-key="${r7.WorkValue}" value="${r7.WorkValue}" class="salary hidden" id="s-${r7.Id}" /><span class="unsalary"> ${r7.WorkValue} %</span></td>
                <td><input data-key="${r8.WorkValue}" value="${r8.WorkValue}" class="salary hidden" id="s-${r8.Id}" /><span class="unsalary"> ${r8.WorkValue} %</span></td>
                <td><input data-key="${r9.WorkValue}" value="${r9.WorkValue}" class="salary hidden" id="s-${r9.Id}" /><span class="unsalary"> ${r9.WorkValue} %</span></td>
                <td><input data-key="${r10.WorkValue}" value="${r10.WorkValue}" class="salary hidden" id="s-${r10.Id}" /><span class="unsalary"> ${r10.WorkValue} %</span></td>
                <td><input data-key="${r11.WorkValue}" value="${r11.WorkValue}" class="salary hidden" id="s-${r11.Id}" /><span class="unsalary"> ${r11.WorkValue} %</span></td>
                <td><input data-key="${r12.WorkValue}" value="${r12.WorkValue}" class="salary hidden" id="s-${r12.Id}" /><span class="unsalary"> ${r12.WorkValue} %</span></td>
                </tr>
            `
            num++
        }
        document.querySelector('.data').innerHTML = row

       dt = $('.table-main').DataTable({
            "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
            "language": {
                "emptyTable": "Data kosong",
                "zeroRecords": "Data tidak ditemukan",
                "paginate": {
                    "previous": "<span class='icon-fi-sr-caret-left'></span>",
                    "next": "<span class='icon-fi-sr-caret-right'></span>",
                }
            },
            "info": false,
            "ordering": false
        });
    }
    load_data2()

    async function submitValue()
    {
        const salaries = document.querySelectorAll('.salary')
        let val = 1
        for(let e of salaries){
            const old_value = parseFloat(e.dataset.key)
            const cur_value = parseFloat(e.value)
            if(old_value != cur_value){
                if(cur_value < 0){
                  alert('nilai negatif')
                  val = 0
                  break
                } else {
                  const id = (e.id).replace('s-','')
                const req = await fetch('{url}dtapi/worktimeupdate?id=' + id + '&val=' + cur_value)
                }
               
            }
        }
        return val
    }

    let cek = 0
    async function allowEdit()
    {
        const btn_edit = document.querySelector('.btn-edit')
        const btn_name = btn_edit.innerHTML
        btn_edit.innerHTML = ( btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT') ? 'EDIT' : '<i class="ico ico-save sub mr-1"></i> SUBMIT'
        const salaries = document.querySelectorAll('.salary')
        const unsalaries = document.querySelectorAll('.unsalary')
        let no = 0
        for(let e of salaries){
            if(btn_name == '<i class="ico ico-save sub mr-1"></i> SUBMIT'){
                // submit here
                btn_edit.setAttribute('disabled','true')
                btn_edit.innerHTML = 'menyimpan...'
                cek = await submitValue() 
                console.log(btn_name)
                if(cek == 0){
                  btn_edit.removeAttribute('disabled')
                btn_edit.innerHTML = '<i class="ico ico-save sub mr-1"></i> SUBMIT'
                break
                }  
            } else {
                e.classList.remove('hidden')
                unsalaries[no].classList.add('hidden')
                console.log(btn_name)
            }
            no++
        }
        if(cek != 0){
            location.reload()
        }

    }
</script>

{footer}