{header}

<div class="main-content-inner">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">List Approval Yayasan Dll</a>
      </li>
    </ul>
    <div class="container-inner pt-5">
      <table id="table" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-center">No</td>
            <td scope="col" class="text-center">Year</td>
            <td scope="col" class="text-center">Month</td>
            <td scope="col" class="text-center">Status</td>
            <td scope="col" class="text-center">Action</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center">1</td>
            <td class="text-center">2022</td>
            <td class="text-center">July</td>
            <td class="text-center">Awaiting Approval</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
          </tr>
          <tr>
            <td class="text-center">2</td>
            <td class="text-center">2022</td>
            <td class="text-center">July</td>
            <td class="text-center">Not Started Review</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
          </tr>
          <tr>
            <td class="text-center">3</td>
            <td class="text-center">2022</td>
            <td class="text-center">July</td>
            <td class="text-center">Approve</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">Detail</a>
            </td>
          </tr>-->
    
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<!-- Modal Cicilan Detail -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Detail</h5>

    </div>
    <div class="modal-body">
      <div class="mt-4">
        <table class="mb-3">
          <tr>
            <td class="text-primary">Grand Total</td>
            <td class="px-3 text-primary">:</td>
            <td class="text-primary">Rp 455.000.000</td>
          </tr>
          <tr>
            <td class="text-primary">Status</td>
            <td class="px-3 text-primary">:</td>
            <td class="text-primary">Awaiting Approval</td>
          </tr>
        </table>
        <table class="table">
          <thead>
            <tr>
              <td class="text-center">No</td>
              <td class="text-center">Employee Name</td>
              <td class="text-center">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">Bambang</td>
              <td class="text-center">Rp. 3.000.000</td>
            </tr>
          </tbody>
        </table>

        <div class="mt-4">
          <button class="btn btn-danger">REJECTED</button>
          <button class="btn btn-success">Approved</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="submitmodal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center">
        <img src="images/icons/icon-file-s.svg" alt="">
        <h4 class="my-5">Are you sure submit this data ?</h4>
        <button class="mx-3 btn btn-danger" data-dismiss="modal">
          <i class="ico ico-cancel"></i> CANCEL
        </button>
        <button class="mx-3 btn btn-success">
          <i class="ico ico-save"></i> SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    let dt = ''
  async function load_data() {
    const fnd = document.querySelector('.finder').value
    if (fnd != '') {
      dt.search(fnd).draw() 
    } else {
   
      dt = $('.table-main').DataTable({
                "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
                "language": {
                    "emptyTable": "Data kosong",
                    "zeroRecords": "Data tidak ditemukan",
                    "paginate": {
                        "previous": "<span class='icon-fi-sr-caret-left'></span>",
                        "next": "<span class='icon-fi-sr-caret-right'></span>",
                 }
                },
                "info": false,
                "ordering": false,
                "ajax": {
                          "url": "{url}dtapi/dtyayasanapproval",
                          "type": "POST"
                        }, 
                "processing": true,
                "serverSide": true,
                "columns": [
                      {"data":"No"}, 
                      {"data":"Year"}, 
                      {"data":"Month"},  
                      {"data":"ApprovalStatus"}, 
                      {"data":"Action"}
                 ]
                });


    }
  }

  load_data()
</script>

{footer}