{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7 mb-2">
          <h2 class="mb-0">Approval Daily Report </h2>
        </div>
        <div class="col-lg-4 col-md-5 mb-2">
          <div class="form-material">
            
          </div>
        </div>
      </div>
      <div class="mb-2"></div>
      <div class="row align-items-center">
        <div class="col-md-6 mb-2">
          <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
            <i class="ico ico-filter sub"></i> FILTER
          </a>
          <a onclick="approve_all2()" class="btn btn-success apprvd hidden" >
            Approve All
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <div class="add-section">
            <div class="row align-items-center">
              <div class="col-6">
                Approve Selection
              </div>
              <div class="col-6 text-right">
                <a onclick="approve_all()" class="btn btn-success apprv" >
                  Approve
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table id="" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td style="width: 10px;"></td>
            <td scope="col" class="text-2 medium">No</td>
            <td scope="col" class="text-2 medium">Date</td>
            <td scope="col" class="text-2 medium">Start Time</td>
            <td scope="col" class="text-2 medium">End Time</td>
            <td scope="col" class="text-2 medium">Santri Karya</td>
            <td scope="col" class="text-2 medium">Unit Kerja</td>
            <td scope="col" class="text-2 medium">Divisi</td>
            <td scope="col" class="text-2 medium">Department</td>
            <td scope="col" class="text-2 medium">Jabatan</td>
            <td scope="col" class="text-2 medium">KP</td>
            <td scope="col" class="text-2 medium">KPP</td>
            <td scope="col" class="text-2 medium">Activity Type</td>
            <td scope="col" class="text-2 medium">Status</td>
            <td scope="col" class="text-2 medium text-center">Action</td>
          </tr>
        </thead>
        <tbody class="data"> 
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>

<!-- Modal Detail -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Detail</h5>
<input type="hidden" id="reportId">
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Date</label>
        <div class="inline-group">
          <input type="text" data-key="ActivityDate" class="dt form-control date" value="22 Januari 2022" disabled>
          <i class="ico ico-calendar"></i>
        </div>
      </div>
      <div class="form-group">
        <label>Type Activity</label>
        <input type="text" data-key="ActivityTitle" class="dt form-control" value="Lunc and Sholat" disabled>
      </div>
      <div class="form-group">
        <label>Activity Description</label>
        <input type="text" data-key="ActivityNote" class="dt form-control" value="Lorem ipsum dolor sit amet" disabled>
      </div>
   
      <div class="form-group">
        <label>Start Time</label>
        <div class="inline-group">
          <input type="text" data-key="StartTime" class="dt form-control " value="12:00" disabled>
          <i class="ico ico-time"></i>
        </div>
      </div>
      <div class="form-group">
        <label>End Time</label>
        <div class="inline-group">
          <input type="text" data-key="EndTime" class="dt form-control " value="12:00" disabled>
          <i class="ico ico-time"></i>
        </div>
      </div>
      <div class="form-group">
        <label>Cost Centre</label>
        <input type="text" data-key="CostCenter" class="dt form-control" value="1.000.000" disabled>
      </div>
      <div class="form-group">
        <label>Progress</label>
        <input type="text" data-key="Progress" class="dt form-control" value="50%" disabled>
      </div>
      <div class="form-group">
        <label>Attachment</label>
       <div>
        <img src="" class="dt" style="width: 50%" alt="" data-key="ActivityPhoto">
      <p class="photo"></p> 
      </div>
      </div>
      <div class="mt-5 text-center">
        <div>
          <button class="btn btn-success mx-3" onclick="process(2)">APPROVED</button>
          <button class="btn btn-warning mx-3" onclick="process(3)">REJECTED</button>
        </div>
        <button class="btn btn-danger mt-4" data-dismiss="modal">
          <i class="ico ico-cancel"></i> CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal Detail Rejected -->
<div class="modal fade" id="detailRejected" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Detail</h5>

    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Date</label>
        <div class="inline-group">
          <input type="text" class="form-control date" value="22 Januari 2022" disabled>
          <i class="ico ico-calendar"></i>
        </div>
      </div>
      <div class="form-group">
        <label>Type Activity</label>
        <input type="text" class="form-control" value="Lunc and Sholat" disabled>
      </div>
      <div class="form-group">
        <label>Activity Description</label>
        <input type="text" class="form-control" value="Lorem ipsum dolor sit amet" disabled>
      </div>
   
      <div class="form-group">
        <label>Start Time</label>
        <div class="inline-group">
          <input type="text" class="form-control " value="12:00" disabled>
          <i class="ico ico-time"></i>
        </div>
      </div>
      <div class="form-group">
        <label>End Time</label>
        <div class="inline-group">
          <input type="text" class="form-control " value="12:00" disabled>
          <i class="ico ico-time"></i>
        </div>
      </div>
      <div class="form-group">
        <label>Cost Centre</label>
        <input type="text" class="form-control" value="1.000.000" disabled>
      </div>
      <div class="form-group">
        <label>Progress</label>
        <input type="text" class="form-control" value="50%" disabled>
      </div>
      <div class="form-group">
        <label>Attachment</label>
       <div>
        <img src="images/group-people-volunteering-foodbank-poor-people.png" width="100" alt="">
       </div>
      </div>
      <div class="mt-5 text-center">
        <button class="btn btn-danger mt-4" data-dismiss="modal">
          <i class="ico ico-cancel"></i> CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="inline-group">
            <input type="date" class="form-control dates" placeholder="Start Date"> 
          </div>
        </div>

        <div class="form-group">
          <label>Status</label>
          <select class="status form-control dates"> 
            <option value="-1">SEMUA</option>
            <option value="0">DRAFT</option>
            <option value="1">DIAJUKAN</option>
            <option value="2">DITERIMA</option>
            <option value="3">DITOLAK</option>
          </select>
        </div>
        <div class="text-center mt-5">
          <button type="button" class="btn btn-danger btn-lg px-4"  data-dismiss="modal">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success btn-lg px-4" onclick="load_me()" data-dismiss="modal">
            <i class="ico ico-filter sub mt-1"></i> APPLY FILTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>

async function approve_all2()
    {
      const btn = document.querySelector('.apprvd')
      btn.setAttribute('disabled',true)
      btn.innerText = 'memproses...'
      const checks = document.querySelectorAll('.check')
      let count = 0 
      let s = 0
      let t = 0
      
        for(let i of checks){
         
          console.log(i.dataset.key)
          count += await process2(2,i.dataset.key)
        
      }

      if(count > 0){
        alert(`proses approval ${count} dari ${s} berhasil`)
        location.reload()
      } else {
        alert('whoops! tidak ada report untuk diapproval')
        btn.removeAttribute('disabled',true)
        btn.innerText = 'Approve All'
      }
      
     
    }


    async function approve_all()
    {
      const btn = document.querySelector('.apprv')
      btn.setAttribute('disabled',true)
      btn.innerText = 'memproses...'
      const checks = document.querySelectorAll('.check')
      let count = 0 
      let s = 0
      let t = 0
      
        for(let i of checks){
        if(i.checked){
          console.log(i.dataset.key)
          count += await process2(2,i.dataset.key)
          s++
        } else {
          t++
        }
      }

       
      if(count == 0){
        if(t > 0){
          alert('whoops! tidak ada report yang dipilih')
          location.reload()
        } else {
          alert('whoops! proses approval gagal. silakan coba lagi')
          location.reload()
        }
      } else {
        alert(`proses approval ${count} dari ${s} berhasil`)
        location.reload()
      }
      
     
    }

    async function process2(act,val)
    {
       const id = val
       const req = await fetch('{url}dtapi/processreport?id=' + id + '&act=' + act)
       if(req.ok){ 
        return 1
       } else {
        return 0
       }
    }

    async function process(act)
    {
       const id = document.querySelector('#reportId').value
       const req = await fetch('{url}dtapi/processreport?id=' + id + '&act=' + act)
       if(req.ok){
        alert('berhasil memproses laporan')
        location.reload()
       }
    }
  
    async function get_detail(id)
    {
      const hdr = new Headers
      const token = await read_token()
        hdr.append('Authorization',token) 
      document.querySelector('#reportId').value = id
        const req = await fetch('{url}dtapi/reportlist?id=' + id,{
          method: 'GET',
          headers: hdr
        })
        const res = await req.json()
        const dt = document.querySelectorAll('.dt')
        if(req.ok){
            dt.forEach((e)=>{
                if(e.dataset.key == 'ActivityPhoto'){
                  const url = ('{url}').replace('/website','')
                  e.src = url + 'uploads/' + res.data[0][e.dataset.key]
                  
                } else {
                  e.value = res.data[0][e.dataset.key]
                }
            })
        }
    }
    async function load_me()
    {
      $('.table-main').DataTable().destroy()
      document.querySelector('.data').innerHTML = '<tr><td rowspan=12>loading...</td></tr>'
         let url = '{url}dtapi/reportlist'
         const dates = document.querySelectorAll('.dates')
         if(dates[0].value == ''){
          if(dates[1].value == 0){

          } else {
            url = dates[1].value == -1 ? '{url}dtapi/reportlist' :  '{url}dtapi/reportlist?report_status=' + dates[1].value
          }
          
         } else {
          if(dates[1].value == 0){
            url = '{url}dtapi/reportlist?dates=' + dates[0].value
              } else {
                url = dates[1].value == -1 ? '{url}dtapi/reportlist?dates=' + dates[0].value : '{url}dtapi/reportlist?report_status=' + dates[1].value + '&dates=' + dates[0].value
              }
         }

         const fnd = document.querySelector('.finder')
         if(fnd.value != ''){
          url = '{url}dtapi/reportlist?term=' + fnd.value
         }
         
         const hdr = new Headers
         const token = await read_token()
        hdr.append('Authorization',token) 
        const req = await fetch(url,{
          method: 'GET',
          headers: hdr
        })
        const res = await req.json()
        if(req.ok){
            let dt = ''
            let no = 1
            res.data.forEach((e)=>{
                const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
            const status = ['DRAFT','DIAJUKAN','DITERIMA','DITOLAK']
            const hidden = e.ReportStatus == 1 ? '' : 'hidden'
                dt += ` <tr>
            <td>
              <input type="checkbox" class="check ${hidden}" data-key="${e.Id}">
            </td>
            <td style="width: 60px;">${no}</td>
            <td>${(new Date(e.ActivityDate)).toLocaleDateString('id-ID',opt)}</td>
            <td>${e.StartTime}</td>
            <td>${e.EndTime}</td>
            <td>${e.SantriKarya}</td>
            <td>${e.SantriWorkplace}</td>
            <td>${e.SantriDiv}</td>
            <td>${e.SantriDept}</td>
            <td>${e.SantriLiab}</td>
            <td>${e.SantriKP}</td>
            <td>${e.SantriKPP}</td>
            <td>${e.ActivityTitle}</td>
            <td>${status[e.ReportStatus]}</td>
            <td class="text-center">
             <a href="#detail" class="${hidden}" onclick="get_detail(${e.Id})" data-toggle="modal">Detail</a>
            </td>
          </tr>`
          no++
            })
            document.querySelector('.data').innerHTML = dt
           
        } else {
          document.querySelector('.data').innerHTML = ''
        }
        $('.table-main').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
        })
    }

    load_me()

    async function checkAccount()
    {
        const url = '{url}dtapinew/checkuseremail'
      // const url = '{url}dtapinew/checkuseremail?email=radiktya.pratama@dtpeduli.org'
       const hdr = new Headers
       const token = await read_token()
       hdr.append('Authorization',token)
       const req = await fetch(url,{
        header: hdr
       })
       if(req.ok){
         document.querySelector('.apprvd').classList.remove('hidden')
       }
    }

    checkAccount()
</script>

{footer}