{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7 mb-2">
          <h2 class="mb-0">History of Absence (in)</h2>
        </div>
        <div class="col-lg-4 col-md-5 mb-2">
          <div class="form-material">
            
          </div>
        </div>
      </div>
      <div class="mb-2"></div>
      <div class="row align-items-center">
        <div class="col-md-6 mb-2">
          <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
            <i class="ico ico-filter sub"></i> FILTER
          </a>
        </div>
        <!-- <div class="col-md-6 mb-2">
          <div class="add-section">
            <div class="row align-items-center">
              <div class="col-6">
                Add Paid Leave
              </div>
              <div class="col-6 text-right">
                <a href="#add" class="btn btn-success" data-toggle="modal">
                  <i class="ico ico-user-add sub mr-1"></i> Add
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <table id="" class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-2 medium text-center">No</td>
            <td scope="col" class="text-2 medium text-center">Date</td>
            <td scope="col" class="text-2 medium text-center">Time</td>
            <td scope="col" class="text-2 medium text-center">Latitude</td>
            <td scope="col" class="text-2 medium text-center">Longitude</td>
          </tr>
        </thead>
        <tbody class="data">
         
        
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Add Paid Leave</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Reason</label>
          <input type="text" class="form-control" placeholder="Reason">
        </div>
        <div class="form-group">
          <label>Start Date</label>
          <div class="inline-group">
            <input type="text" class="form-control date" placeholder="22 Januari 2022">
            <i class="ico ico-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label>End Date</label>
          <div class="inline-group">
            <input type="text" class="form-control date" placeholder="22 Januari 2022">
            <i class="ico ico-calendar"></i>
          </div>
        </div>
        <div class="text-center">
          <button data-dismiss="modal" class="btn btn-danger btn-lg px-4">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="submit" class="btn btn-success btn-lg px-4">
            <i class="ico ico-save sub mt-1"></i> APPLY
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" class="close">
            <i class="ico ico-back"></i>
          </button>
          <h5 class="modal-title text-primary pl-2">Filter</h5>
    
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <label>Date</label>
              <div class="d-flex align-items-center">
                <div class="w-100">
                  <div class="inline-group">
                    <input type="date" class="form-control dates" placeholder="Start Date">
                    
                  </div>
                </div>
                <div class="ww-01"></div>
                <div class="w-100">
                  <div class="inline-group">
                    <input type="date" class="form-control dates" placeholder="End Date">
                     
                  </div>
                </div>
              </div>
            </div>
    
            <div class="text-center mt-5">
              <button data-dismiss="modal" class="btn btn-danger btn-lg px-4">
                <i class="ico ico-cancel sub mt-1"></i> CANCEL
              </button>
              <button type="button" class="btn btn-success btn-lg px-4" onclick="chk()" data-dismiss="modal">
                <i class="ico ico-filter sub mt-1"></i> APPLY FILTER
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>

<!-- Modal Detail -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Reason Detail</h5>
    </div>
    <div class="modal-body">
      <p class="text-ceter">
        Lorem Ipsum dolor sit amet constecturer. Lorem Ipsum
        dolor sit amet constecturer.
      </p>

    </div>
  </div>
</div>
</div>


<script>

function chk(){
    const dte = document.querySelectorAll('.dates')
    const btn = document.querySelector('.btn-filter')
     let dtes = 0
     for(const item of dte){
       if(item.value == ''){
         dtes++
       }
     }
     if(dtes > 0){
        alert('filter tidak lengkap')
     } else {
       load_me()
     }
  }



    async function load_me()
    {
      const fnd = document.querySelector('.finder')
         if(fnd.value != ''){

          $('.table-main').DataTable().column(1).search(fnd.value).draw()

         } else {
    
          $('.table-main').DataTable().destroy()
      document.querySelector('.data').innerHTML = '<tr><td rowspan=12>loading...</td></tr>'
        let url = '{url}dtapi/getattendance?type=0'
        const tgl = document.querySelectorAll('.dates')
        console.log(tgl[0].value)
        if(tgl[0].value !== '' && tgl[1].value !== ''){
            url = '{url}dtapi/getattendance?type=0&start_date=' + tgl[0].value + '&end_date=' + tgl[1].value
        }

       

        const hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        const req = await fetch(url,{
            headers: hdr
        })
        const res = await req.json()
        if(req.ok){
            
            let dt = ''
            let no = 1
            for(let i of res.data){
                const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                const tgl = (new Date(i.AttendanceDate)).toLocaleDateString('id-ID',opt)
                dt += ` <tr>
                    <td class="text-center" style="width: 60px;">${no}</td>
                    <td class="text-center">${tgl}</td>
                    <td class="text-center">${i.AttendanceTime}</td>
                    <td class="text-center">${i.Latitude}</td>
                    <td class="text-center">${i.Longitude}</td>
                    </tr>`
              no++
            }
            document.querySelector('.data').innerHTML = dt
         
        } else {
          document.querySelector('.data').innerHTML = ''
        }
        $('.table-main').DataTable({
          "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'
        })

      }
 
    }

    load_me()
</script>

{footer}