{header}





<style>
  .hidden {

    display: none
  }

  .auto-list {

    position: relative;

    top: 0;

    border: solid darkblue 1px;

    padding-block-start: 0px;

    z-index: 99999
  }

  .auto-list li {

    list-style-type: none;

    cursor: pointer
  }

  .auto-list li:hover {

    background: gray;

    color: darkblue
  }
</style>



<div class="main-content-inner">

  <div class="main-content-inner-child">

    <div class="row align-items-center">

      <div class="col-lg-8 col-md-7 mb-2">

        <h2 class="mb-0">Daily Report</h2>

      </div>

      <div class="col-lg-4 col-md-5 mb-2">

        <div class="form-material">



        </div>

      </div>

    </div>

    <div class="mb-2"></div>

    <div class="row align-items-center">

      <div class="col-md-6 mb-2">

        <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">

          <i class="ico ico-filter sub"></i> FILTER

        </a>

        <a class="btn btn-primary btn-icon" data-toggle="modal" href="#alert">
          <i class="ico ico-upload mr-2 sub"></i> AJUKAN DRAFT
          <!--HARI INI-->
        </a>

      </div>

      <div class="col-md-6 mb-2">

        <div class="add-section">

          <div class="row align-items-center">

            <div class="col-md-12 text-14 tgl-today">



            </div>

            <div class="col-6">

              Add Daily Report

            </div>

            <div class="col-6 text-right">

              <a href="#add" class="btn-draft btn btn-success" data-toggle="modal" onclick="clear_me()">

                <i class="ico ico-user-add sub mr-1"></i> Add

              </a>

            </div>

          </div>

        </div>

      </div>

    </div>



    <table id="" class="table table-main nowrap" style="width:100%">

      <thead>

        <tr>

          <td scope="col" class="text-2 medium">No</td>

          <td scope="col" class="text-2 medium">Date</td>

          <td scope="col" class="text-2 medium">Type Activity</td>

          <td scope="col" class="text-2 medium">Activity Description</td>

          <td scope="col" class="text-2 medium">Activity</td>

          <td scope="col" class="text-2 medium">Start Time</td>

          <td scope="col" class="text-2 medium">End Time</td>

          <td scope="col" class="text-2 medium">Cost Center</td>

          <td scope="col" class="text-2 medium">Progress</td>

          <td scope="col" class="text-2 medium">Approver</td>

          <td scope="col" class="text-2 medium">Status</td>

          <td scope="col" class="text-2 medium text-center">Action</td>

        </tr>

      </thead>

      <tbody class="data">



      </tbody>

    </table>



  </div>

</div>

</div>

</div>


<!-- Modal Add -->
<div class="modal fade" id="alert" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Ajukan Draft</h5>

      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Apakah yakin akan mengajukan draft?</label>

        </div>
        <div class="mt-5 text-center">
          <button type="button" class="btn btn-danger px-4 mx-2" data-dismiss="modal">
            <i class="ico ico-cancel"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success px-4" onclick="submit_report()" data-dismiss="modal">
            <i class="ico ico-save"></i> SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal Add -->

<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <button data-dismiss="modal" class="close">

          <i class="ico ico-back"></i>

        </button>

        <h5 class="modal-title text-primary pl-2">Entry Daily Report</h5>



      </div>

      <div class="modal-body">

        <form>

          <input type="hidden" name="" id="ReportId">

          <div class="form-daily-report">

            <div class="daily-report mb-5">

              <p>Daily Report 1</p>

              <div class="form-group">

                <label>Type Activity</label>

                <select class="activity form-control act" data-key="ActivityTitle" onchange="get_rid(this.id)"
                  id="activ">

                  <option></option>

                  <option value="Kegiatan Lainnya">Kegiatan Lainnya</option>

                  <option value="Lunch & Sholat">Lunch & Sholat</option>

                </select>

              </div>

              <div class="form-group">

                <label class="salat">Activity Description</label>

                <input type="text" class="form-control act salat" id="alpanumeric" data-key="ActivityNote"
                  placeholder="Activity Description">
                <div class="invalid-feedback">
                  Input karakter tidak diizinan
                </div>

              </div>

              <div class="form-group">

                <label class="salat">Upload Activity</label>

                <div class="custom-file act salat" data-key="file_upload">

                  <input type="file" class="custom-file-input act" data-key="ActivityPhoto" id="uploadActivity"
                    accept=".png,.PNG,.jpg,.JPG,.jpeg,.JPEG">

                  <label class=" custom-file-label" for="uploadActivity">

                    <span class="label-upload">Upload Activity</span>

                  </label>

                </div>

              </div>

              <div class="form-group">

                <label>Date</label>

                <div class="inline-group">

                  <input id="tgl" type="text" class="form-control act blocked" data-key="ActivityDate"
                    placeholder="22 Januari 2022" data-date-end-date="0d">

                  <i class="ico ico-calendar"></i>

                </div>

              </div>

              <div class="form-group">

                <label>Start Time</label>

                <div class="inline-group">

                  <input id="start" type="text" class="form-control act timepick" data-key="StartTime"  autocomplete="off"
                    placeholder="08:00">

                  <i class="ico ico-time"></i>

                </div>

              </div>

              <div class="form-group">

                <label>End Time</label>

                <div class="inline-group">

                  <input id="end" type="text" class="form-control act timepick" data-key="EndTime"  placeholder="08:00" autocomplete="off">

                  <i class="ico ico-time"></i>

                </div>

              </div>

              <div class="form-group ui-front">

                <label class="salat">Cost Centre</label>

                <input type="text" name="" id="" class="form-control costcenter act salat" data-key="CostCenter">

              </div>

              <div class="form-group">

                <label class="salat">Progress</label>

                <input type="text" class="form-control act salat" placeholder="Ex : 50%" data-key="Progress">

              </div>

              <div class="form-group ui-front">

                <label class="salat">Approver<br /><br /><span id="apprv-name"></span></label>

                <input type="hidden" class="form-control approver act salat" data-key="ApprovalUserId" disabled>

              </div>

            </div>

          </div>





          <div class="row justify-content-center mt-4">

            <div class="col-md-8">

              <!-- <button type="button" class="btn btn-primary btn-lg btn-block mb-3 add-form">

              ADD

            </button> -->

              <button type="button" class="btn-save btn btn-outline-primary btn-lg btn-block mb-3" onclick="save_me(0)">

                DRAFT

              </button>

              <!--  <button type="button" data-toggle="modal" data-target="#berhasildiajukan" class="btn btn-warning btn-lg btn-block mb-3" onclick="saveme(1)">

              SUBMIT

            </button> -->

            </div>

          </div>





        </form>

      </div>

    </div>

  </div>



  <script>





    async function block_report_date() {

      const hdr = new Headers

      const token = await read_token()

      hdr.append('Authorization', token)

      const req = await fetch('{url}dtapi/blockreportdate', {

        method: 'GET',

        headers: hdr

      })

      if (req.ok) { } else if (req.status == 500) {

        document.querySelector('.blocked').setAttribute('disabled', 'true')

      }

    }



    block_report_date()

    function get_rid(id) {

      const date = new Date

      const d = date.getDate() < 10 ? '0' + date.getDate() : date.getDate()

      const m = (date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)

      const y = date.getFullYear()

      const h = date.getHours() < 10 ? '0' + date.getHours() : date.getHours()

      const mi = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()

      const opt = document.querySelector('#' + id).value

      const tgl = document.querySelector('#tgl')

      const start = document.querySelector('#start')

      const end = document.querySelector('#end')

      if (opt == 'Kegiatan Lainnya') {

        tgl.value = `${y}-${m}-${d}`

        const now = h + ':' + mi

        if (mi == '12:00') {

          start.value = `13:00`

          end.value = `13:00`

        } else {

          start.value = `${h}:${mi}`

          end.value = `${h}:${mi}`

        }



      } else {

        tgl.value = `${y}-${m}-${d}`

        start.value = `12:00`

        end.value = `13:00`

      }

      const acts = document.querySelectorAll('.act')

      const act_type = document.querySelector('#activ').value

      acts.forEach((e) => {

        if (act_type === 'Lunch & Sholat') {

          if (e.classList.contains('salat')) {

            e.classList.add('hidden')

          } else {

          }

        } else {

          e.classList.remove('hidden')

        }

      })

      const salat = document.querySelectorAll('.salat')

      salat.forEach((e) => {

        if (act_type === 'Lunch & Sholat') {

          if (e.classList.contains('salat')) {

            e.classList.add('hidden')

          } else {

          }

        } else {

          e.classList.remove('hidden')

        }

      })

    }

    function sendme(id, val) {

      document.querySelector('#' + id).value = val;

      kill_me(id)

    }



    async function submit_report() {

      const hdr = new Headers

      const token = await read_token()

      hdr.append('Authorization', token)

      const req = await fetch('{url}dtapi/applyreport', {

        headers: hdr

      })

      const res = await req.json()

      if (req.ok) {

        alert('Laporan Harian Draft berhasil diajukan')

        location.reload()

      } else {

        alert(res.message)

      }

    }





    async function edit_me(id) {

      document.querySelector('#ReportId').value = id

      const req = await fetch('{url}dtapi/getdailyreportbyid?id=' + id)

      const res = await req.json()

      if (req.ok) {

        const acts = document.querySelectorAll('.act')

        const act_type = res.data[0].ActivityTitle

        acts.forEach((e) => {

          if (act_type === 'Lunch & Sholat') {

            if (e.classList.contains('salat')) {

              e.classList.add('hidden')

            } else {

              if (e.dataset.key == 'file_upload' || e.dataset.key == 'ActivityPhoto') {



              } else {

                if (e.dataset.key == 'ActivityTitle') {

                  e.value = res.data[0][e.dataset.key]

                  $('.activity').trigger('change')

                } else {

                  e.value = res.data[0][e.dataset.key]

                }



              }

            }

          } else {

            e.classList.remove('hidden')

            if (e.dataset.key == 'file_upload' || e.dataset.key == 'ActivityPhoto') {



            } else {

              if (e.dataset.key == 'ActivityTitle') {

                e.value = res.data[0][e.dataset.key]

                $('.activity').trigger('change')

              } else {

                e.value = res.data[0][e.dataset.key]

              }

            }

          }

        })

        $('#tgl').datepicker({

          format: 'yyyy-mm-dd'

        });

        let curr = (new Date()).toISOString()

        $('#tgl').datepicker('update', curr)

      }

    }





    async function clear_me() {

      document.querySelector('#ReportId').value = ''

      const act = document.querySelectorAll('.act')

      act.forEach((e) => {

        if (e.dataset.key === 'ApprovalUserId') { }

        else {

          e.value = ''

        }

      })

      $('#tgl').datepicker({

        format: 'yyyy-mm-dd'

      });

      let curr = (new Date()).toISOString()

      $('#tgl').datepicker('update', curr)

    }



  </script>



</div>



<!-- Modal save draft -->

<div class="modal fade" id="savedraft" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-sm modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <button data-dismiss="modal" class="close">

          <i class="ico ico-back"></i>

        </button>

        <h5 class="modal-title text-primary pl-2">Information</h5>

      </div>

      <div class="modal-body">

        <p class="text-center">

          Laporan Harian berhasil disimpan menjadi draft.

        </p>



        <div class="mt-5 text-center">

          <button class="btn btn-primary px-5 btn-lg" data-dismiss="modal" onclick="reloadme()">MENGERTI</button>

        </div>

      </div>

    </div>

  </div>

</div>



<!-- Modal berhasil di ajukan -->

<div class="modal fade" id="berhasildiajukan" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-sm modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <button data-dismiss="modal" class="close">

          <i class="ico ico-back"></i>

        </button>

        <h5 class="modal-title text-primary pl-2">Information</h5>

      </div>

      <div class="modal-body">

        <p class="text-ceter">

          Laporan Harian berhasil diajukan.

        </p>



        <div class="mt-5 text-center">

          <button class="btn btn-primary px-5 btn-lg" data-dismiss="modal">MENGERTI</button>

        </div>

      </div>

    </div>

  </div>

</div>



<!-- Modal activity -->

<div class="modal fade" id="activity" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-sm modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <button data-dismiss="modal" class="close">

          <i class="ico ico-back"></i>

        </button>

        <h5 class="modal-title text-primary pl-2">Activity</h5>

      </div>

      <div class="modal-body">

        <div class="text-center">

          <img id="act-photo" src="" style="width: 40%" alt="">

        </div>

      </div>

    </div>

  </div>

</div>





<!-- Modal activity -->

<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-sm modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <button data-dismiss="modal" class="close">

          <i class="ico ico-back"></i>

        </button>

        <h5 class="modal-title text-primary pl-2">Detail Activity</h5>

      </div>

      <div class="modal-body">

        <div class="text-center" id="act-detail">



        </div>

      </div>

    </div>

  </div>

</div>



<!-- Modal Filter -->

<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">

        <button data-dismiss="modal" class="close">

          <i class="ico ico-back"></i>

        </button>

        <h5 class="modal-title text-primary pl-2">Filter</h5>



      </div>

      <div class="modal-body">

        <form action="#">

          <div class="form-group">

            <label>Date</label>

            <div class="d-flex align-items-center">

              <div class="w-100">

                <div class="inline-group">

                  <input type="date" class="form-control dates" placeholder="Start Date">

                </div>

              </div>

              <div class="ww-01"></div>

              <div class="w-100">

                <div class="inline-group">

                  <input type="date" class="form-control dates" placeholder="End Date">

                </div>

              </div>

            </div>

          </div>



          <div class="text-center mt-5">

            <button type="button" class="btn btn-success btn-lg px-4" onclick="load_me()" data-dismiss="modal">

              <i class="ico ico-filter sub mt-1"></i> APPLY FILTER

            </button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>





<script>



  /* $('.activity').select2({

     theme: 'bootstrap4 main-form-control',

     placeholder: "Select Activity",

     minimumResultsForSearch: -1

   });



   $('.cost-center').select2({

     theme: 'bootstrap4 main-form-control',

     placeholder: "Select Cost Centre",

     minimumResultsForSearch: -1

   }); */

  $(function () {
    $("#alpanumeric").keypress(function (e) {
      var keyCode = e.keyCode || e.which;

      $(".invalid-feedback").hide();

      //Regex for Valid Characters i.e. Alphabets and Numbers.
      var regex = /^[a-z\d\-_\s]+$/i;

      //Validate TextBox value against the Regex.
      var isValid = regex.test(String.fromCharCode(keyCode));
      if (!isValid) {
        $(".invalid-feedback").show();
      }

      return isValid;
    });
  });

  const options = {
    source: async (req, res) => {



      let hdr = new Headers

      const token = await read_token()

      hdr.append('Authorization', token)

      let q = await fetch('{url}dtapi/getcostcenter?term=' + req.term, {

        method: 'GET',

        headers: hdr

      })

      let r = await q.json()

      if (q.ok) {

        let data = []

        r.data.forEach((e) => {

          let obj = {

            label: e.Caption,

            value: e.Caption

          }

          data.push(obj)

        })

        console.log(data)

        res(data)

      }





    },

    minLength: 1
  }







  $('.costcenter').autocomplete(options)



  const options2 = {
    source: async (req, res) => {



      let hdr = new Headers

      const token = await read_token()

      hdr.append('Authorization', token)

      let q = await fetch('{url}dtapi/getapprovalofficer?term=' + req.term, {

        method: 'GET',

        headers: hdr

      })

      let r = await q.json()

      if (q.ok) {

        let data = []

        r.data.forEach((e) => {

          let obj = {

            label: e.RealName,

            value: e.Id

          }

          data.push(obj)

        })



        res(data)

      }





    },

    minLength: 1
  }



  // $('.approver').autocomplete(options2)



  async function load_approver() {

    document.querySelector('#apprv-name').innerHTML = ''

    let hdr = new Headers

    const token = await read_token()

    hdr.append('Authorization', token)

    let q = await fetch('{url}dtapi/getapprovalofficer', {

      method: 'GET',

      headers: hdr

    })

    let r = await q.json()

    if (q.ok) {

      document.querySelector('.approver').value = r.data[0].Id

      document.querySelector('#apprv-name').innerHTML = r.data[0].RealName

    }

  }



  load_approver()



  var count = 2;



  async function call_me(id) {

    const elem = document.querySelector('.' + id)

    const term = document.querySelector('#' + id).value

    let hdr = new Headers

    const token = await read_token()

    hdr.append('Authorization', token)

    let q = await fetch('{url}dtapi/getcostcenter?term=' + term, {

      method: 'GET',

      headers: hdr

    })

    let r = await q.json()

    if (q.ok) {

      let data = ''

      r.data.forEach((e) => {

        data += '<li onclick="sendme(\'' + id + '\',\'' + e.Caption + '\')">' + e.Caption + '</li>'

      })



      if (data !== '') {

        elem.innerHTML = data

        elem.classList.remove('hidden')

      }



    }

  }



  function kill_me(id) {

    const elem = document.querySelector('.' + id)

    elem.classList.add('hidden')

  }



  function reloadme() {

    location.reload()

  }









  function addform() {

    var x = $('.daily-report').length;

    var tmp = '<div class="daily-report mb-5">' +

      '<p>Daily Report ' + count++ + '</p>' +

      '<div class="form-group">' +

      '<label>Type Activity</label>' +

      '<select class="activity">' +

      '<option></option>' +

      '<option value="Lorem">Lorem</option>' +

      '<option value="Ipsum">Ipsum</option>' +

      '<option value="Dolor">Dolor</option>' +

      '<option value="sit amet">sit amet</option>' +

      '</select>' +

      '</div>' +

      '<div class="form-group">' +

      '<label>Activity Description</label>' +

      '<input type="text" class="form-control" placeholder="Activity Description">' +

      '</div>' +

      '<div class="form-group">' +

      '<label>Upload Activity</label>' +

      '<div class="custom-file">' +

      '<input type="file" class="custom-file-input" id="uploadActivity-' + x + '">' +

      '<label class="custom-file-label" for="uploadActivity-' + x + '"></label>' +

      '</div>' +

      '</div>' +

      '<div class="form-group">' +

      '<label>Date</label>' +

      '<div class="inline-group">' +

      '<input type="date" class="form-control date" placeholder="22 Januari 2022">' +

      ' <i class="ico ico-calendar"></i>' +

      '</div>' +

      '</div>' +

      '<div class="form-group">' +

      '<label>Start Time</label>' +

      '<div class="inline-group">' +

      '<input type="text" class="form-control" placeholder="08:00">' +

      '<i class="ico ico-time"></i>' +

      '</div>' +

      '</div>' +

      '<div class="form-group">' +

      '<label>End Time</label>' +

      '<div class="inline-group">' +

      '<input type="text" class="form-control" placeholder="08:00">' +

      '<i class="ico ico-time"></i>' +

      '</div>' +

      '</div>' +

      '<div class="form-group">' +

      '<label>Cost Centre</label>' +

      '<input type="text" class="form-control" oninput="call_me(this.id)" id="cc-' + count + '"/>' +

      ' <ul class="hidden auto-list cc-' + count + '"></ul></div>' +

      ' <div class="form-group">' +

      ' <label>Progress</label>' +

      ' <input type="text" class="form-control" placeholder="Ex : 50%">' +

      '</div>' +

      '<div class="form-group">' +

      '<label>Approver</label>' +

      ' <input type="text" class="form-control" placeholder="Radikyta">' +

      '</div>' +

      '</div>';

    $('.form-daily-report').append(tmp);





  }



function save_me(tipe)
{
   const tgl = document.querySelector('#tgl').value
   const start_time = document.querySelectorAll('.timepick')[0].value
   const end_time = document.querySelectorAll('.timepick')[1].value
   const awal = Date.parse(`${tgl} ${start_time}`)
   const akhir = Date.parse(`${tgl} ${end_time}`)
   const limit_12 = Date.parse(`${tgl} 12:01`)
   const limit_17 = Date.parse(`${tgl} 17:01`) 
   if((awal <= limit_12 && akhir >= limit_12)){
     alert('whoops! input jam tidak sesuai, melewati jam istirahat')
   } else if((awal <= limit_17 && akhir >= limit_17)){
     alert('whoops! input jam tidak sesuai, melewati jam pulang')
   } else {
     saveme(tipe)
   }
}


  async function saveme(tipe) {

    const acts = document.querySelectorAll('.act')

    const hdr = new Headers

    const token = await read_token()

    hdr.append('Authorization', token)

    const act_type = document.querySelector('#activ').value

    const fd = new FormData

    let empty = 0

    const empties = []

    let files = ''

    acts.forEach((e) => {

      if (act_type === 'Lunch & Sholat') {

        if (e.classList.contains('salat')) {

        } else {

          fd.append(e.dataset.key, e.value)

        }

      } else {



        const ids = document.querySelector('#ReportId').value



        if (ids == '') {

          //add



          if (e.dataset.key == 'CostCenter' && e.value == '') { }

          else if (e.dataset.key == 'file_upload') { }

          else if (e.dataset.key == 'ActivityPhoto' && e.files.length == 0) {

            empty++

            empties.push(e.dataset.key)

            console.log(e.dataset.key)

          } else if (e.dataset.key != 'CostCenter' && e.dataset.key != 'ActivityPhoto') {

            if (e.value == '') {

              empty++

              empties.push(e.dataset.key)

              console.log(e.dataset.key)

            } else {

              fd.append(e.dataset.key, e.value)

              console.log(e.dataset.key + '/' + e.value)

            }

          } else if (e.dataset.key === 'ActivityPhoto' && e.files.length > 0) {

            fd.append(e.dataset.key, e.files[0])

            console.log(e.files)

            files = e.files[0].type

          }





        } else {

          //edit



          if (e.dataset.key == 'CostCenter' && e.value == '') { }

          else if (e.dataset.key == 'file_upload') { }

          else if (e.dataset.key == 'ActivityPhoto') {

            if (e.files.length > 0) {

              fd.append(e.dataset.key, e.files[0])

              console.log(e.files)

              files = e.files[0].type

            }

          } else {

            if (e.value == '') {

              empty++

              empties.push(e.dataset.key)

              console.log(e.dataset.key)

            } else {

              fd.append(e.dataset.key, e.value)

            }

          }





        }









      }



    })

    fd.append('ReportStatus', tipe)



    if (empty == 0) {



      if (act_type == 'Lunch & Sholat') {

        const btnsave = document.querySelector('.btn-save')





        const ids = document.querySelector('#ReportId').value

        let url = ids !== '' ? '{url}dtapi/dailyreportupdate?id=' + ids : '{url}dtapi/dailyreportsend'

        const req = await fetch(url, {

          body: fd,

          method: 'POST',

          headers: hdr

        })

        const res = await req.json()

        if (req.ok) {

          btnsave.dataset.toggle = 'modal'

          btnsave.dataset.target = '#savedraft'

          $('#savedraft').modal('show')

        } else {

          if (req.status == 403) {

            alert('whoops! kegiatan di jam ini sudah ada')

          }

        }

      } else {

        if (files == 'image/png' || files == 'image/jpg' || files == 'image/jpeg') {

          const btnsave = document.querySelector('.btn-save')



          const ids = document.querySelector('#ReportId').value

          let url = ids !== '' ? '{url}dtapi/dailyreportupdate?id=' + ids : '{url}dtapi/dailyreportsend'

          const req = await fetch(url, {

            body: fd,

            method: 'POST',

            headers: hdr

          })

          const res = await req.json()

          if (req.ok) {

            btnsave.dataset.toggle = 'modal'

            btnsave.dataset.target = '#savedraft'

            $('#savedraft').modal('show')

          } else {

            if (req.status == 403) {

              alert('whoops! kegiatan di jam ini sudah ada')

            }

          }

        } else {

          alert('whoops! format file salah')

        }

      }

    } else {

      let empt = ''

      empties.forEach((e) => {

        empt += `${e} tidak boleh kosong,`

      })

      alert(empt)

    }





  }



  function see_photo(id) {

    document.querySelector('#act-photo').src = id.dataset.photo

  }



  function see_detail(id) {

    document.querySelector('#act-detail').innerHTML = id.dataset.src

  }



  async function load_me() {

    $('.table-main').DataTable().destroy()

    document.querySelector('.data').innerHTML = '<tr><td rowspan=12>loading...</td></tr>'

    const dates = document.querySelectorAll('.dates')

    let url = '{url}dtapi/dailyreporthist'

    console.log(dates[0].value + '//' + dates[1].value)

    if (dates[0].value != '' && dates[1].value != '') {

      url = '{url}dtapi/dailyreporthist?date_start=' + dates[0].value + '&date_end=' + dates[1].value

    }



    const fnd = document.querySelector('.finder')

    if (fnd.value != '') {

      url = '{url}dtapi/dailyreporthist?term=' + fnd.value

    }

    const hdr = new Headers

    const token = await read_token()

    hdr.append('Authorization', token)

    const req = await fetch(url, {

      method: 'GET',

      headers: hdr

    })

    const res = await req.json()

    if (req.ok) {

      let rows = ''

      let no = 1

      const urls = ('{url}').replace('/website', '')

      for (let row of res.data) {

        const hidden = row.ReportStatus == 'DRAFT' ? '' : 'hidden'

        rows += ` <tr>

            <td style="width: 60px;">${no}</td>

            <td>${row.ActivityDate}</td>

            <td>${row.ActivityTitle}</td>

            <td><a href="#detail" onclick="see_detail(this)" data-toggle="modal" data-src="${row.ActivityNote}">Detail</a></td>

            <td>

              <a href="#activity" onclick="see_photo(this)"  data-toggle="modal" data-photo="${urls}uploads/${row.ActivityPhoto}">

                <img src="${urls}uploads/${row.ActivityPhoto}" style="width: 25%" alt="">

              </a>

            </td>

            <td>${row.StartTime}</td>

            <td>${row.EndTime}</td>

            <td>${row.CostCenter}</td>

            <td>${row.Progress}</td>

            <td>${row.Approver}</td>

            <td>${row.ReportStatus}</td>

            <td class="text-center">

              <a href="#add" data-toggle="modal" class="${hidden}" onclick="edit_me(${row.Id})">

                    <i class="ico ico-pencil ico-warning"></i>

                  </a>

                  <a onclick="destroy(${row.Id})" class="${hidden}" style="cursor: pointer"> <i class="ico ico-trash ico-danger"></i>

                  </a>

            </td>

          </tr>`

        no++

      }

      if (res.data.length == 0) {

        document.querySelector('.data').innerHTML = '<tr><td rowspan=12>no data</td></tr>'

      } else {

        document.querySelector('.data').innerHTML = rows

      }

    } else {

      document.querySelector('.data').innerHTML = ''

    }





    $('.table-main').DataTable({

      "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>'

    })

  }

  load_me()



  async function destroy(id) {

    const ask = confirm('yakin akan menghapus?')

    if (ask) {

      const req = await fetch('{url}dtapi/deldailyreport?id=' + id)

      const res = await req.json()

      if (req.ok) {

        alert('berhasil menghapus laporan')

        location.reload()

      } else {

        alert(e.message)

      }

    }



  }

 
  const today = (new Date()).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })

  document.querySelector('.tgl-today').innerHTML = today


 $('.timepick').timepicker()

</script>





<script>

  let killed = true

  async function killDraft() {

    const hdr = new Headers

    const token = await read_token()

    hdr.append('Authorization', token)

    const req = await fetch('{url}dtapi/unblockdraft', {

      method: 'GET',

      headers: hdr

    })

    const res = await req.json()

    if (req.ok) {

      killed = false

    }

    const btn_draft = document.querySelector('.btn-draft')

    if (killed) {

      btn_draft.removeAttribute('data-toggle')

      btn_draft.setAttribute('title', 'semua draft hari ini sudah diajukan')

    } else {

      btn_draft.setAttribute('data-toggle', 'modal')

      btn_draft.removeAttribute('title')

    }

    setInterval(killDraft, (30 * 60 * 1000))

  }



  killDraft()







</script>



{footer}