
  
  <!-- <script>
      Highcharts.chart('digitalgrowth', {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
  
        xAxis: {
          categories: [
            '41-50',
            '51-60',
            '61-70',
            '71-80',
            '81-90',
            '91-100'
          ],
          crosshair: true
        },
        yAxis: {
          min: 0,
          title: {
            text: ''
          }
        },
        credits: {
          enabled: false
        },
        legend: {
          align: 'left',
          verticalAlign: 'top',
          itemMarginTop: 10,
          itemMarginBottom: 10
        },
        tooltip: {
          headerFormat: '<b>{point.x}</b><br/>',
          pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
          column: {
            stacking: 'normal',
            dataLabels: {
              enabled: false
            }
          }
        },
        series: [{
          name: 'John',
          data: [5, 3, 4, 7, 2]
        }, {
          name: 'Jane',
          data: [2, 2, 3, 2, 1]
        }, {
          name: 'Joe',
          data: [3, 4, 4, 2, 5]
        }, {
          name: 'Lie',
          data: [4, 6, 2, 1, 3]
        }]
      });
  
      Highcharts.chart('customerrelation', {
        chart: {
          type: 'bar'
        },
        title: {
          text: ''
        },
  
        xAxis: {
          categories: ['1) 0 to 6 Days', '2) 7 to 13 Days', '3) 14 to 20 Days', '4) Over 21 Days'],
          title: {
            text: null
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: '',
          },
        },
        tooltip: {
          valueSuffix: ' millions'
        },
        plotOptions: {
          bar: {
            dataLabels: {
              enabled: true
            }
          }
        },
        legend: {
          align: 'left',
          verticalAlign: 'top',
          itemMarginTop: 10,
          itemMarginBottom: 10
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'Business',
          data: [107, 31, 33, 91]
        }, {
          name: 'Coach',
          data: [133, 156, 89, 34]
        },
        ]
      });
  
  
      Highcharts.chart('corporateGraphic', {
        chart: {
          type: 'column'
        },
        title: {
          align: 'left',
          text: 'Sales'
        },
        subtitle: {
          align: 'left',
          text: 'BY PERIODE'
        },
        xAxis: {
          categories: ['Q4 12', 'Q1 13', 'Q2 13', 'Q3 13', 'Q4 13']
        },
        yAxis: {
          title: {
            text: '',
          },
        },
        legend: {
          enabled: false
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'John',
          data: [5, 3, -1, -6, -9]
        }]
      });
    </script> -->
  <script>
      let user_id = 0

      async function get_profile()
      {
          const token = await read_token()
          let hdr = new Headers
          hdr.append('Authorization',token)
          let q = await fetch('{url}dtapi/getprofile',{
              method: 'GET',
              headers: hdr
          })
          let r = await q.json()
          if(q.ok){
              document.querySelector('#profiles').innerText = r.data[0].RealName
              let emp_status = r.data.EmpData[0].Liability
              if(emp_status != 'STAFF'){
                document.querySelector('#approval').classList.remove('hidden')
              } 
              user_id = r.data[0].Id
              await loadPic()
          } else  {
              alert(r.message)
              location.href = '{url}intranet/login'
          }  
      }
  

      function checkSession()
      {
        const loc_data = localStorage.getItem('dtpedl_user_id')
                if(loc_data == undefined){
                    location.href = 'https://login.dtpeduli.org'
                } else { 
                  get_profile()
                }
      }

      checkSession()
     

      async function loadProfile()
      {
        const fd = new FormData
        fd.append('Pic',document.querySelector('#prof-pic').files[0])
        const req = await fetch('{url}dtapi/getprofpic?id=' + user_id,{
          method: 'POST',
          body: fd
        })
        const res = await req.json()
        if(req.ok){
          const pic = document.querySelectorAll('.usr-pic') 
          for(const row of pic){
            const urls = ('{url}').replace('/website','')
            row.src = urls + 'uploads/' + res.data
          }
        }
      }

      async function loadPic()
      {
        const req = await fetch('{url}dtapi/getpicprof?id=' + user_id)
        const res = await req.json()
        if(req.ok){
          const pic = document.querySelectorAll('.usr-pic')
          for(const row of pic){
            const url = ('{url}').replace('/website','')
            row.src = url + '/uploads/' + res.data[0].Pic
          }
        }
      }

      async function updateMe()
      {
        const pwd = document.querySelectorAll('.pwd')
        if(pwd[0].value == pwd[1].value){
          const fd = new FormData
          fd.append('passwd',pwd[0].value)
          const req = await fetch('{url}dtapi/chown?id=' + user_id,{
            method: 'POST',
            body: fd
          })
          if(req.ok){
            alert('password berhasil diubah')
            location.reload()
          }
        } else {
          alert('whoops! password tidak cocok')
        }
      }
  
      async function showButton()
      {
        const header = new Headers
        const token = await read_token()
        header.append('Authorization',token)
        const req = await fetch('{url}dtapi/accesserp',{
          method: 'GET',
          headers: header
        })
        const res = await req.json()
        if(req.ok){
          document.querySelector('.open-erp').classList.remove('hidden')
        }
      }

      showButton()

  </script>
  </body>
  
  </html>