{header}
 
</style>

<div class="main-content-inner">
  <div class="main-content-inner-child">
    <h2 class="mb-5">Attendance and Daily Report</h2>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="row align-items-center">
          <div class="col-sm-6 mb-4">
            <img src="{url}views/intranet/dist/images/clock.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-sm-6 mb-4">
            <form action="#">
              <div class="text-center text-primary">
                <h4 id="day"></h4>
                <p>07.30 - 17.00</p>
                <div class="d-flex h3 justify-content-center ">
                  <div id="time">--;--</div>
                  <div class="px-4">|</div>
                  <div id="time2">--;--</div>
                </div>
                <div class="my-4 unattend hidden">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="wfh" name="customRadioInline" class="custom-control-input">
                    <label class="custom-control-label text-primary font-weight-bold" for="wfh">WFH</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="wfo" name="customRadioInline" class="custom-control-input" checked>
                    <label class="custom-control-label text-primary font-weight-bold" for="wfo">WFO</label>
                  </div>
                </div>
                <button type="button" onclick="attend()" class="btn-attend btn btn-warning btn-lg">ABSEN MASUK SEKARANG</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        
      </div>
    </div>
    <div class="wgt">
      <div class="col-wgt">
        <p>Total
          Pengumuman</p>
        <div class="c-over">
         -
        </div>
      </div>
      <div class="col-wgt">
        <p>Sisa Cuti</p>
        <div class="c-over">
         -
        </div>
      </div>
      <div class="col-wgt">
        <p>Pengajuan
          Izin Sakit</p>
        <div class="c-over">
          -
        </div>
      </div>
      <div class="col-wgt">
        <p>Pengajuan
          Izin Lainnya</p>
        <div class="c-over">
          -
        </div>
      </div>
      <div class="col-wgt">
        <p>
          Pengajuan
          Lembur
        </p>
        <div class="c-over">
          -
        </div>
      </div>
      <div class="col-wgt wgt-lg">
        <p>
          Laporan
          Harian
        </p>
        <div class="c-over lh">
          <div id="dr-date"></div>
          <div>Status   :   <span id="dr-stat"></span></div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<script>
  let leave = false
  let times = ''
  function get_clock()
  {
    const dt = new Date
    const days = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
    const day = days[dt.getDay()]
    const date = dt.getDate()
    const months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
    const month = months[dt.getMonth()]
    const year = dt.getUTCFullYear()
    const hour = (dt.getHours() < 10) ? '0' + dt.getHours() : dt.getHours()
    const minute = (dt.getMinutes() < 10) ? '0' + dt.getMinutes() : dt.getMinutes()
    const second = (dt.getSeconds() < 10) ? '0' + dt.getSeconds() : dt.getSeconds()
    const mo = ((dt.getMonth() + 1) < 10) ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)
    const dte = (dt.getDate() < 10) ? '0' + dt.getDate() : dt.getDate()
    times = hour + ':' + minute + ':' + second
    document.querySelector('#day').innerText = `${day}, ${date} ${month} ${year}` 
  }

  get_clock()

  async function check_attend()
  {
    
    const d = new Date
    const date = (d.getDate() < 10) ? '0' + d.getDate() : d.getDate()
    const month = (d.getMonth() + 1) < 10 ? '0' + (d.getMonth() + 1) : (d.getMonth() + 1)
    const year = d.getUTCFullYear()
    let today = year + '-' + month + '-' + date

    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization',token)
    const req = await fetch('{url}dtapi/attendancehist?start_date=' + today + '&end_date=' + today,{
      method: 'GET',
      headers: hdr
    })
    const res = await req.json()
    if(req.ok){
     
       if(res.data[0].OfficeOut === undefined){
        leave = true
        const worktype = res.data[0].OfficeIn.WorkingType

        document.querySelector('#' + worktype).setAttribute('checked','true')
         
       document.querySelector('#time').innerText = (res.data[0].OfficeIn.AttendanceTime).substring(0,5) 
       document.querySelector('.btn-attend').innerText = 'ABSEN PULANG SEKARANG'
       } else {
        document.querySelector('#time').innerText = (res.data[0].OfficeIn.AttendanceTime).substring(0,5)
        document.querySelector('#time2').innerText = (res.data[0].OfficeOut.AttendanceTime).substring(0,5)
          document.querySelector('.btn-attend').setAttribute('disabled','true')
       }
 
      
    } else {
      document.querySelector('.unattend').classList.remove('hidden');
    }
  }
  check_attend()

  async function attend()
  {
    /* times */
    const dt = new Date
    const hour = (dt.getHours() < 10) ? '0' + dt.getHours() : dt.getHours()
    const minute = (dt.getMinutes() < 10) ? '0' + dt.getMinutes() : dt.getMinutes()
    const second = (dt.getSeconds() < 10) ? '0' + dt.getSeconds() : dt.getSeconds()
    times = hour + ':' + minute + ':' + second
    /* times */
    const fd = new FormData
    const type = (document.querySelector('#wfo').checked) ? 'wfo' : 'wfh'
    const attends = leave ? 1 : 0

    localStorage.removeItem('attendace')
    const data = {
                action: 'edit',
                module: 'attendance',
                data: {
                  WorkingType: type,
                  AttendanceType: attends,
                  AttendanceTime: times
                }
          }
   localStorage.setItem(data.module, JSON.stringify(data))

   // fd.append('WorkingType',type)
   // fd.append('AttendanceType',attends)
  //  fd.append('AttendanceTime',times)
  //  const hdr = new Headers
  //  hdr.append('Authorization','{token}')

  /*  const req = await fetch('{url}dtapi/memberattendance',{
      method: 'POST',
      body: fd,
      headers: hdr
    })
    const res = await req.json()
    if(req.ok){ */

      if(!leave){ 
      location.href = '{url}intranet/maps'
      } else { 
       location.href = '{url}intranet/maps2'
      }

  //  }
  }

  async function check_dr()
  {
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization',token)
    const req = await fetch('{url}dtapi/getalldailyreportstatus',{
      headers: hdr
    })
    const res = await req.json()
    if(req.ok){
      const opt = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
      document.querySelector('#dr-date').innerHTML = (new Date(res.data.Today)).toLocaleDateString('id-Id',opt)
      document.querySelector('#dr-stat').innerHTML = res.data.ReportStatus
    }
  }

  check_dr()

</script>

{footer}