{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <h2 class="mb-5">Attendance Kajian</h2>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="row align-items-center">
            <div class="col-sm-6 mb-4">
              <img src="{url}views/intranet/dist/images/clock.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-sm-6 mb-4">
              <form action="#">
                <div class="text-center text-primary">
                    <h4 id="day"></h4>
                    <p>07.30 - 17.00</p>
                    <div class="d-flex h3 justify-content-center ">
                      <div id="time">--;--</div>
                      <div class="px-4">|</div>
                      <div id="time2">--;--</div>
                  </div>
                  <button type="button" class="btn-kajian btn btn-warning btn-lg mt-4" onclick="check_absen()">ABSEN MASUK SEKARANG</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- Modal Sukses -->
<div class="modal fade" id="sukses" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header pt-0">
      <button data-dismiss="modal" class="close close-right">
        <i class="ico ico-close"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="{url}views/intranet/dist/images/icons/icon-check.svg" alt="">

        <h3 class="text-primary mt-4">Absen Kajian Berhasil</h3>
      </div>
    </div>
  </div>
</div>
</div>

<script>
     function get_clock()
  {
    const dt = new Date
    const days = ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
    const day = days[dt.getDay()]
    const date = dt.getDate()
    const months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
    const month = months[dt.getMonth()]
    const year = dt.getUTCFullYear()
    const hour = (dt.getHours() < 10) ? '0' + dt.getHours() : dt.getHours()
    const minute = (dt.getMinutes() < 10) ? '0' + dt.getMinutes() : dt.getMinutes()
    const second = (dt.getSeconds() < 10) ? '0' + dt.getSeconds() : dt.getSeconds()
    const mo = ((dt.getMonth() + 1) < 10) ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)
    const dte = (dt.getDate() < 10) ? '0' + dt.getDate() : dt.getDate()
    times = hour + ':' + minute + ':' + second
    document.querySelector('#day').innerText = `${day}, ${date} ${month} ${year}` 
  }

  get_clock()

  let leave = 0

  async function load_absen()
  {
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization',token)
    const tgl = (new Date()).toISOString().split('T')[0]
        const req = await fetch('{url}dtapinew/absenkajian?tgl=' + tgl,{
        method: 'POST',
        headers: hdr
    })
    const res = await req.json()
    if(req.ok){
        for(let row of res.data){
            if(row.AbsenType == 'in'){
                document.querySelector('#time').innerHTML = row.AbsenTime
                document.querySelector('.btn-kajian').innerHTML = 'ABSEN PULANG SEKARANG'
                leave = 1
            } else if(row.AbsenType == 'out'){
                document.querySelector('#time2').innerHTML = row.AbsenTime
                document.querySelector('.btn-kajian').setAttribute('disabled','true')
            }  
        }
    }
  }

  load_absen()

  async function check_absen()
  {
    document.querySelector('.btn-kajian').setAttribute('disabled','true')
    document.querySelector('.btn-kajian').innerHTML = 'mengirim...'
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization',token)
    const fd =  new FormData
    fd.append('AbsenTgl',(new Date()).toISOString())
    fd.append('AbsenTime',(new Date()).toLocaleTimeString())
    fd.append('AbsenType',(leave == 0) ? 'in' : 'out')
    const req = await fetch('{url}dtapinew/absenkajianadd',{
        method: 'POST',
        headers: hdr,
        body: fd
    })
    const res = await req.json()
    if(req.ok){ 
        for(let row of res.data){
            if(row.AbsenType == 'in'){
                document.querySelector('#time').innerHTML = row.AbsenTime
                document.querySelector('.btn-kajian').removeAttribute('disabled')
                document.querySelector('.btn-kajian').innerHTML = 'PULANG SEKARANG'
                leave = 1
            } else if(row.AbsenType == 'out'){
                document.querySelector('#time2').innerHTML = row.AbsenTime
                document.querySelector('.btn-kajian').setAttribute('disabled','true')
                document.querySelector('.btn-kajian').innerHTML = 'PULANG SEKARANG'
            }  
        }
        $('#sukses').modal('show')
    }
  }
   
</script>

{footer}