{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7 mb-2">
          <h2 class="mb-0">Attendance Out Kajian</h2>
        </div>
        <div class="col-lg-4 col-md-5 mb-2">
          <div class="form-material">
           
          </div>
        </div>
      </div>
       
      <div class="row align-items-center">
        <div class="col-md-6 mb-2">
          <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal">
            <i class="ico ico-filter sub"></i> FILTER
          </a>
        </div>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-2 medium text-center">No</td>
            <td scope="col" class="text-2 medium text-center">Date</td>
          </tr>
        </thead>
        <tbody>
         <!--<tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">Senin, 23 Maret 2022</td>
          </tr>-->

        </tbody>
      </table>

    </div>
  </div>
</div>
</div>
<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      

        <div class="form-group">
          <label>Start Date</label>
          <div class="inline-group">
            <input type="text" class="form-control date" placeholder="Start Date">
            <i class="ico ico-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label>End Date</label>
          <div class="inline-group">
            <input type="text" class="form-control date" placeholder="End Date">
            <i class="ico ico-calendar"></i>
          </div>
        </div>

        <div class="text-center mt-5">
          <button data-dismiss="modal" class="btn btn-danger btn-lg px-4">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" class="btn btn-success btn-lg px-4" data-dismiss="modal" onclick="chk()">
            <i class="ico ico-filter sub mt-1"></i> APPLY FILTER
          </button>
        </div>
     
    </div>
  </div>
</div>
</div>

<script>


function chk(){
    const dte = document.querySelectorAll('.date')
    const btn = document.querySelector('.btn-filter')
     let dtes = 0
     for(const item of dte){
       if(item.value == ''){
         dtes++
       }
     }
     if(dtes > 0){
        alert('filter tidak lengkap')
     } else {
       load_me()
     }
  }

  let dt = ''
   async function load_me()
  {
    const token = await read_token()
     let url = '{url}dtapinew/absenkajiandt?token='+token+'&type=out'

     const fnd = document.querySelector('.finder').value
     const dte = document.querySelectorAll('.date')
    if (fnd != '') {
      dt.destroy()
      url = "{url}dtapinew/absenkajiandt?token='+token+'&type=out&term=" + fnd
    } else if(dte[0].value != '' && dte[1].value != ''){
      dt.destroy()
      url = "{url}dtapinew/absenkajiandt?token='+token+'&type=out&s_date=" + dte[0].value + "&e_date=" + dte[1].value
    } else {
      $('.table-main').DataTable().destroy()
    }

  
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
            const opt = { hour: 'numeric', minute: 'numeric', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
            const tgl = `${row.AbsenTgl} ${row.AbsenTime}`
            return (new Date(tgl)).toLocaleDateString('id-Id',opt)
          } } 
        ]

      });
  }

 load_me()

 $(".date").datepicker({
  format: 'yyyy-mm-dd'
 })
</script>

{footer}