{header}
<div class="main-content-inner">
  <div class="main-content-inner-child">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-7 mb-2">
        <h2 class="mb-0">Izin Telat</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 mb-2">

      </div>
      <div class="col-md-6 mb-2">
        <div class="add-section">
          <div class="row align-items-center">
            <div class="col-6">
              Add Izin Telat
            </div>
            <div class="col-6 text-right">
              <a href="#add" class="btn btn-success" data-toggle="modal">
                <i class="ico ico-user-add sub mr-1"></i> Add
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-main nowrap" style="width:100%">
      <thead>
        <tr>
          <td scope="col" class="text-2 medium text-center" style="width:85px ;">No</td>
          <td scope="col" class="text-2 medium text-center">Date</td>
          <td scope="col" class="text-2 medium text-center">Duration</td>
          <td scope="col" class="text-2 medium text-center">Status</td>
          <td scope="col" class="text-2 medium text-center">Reason</td>
        </tr>
      </thead>
      <tbody>
        <!--<tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">22/11/2022</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Awaiting Approval</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">
                Detail
              </a>
            </td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">2</td>
            <td class="text-center">22/11/2022</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Approve</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">
                Detail
              </a>
            </td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">3</td>
            <td class="text-center">22/11/2022</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Rejected</td>
            <td class="text-center">
              <a href="#detail" data-toggle="modal">
                Detail
              </a>
            </td>
          </tr>-->
      </tbody>
    </table>

  </div>
</div>
</div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Add Izin Telat</h5>

      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label>Date</label>
            <div class="inline-group">
              <input type="text" class="form-control tgl late" placeholder="Start Date" data-key="StartDate">
              <i class="ico ico-calendar"></i>
            </div>
          </div>

          <div class="form-group">
            <label>Duration</label>
            <select class="select late" data-key="Duration">
              <option></option>
              <option value="0.25">15 Menit</option>
              <option value="0.5">30 Menit</option>
              <option value="1">1 Jam</option>
              <option value="2">2 Jam</option>
              <option value="3">3 Jam</option>
            </select>
          </div>
          <div class="form-group">
            <label>Reason</label>
            <textarea class="form-control late" cols="30" rows="4" data-key="Reason"></textarea>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-success btn-lg px-4" onclick="save_me()">
              <i class="ico ico-save sub mt-1"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detail -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">
          <i class="ico ico-back"></i>
        </button>
        <h5 class="modal-title text-primary pl-2">Reason</h5>

      </div>
      <div class="modal-body reason">

      </div>
    </div>
  </div>
</div>

<script>

  $('.tgl').datepicker({
    format: 'yyyy-mm-dd'
  });

  async function load_reason(id) {
    const col = document.querySelector('.reason')
    col.innerHTML = ''
    const req = await fetch('{url}dtapi/emplatedata?id=' + id)
    const res = await req.json()
    if (req.ok) {
      col.innerHTML = res.data[0].Reason
    }
  }

 
  let dt = ''


  async function load_me() {

    const token = await read_token()
    let url = "{url}dtapi/dtemplate?token="+token
    const fnd = document.querySelector('.finder').value 
    if (fnd != '') {
      dt.destroy()
      url = "{url}dtapi/dtemplate?token="+token+"&term=" + fnd
    } else {
      $('.table-main').DataTable().destroy()
    }

  
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "StartDate" },
          { "data": "Duration" },
          { "data": "ApprovalStatus" },
          { "data": "Reason" }
        ]

      });
    
  }

  load_me()

  async function save_me() {
    const late = document.querySelectorAll('.late')
    const fd = new FormData
    let stop = 0
    late.forEach((e) => {
      if(e.value == ''){
        stop++
      }
      fd.append(e.dataset.key, e.value)
    })
    const hdr = new Headers
    const token = await read_token()
    hdr.append('Authorization', token)
    if(stop == 0){
    const req = await fetch('{url}dtapi/emplateadd', {
      method: 'POST',
      body: fd,
      headers: hdr
    })
    if (req.ok) {
      location.reload()
    } else {
      alert('ijin telat untuk tanggal hari ini sudah ada atau untuk bulan ini sudah 2 kali')
    }
  } else {
     alert('whoops! data kosong')
  }

  }

</script>

{footer}