{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7 mb-2">
          <h2 class="mb-0">Late Approval</h2>
        </div>
 
      </div>
      <div class="row align-items-center mt-4">
        <div class="col-md-6 mb-2">
          <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal" onclick="set_date()">
            <i class="ico ico-filter sub"></i> FILTER
          </a>
        </div>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-2 medium text-center">No</td>
            <td scope="col" class="text-2 medium text-center">Employee Name</td>
            <td scope="col" class="text-2 medium text-center">Date</td>
            <td scope="col" class="text-2 medium text-center">Duration</td>
            <td scope="col" class="text-2 medium text-center">Status</td>
            <td scope="col" class="text-2 medium text-center">Action</td>
          </tr>
        </thead>
        <tbody>
         <!--<tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">22/11/2022</td>
            <td class="text-center">22</td>
            <td class="text-center">Awaiting Approval</td>
            <td class="text-center">
              <a href="#" class="btn btn-success btn-sm rounded-sm mx-1">APPROVED</a>
              <a href="#" class="btn btn-danger btn-sm rounded-sm mx-1">REJECTED</a>
            </td>
          </tr>-->
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      <form action="#">
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control dates" placeholder="Start Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="text" class="form-control dates" placeholder="End Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Status</label>
          <select class="dates"> 
            <option value="0">Awaiting Approval</option>
            <option value="1">Approved</option>
            <option value="2">Rejected</option> 
          </select>
        </div>
        <div class="text-center mt-5">
          <button type="button" class="btn btn-success btn-lg px-4" onclick="chk()" data-dismiss="modal">
            <i class="ico ico-filter sub mt-1"></i> APPLY FILTER
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script>

function chk(){
    const dte = document.querySelectorAll('.dates')
    const btn = document.querySelector('.btn-filter')
     let dtes = 0
     for(const item of dte){
       if(item.value == ''){
         dtes++
       }
     }
     if(dtes > 0){
        alert('filter tidak lengkap')
     } else {
       load_me()
     }
  }

function set_date()
{
   $('.dates').datepicker({
    format: 'yyyy-mm-dd'
   })
}


    let dt = ''
   async function load_me()
  {
     const token = await read_token()
     let url = '{url}dtapinew/lateapprvdt?token='+token

     const fnd = document.querySelector('.finder').value
     const dte = document.querySelectorAll('.dates')
    if (fnd != '') {
      dt.destroy()
      url = "{url}dtapinew/lateapprvdt?token="+token+"&term=" + fnd
    } else if(dte[0].value != '' && dte[1].value != ''){
      dt.destroy()
      url = "{url}dtapinew/lateapprvdt?token="+token+"&s_date=" + dte[0].value + "&e_date=" + dte[1].value + "&x_date=" + dte[2].value
    } else {
      $('.table-main').DataTable().destroy()
    }

  
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": "EmpName" },
          { "data": (row)=>{
            const opt = { hour: 'numeric', minute: 'numeric', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
            const tgl = `${row.StartDate}`
            return (new Date(tgl)).toLocaleDateString('id-Id',opt)
          } },
          { "data": "Duration" }, 
          { "data": "ApprovalStatus" },
          { "data": (row)=>{
             return `<a href="#" class="btn btn-success btn-sm rounded-sm mx-1" onclick="setStatus(1,${row.Id})">APPROVED</a>
              <a href="#" class="btn btn-danger btn-sm rounded-sm mx-1" onclick="setStatus(2,${row.Id})">REJECTED</a>`
          } },
        ]

      });
  }

 load_me()


 async function setStatus(status,id)
 {
    const ask = confirm('yakin akan mengubah status?')
    if(ask){
        const req = await fetch('{url}dtapinew/lateapprovalstatus?status=' + status + '&id=' + id)
        const res = await req.json()
       if(req.ok){
           dt.ajax.reload()
       }
    }
    
 }

</script>

{footer}