{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <h2 class="mb-5">Attendance and Daily Report</h2>
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="maps-location"></div>
        </div>
        <div class="col-md-6 text-center">
          <p>Lokasi Anda</p>
          <div class="h4 address-name mb-5"></div>
          <button class="btn btn-warning btn-lg attnd" onclick="attend_me()">ABSEN MASUK SEKARANG</button>
        </div>
      </div>
    </div>

  </div>
</div>
</div>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4Ah0LbR1ArWtKBbXUZm6Sovv85JDlqU"></script>
<script>
var x = $('.maps-location');
let latitude = ''
let longitude = ''
if (navigator.geolocation) {
  const btn = document.querySelector('.attnd')
  btn.setAttribute('disabled',true)
  btn.innerText = 'menunggu...'
  navigator.geolocation.getCurrentPosition(showPosition, showError);
} else {
  $('.maps-location').html('Geolocation is not supported by this browser.')
}
function showPosition(position) {
  var map = '<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ' +
    'src="https://maps.google.com/maps?q=' + position.coords.latitude + ',' + position.coords.longitude + '&id=es&z=14&amp;output=embed"> ' +
    '</iframe>';
  x.append(map);

  /* Current Coordinate */
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;
  latitude = lat;
  longitude = lng
  var google_map_pos = new google.maps.LatLng(lat, lng);

  /* Use Geocoder to get address */
  var google_maps_geocoder = new google.maps.Geocoder();
  google_maps_geocoder.geocode(
    { 'latLng': google_map_pos },
    function (results, status) {
      if (status == google.maps.GeocoderStatus.OK && results[0]) {
        // console.log(results[0].formatted_address);
        $('.address-name').html(results[0].formatted_address);
      }
    }
  );
  const btn = document.querySelector('.attnd')
  btn.removeAttribute('disabled')
  btn.innerText = 'Absen Pulang Sekarang'
}
function showError(error) {
  switch (error.code) {
    case error.PERMISSION_DENIED:
      x.html('User denied the request for Geolocation.')
      break;
    case error.POSITION_UNAVAILABLE:
      x.html('Location information is unavailable.')
      break;
    case error.TIMEOUT:
      x.html('The request to get user location timed out.')
      break;
    case error.UNKNOWN_ERROR:
      x.html('An unknown error occurred.')
      break;
  }
}


async function attend_me()
{

  const fd = new FormData

  const local = localStorage.getItem('attendance')
  const attnd = (JSON.parse(local)).data
  const {WorkingType,AttendanceType,AttendanceTime} = attnd

  fd.append('Latitude',latitude)
  fd.append('Longitude',longitude)
  fd.append('WorkingType',WorkingType)
  fd.append('AttendanceType',AttendanceType)
  fd.append('AttendanceTime',AttendanceTime)

  const hdr = new Headers
  const token = await read_token()
  hdr.append('Authorization',token)

  const req = await fetch('{url}dtapi/memberattendance',{
    method: 'POST',
    body: fd,
    headers: hdr
  })
  if(req.ok){
    alert('absen pulang berhasil')
    location.href = '{url}intranet/home' 
  }
}

</script>

{footer}