{header}

<div class="main-content-inner">
    <div class="main-content-inner-child">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-7 mb-2">
          <h2 class="mb-0">Overtime</h2>
        </div>
        <div class="col-lg-4 col-md-5 mb-2">
          <div class="form-material">
           
          </div>
        </div>
      </div>
      <div class="mb-2"></div>
      <div class="row align-items-center">
        <div class="col-md-6 mb-2">
          <a href="#filter" class="btn btn-primary btn-icon" data-toggle="modal" onclick="open_me2()">
            <i class="ico ico-filter sub"></i> FILTER
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <div class="add-section">
            <div class="row align-items-center">
              <div class="col-6">
                Add Overtime
              </div>
              <div class="col-6 text-right">
                <a href="#add" class="btn btn-success" data-toggle="modal"onclick="open_me()" >
                  <i class="ico ico-user-add sub mr-1"></i> Add
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-main nowrap" style="width:100%">
        <thead>
          <tr>
            <td scope="col" class="text-2 medium text-center">No</td>
            <td scope="col" class="text-2 medium text-center">Date</td>
            <td scope="col" class="text-2 medium text-center">Time Start</td>
            <td scope="col" class="text-2 medium text-center">Time End</td>
            <td scope="col" class="text-2 medium text-center">Reason</td>
            <td scope="col" class="text-2 medium text-center">Total of Overtime Hours</td>
            <td scope="col" class="text-2 medium text-center">File</td>
            <td scope="col" class="text-2 medium text-center">Status</td>
          </tr>
        </thead>
        <tbody>
          <!--<tr>
            <td class="text-center" style="width: 60px;">2</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">2 Hours 34 Minutes</td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">Approved</td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">1</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">2 Hours 34 Minutes</td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">Submited</td>
          </tr>
          <tr>
            <td class="text-center" style="width: 60px;">3</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">Lorem Ipsum</td>
            <td class="text-center">2 Hours 34 Minutes</td>
            <td class="text-center">
              <a href="#">
                <i class="ico ico-download"></i>
              </a>
            </td>
            <td class="text-center">Rejected</td>
          </tr>-->

        </tbody>
      </table>

    </div>
  </div>
</div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="add" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Add Overtime</h5>

    </div>
    <div class="modal-body">
        <div class="form-group">
          <label>Date</label>
          <div class="inline-group">
            <input type="text" id="tgl" class="form-control overtime" placeholder="" data-key="OvertimeDate">
            <i class="ico ico-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label>Time Start</label>
          <div class="inline-group">
            <input type="time" onblur="duration()" class="form-control overtime duration" value="16:32" data-key="Start">
            <i class="ico ico-time"></i>
          </div>
        </div>
        <div class="form-group">
          <label>Time End</label>
          <div class="inline-group">
            <input type="time" onblur="duration()" class="form-control overtime duration" value="16:32" data-key="Finish">
            <i class="ico ico-time"></i>
          </div>
        </div>
        
        <div class="form-group">
          <label>Reason</label>
          <input type="text" class="form-control overtime" placeholder="Reason" data-key="Reason">
        </div>
        <div class="form-group">
          <label>Total of Overtime Hours</label>
          <input type="text" class="form-control total-time" value="" disabled>
          <input type="hidden" id="hours" class="overtime" data-key="Hours">
        </div>

        <div class="form-group">
          <label>Attachment</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input overtime" id="overtimefile" data-key="Clockify">
            <label class="custom-file-label" for="overtimefile">
              <span class="label-upload">Upload Attachment</span>
            </label>
          </div>
        </div>
        <div class="text-center">
          <button data-dismiss="modal" class="btn btn-danger btn-lg px-4">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button data-dismiss="modal" type="button"  onclick="save_me()" class="btn-save btn btn-success btn-lg px-4">
            <i class="ico ico-save sub mt-1"></i> APPLY
          </button>
        </div>
      
    </div>
  </div>
</div>
</div>

<!-- Modal Filter -->
<div class="modal fade" id="filter" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Filter</h5>

    </div>
    <div class="modal-body">
      
        <div class="form-group">
          <label>Date</label>
          <div class="d-flex align-items-center">
            <div class="w-100">
              <div class="inline-group">
                <input type="text" id="tgl1" class="form-control dates" placeholder="Start Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
            <div class="ww-01"></div>
            <div class="w-100">
              <div class="inline-group">
                <input type="text" id="tgl2" class="form-control dates" placeholder="End Date">
                <i class="ico ico-calendar"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-5">
          <button data-dismiss="modal" class="btn btn-danger btn-lg px-4">
            <i class="ico ico-cancel sub mt-1"></i> CANCEL
          </button>
          <button type="button" data-dismiss="modal" class="btn btn-success btn-lg px-4" onclick="chk()">
            <i class="ico ico-filter sub mt-1"></i> APPLY FILTER
          </button>
        </div>
     
    </div>
  </div>
</div>
</div>

<!-- Modal Detail -->
<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">
        <i class="ico ico-back"></i>
      </button>
      <h5 class="modal-title text-primary pl-2">Reason Detail</h5>
    </div>
    <div class="modal-body">
      <p class="text-ceter">
        Lorem Ipsum dolor sit amet constecturer. Lorem Ipsum
        dolor sit amet constecturer.
      </p>

    </div>
  </div>
</div>
</div>

<script>

  
function chk(){
    const dte = document.querySelectorAll('.dates')
    const btn = document.querySelector('.btn-filter')
     let dtes = 0
     for(const item of dte){
       if(item.value == ''){
         dtes++
       }
     }
     if(dtes > 0){
        alert('filter tidak lengkap')
     } else {
       load_me()
     }
  }
 
let dt = ''
   async function load_me()
  {
    const token = await read_token()
     let url = '{url}dtapinew/overtimedt?token='+token

     const fnd = document.querySelector('.finder').value
     const dte = document.querySelectorAll('.dates')
    if (fnd != '') {
      dt.destroy()
      url = "{url}dtapinew/overtimedt?token="+token+"&term=" + fnd
    } else if(dte[0].value != '' && dte[1].value != ''){
      dt.destroy()
      url = "{url}dtapinew/overtimedt?token="+token+"&s_date=" + dte[0].value + "&e_date=" + dte[1].value
    } else {
      $('.table-main').DataTable().destroy()
    }

  
      dt = $('.table-main').DataTable({
        "dom": '<<"dt-topbar" if><"t-scool" <t>><"dt-bot-bar" lp>>',
        "language": {
          "emptyTable": "Data kosong",
          "zeroRecords": "Data tidak ditemukan",
          "paginate": {
            "previous": "<span class='icon-fi-sr-caret-left'></span>",
            "next": "<span class='icon-fi-sr-caret-right'></span>",
          }
        },
        "info": false,
        "ordering": false,
        "ajax": {
          "url": url,
          "type": "POST"
        },
        "processing": true,
        "serverSide": true,
        "columnDefs": [
          { className: "text-center", targets: "_all" }
        ],
        "columns": [
          { "data": "No" },
          { "data": (row)=>{
            const opt = {  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
            return (new Date(row.OvertimeDate)).toLocaleDateString('id-Id',opt)
          } },
          { "data": "Start" }, 
          { "data": "Finish" },
          { "data": "Reason" },
          { "data": (row)=>{
            const menit = row.Hours
            const sisa = Math.ceil(menit % 60)
            const jam = Math.ceil((menit - sisa) / 60)
            return `${jam} jam ${sisa} menit`
          } },
          { "data": (row)=>{
             if(row.Clockify == null){
               return 'tidak ada file diupload'
             } else {
              const urls = ('{url}').replace('/website','')
               return ` <a href="${urls}uploads/${row.Clockify}" target="_BLANK">
                <i class="ico ico-download"></i>
              </a>`
             }
          } },
          { "data":'Status' }
        ]

      });
  }

 load_me()

    async function save_me()
    {
      document.querySelector('.btn-save').setAttribute('data-dismiss','modal')
        const fd = new FormData
        const hdr = new Headers
        const token = await read_token()
        hdr.append('Authorization',token)
        const data = document.querySelectorAll('.overtime')
        let empt = 0
        for(const item of data){
         
            if(item.dataset.key == 'Clockify'){
              if(item.files == null){
                empt++
              }
              fd.append(item.dataset.key,item.files[0])
            } else {
              if(item.value == ''){
                empt++
              }
              fd.append(item.dataset.key,item.value)
            }
         
        }
        if(empt == 0){
          const req = await fetch('{url}dtapinew/overtimeadd',{
            method: 'POST',
            body: fd,
            headers: hdr
        })
        if(req.ok){
           alert('berhasil menyimpan data')
           dt.ajax.reload()
           for(const item of data){
              if(item.dataset.key == "Finish" || item.dataset.key == "Start"){
                 item.value = "00:00"
              } else if(item.dataset.key == "Clockify"){
                item.value = null
                const fileinput = $('.custom-file').find('.custom-file-label')
                $(fileinput).html(`<span class="label-upload">Upload Attachment</span>`)
              } else {
                 item.value = ''
              }
           }
           document.querySelector('.total-time').value = ''
        }
        } else {
          
          document.querySelector('.btn-save').removeAttribute('data-dismiss')
          alert('data kosong')
        }
       
    }
</script>

<script>

      function open_me2(){
        $('#tgl1').datepicker({
        format: 'yyyy-mm-dd'
      })
      $('#tgl2').datepicker({
        format: 'yyyy-mm-dd'
      })
      }

      function open_me(){
        $('#tgl').datepicker({
        format: 'yyyy-mm-dd'
      }).on('changeDate',(e)=>{
         duration()
      })
      }

      function duration(){
         const dur = document.querySelectorAll('.duration')
         const tgl = document.querySelector('#tgl').value
         const start = Date.parse(tgl + ' ' + dur[0].value)
         const finish = Date.parse(tgl + ' ' + dur[1].value)
         const selisih = finish - start
         document.querySelector('#hours').value = 0
         if(selisih <= 0 || tgl == ''){
            document.querySelector('.total-time').value = 'jam salah'
            document.querySelector('.btn-save').setAttribute('disabled','true')
         } else {
            const menit = selisih / (60 * 1000)
            const sisa = Math.ceil(menit % 60)
            const jam = Math.ceil((menit - sisa) / 60)
            document.querySelector('.total-time').value = `${jam} jam ${sisa} menit`
            document.querySelector('.btn-save').removeAttribute('disabled')
            document.querySelector('#hours').value = menit
         }
         console.log(tgl + ' ' + dur[0].value)
      }

</script>

{footer}